<!-- Author: Ryan Fisher
**** Created: [07/17/2015]
**** Description: About Exec Page
**** Associated Files: about_exec.html, about_exec.less, about_exec_logic.js
-->

<template name="about_exec">
  <!--Page wrapper-->
  <div class="exec">
    <!--Main page header -->
    <div class="exec_header">
      <span class="exec_blue"><b>I</b></span>
      <span class="exec_white"><b>ABOUT MARK ZUCKERBERG</b></span>
    </div>
    <!--Main page body -->
    <div class="exec_body">

      <!--Featured executive section -->
      <div class="exec_body_featured">
        <!--Featured executive info header-->
        <div class="exec_body_featured_header">
          <i class="fa fa-circle exec_blue"></i>
          <span><b>COLLEGE RIVALS</b></span>
        </div>
        <!--Featured executive info-->
        <div class="exec_body_featured_info exec_white">
          <!--Featured executive info description-->
          <div class="exec_body_featured_info_description">
            <span><b>Who were Zuckerberg's college rivals?</b></span>
          </div>
          <!--Featured executive education location-->
          <div class="exec_body_featured_info_education-location">
            <i class="fa fa-map-marker exec_blue"></i>
            <span>Harvard University - Cambridge, MA</span>
          </div>
          <!--Featured executive images-->
          <div class="exec_body_featured_info_main-image"></div>
          <div class="exec_body_featured_info_sub-image"></div>
          <!--Featured executive name-->
          <div class="exec_body_featured_info_name">
            <span><b>Mark Zuckerberg</b></span>
          </div>
          <!--Featured executive education info first line-->
          <div class="exec_body_featured_info_education-line1">
            <span>Harvard University | Attended: 2002 - 2004</span>
          </div>
          <!--Featured executive education info second line-->
          <div class="exec_body_featured_info_education-line2">
            <span>Computer Science - BS | Graduated: No</span>
          </div>
          <!--Featured executive view all button-->
          <div class="exec_body_featured_info_view-all exec_white">
            <span class="exec_body_featured_info_view-all_text">View All College Rivals</span>
            <i class="fa fa-mail-forward exec_body_featured_info_view-all_icon"></i>
          </div>
        </div>
        <!--Featured executive left button-->
        <div class="exec_body_featured_left-button">
          <i class="fa fa-angle-left exec_body_featured_left-button_icon exec_white"></i>
        </div>
        <!--Featured exeuctive right button-->
        <div class="exec_body_featured_right-button">
          <i class="fa fa-angle-right exec_body_featured_right-button_icon exec_white"></i>
        </div>
      </div>


      <!--List of other execs -->
      <div class="exec_body_list">
        <!--First single exec list item-->
        <div class="exec_body_list_single">
          <!--List item circle image-->
          <div class="exec_body_list_single_image"></div>
          <!--List item top line - name-->
          <div class="exec_body_list_single_name">
            <span>Tony Hsieh</span>
          </div>
          <!--List item middle line - company and position-->
          <div class="exec_body_list_single_position">
            <span class="exec_blue"><b>Zappos, Inc.</b></span>
            <span> - Cheif Executive Officer</span>
          </div>
          <!--List item bottom line - education-->
          <div class="exec_body_list_single_education">
            <span>Computer Science - <b>BS</b> | Class of: <b>1995</b></span>
          </div>
          <!--List item view more button-->
          <div class="exec_body_list_single_view-more">
            <i class="fa fa-chevron-right"></i>
          </div>
        </div>
        <!--Second single exec list item-->
        <div class="exec_body_list_single">
          <!--List item circle image-->
          <div class="exec_body_list_single_image"></div>
          <!--List item top line - name-->
          <div class="exec_body_list_single_name">
            <span>Lloyd Bkankfein</span>
          </div>
          <!--List item middle line - company and position-->
          <div class="exec_body_list_single_position">
            <span class="exec_blue"><b>Goldman Sachs</b></span>
            <span> - Cheif Executive Officer</span>
          </div>
          <!--List item bottom line - education-->
          <div class="exec_body_list_single_education">
            <span>Harvard School of Law - <b>JD</b> | Class of: <b>1978</b></span>
          </div>
          <!--List item view more button-->
          <div class="exec_body_list_single_view-more">
            <i class="fa fa-chevron-right"></i>
          </div>
        </div>
        <!--Third single exec list item-->
        <div class="exec_body_list_single">
          <!--List item circle image-->
          <div class="exec_body_list_single_image"></div>
          <!--List item top line - name-->
          <div class="exec_body_list_single_name">
            <span>Steve Ballmer</span>
          </div>
          <!--List item middle line - company and position-->
          <div class="exec_body_list_single_position">
            <span class="exec_blue"><b>Microsoft Corp</b></span>
            <span> - Cheif Executive Officer</span>
          </div>
          <!--List item bottom line - education-->
          <div class="exec_body_list_single_education">
            <span>Harvard School of Business - <b>MBA</b> | Class of: <b>1970</b></span>
          </div>
          <!--List item view more button-->
          <div class="exec_body_list_single_view-more">
            <i class="fa fa-chevron-right"></i>
          </div>
        </div>
      </div>

    </div><!--End Main body-->

    <!--Modules to the right of the module-->
    <div class="exec_links">
      <!--Top box-->
      <div class="module-tile">
        <div class="module-tile-default">
          <div class="module-tile-default-container">
            <div class="module-tile-default-icon">
              <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="module-tile-default-text">
              Education History
            </div>
          </div>
        </div>
        <a class="module-tile-link" href="#">
          <div class="module-tile-hover">
            <div class="module-tile-name">
              <i class="fa fa-calculator"></i>Edu. History
            </div>
            <div class="module-tile-info"></div>
            <button class="module-tile-button">OPEN PAGE <i class="fa fa-graduation-cap"></i></button>
          </div>
        </a>
      </div>
      <!--Middle box-->
      <div class="module-tile">
        <div class="module-tile-default">
          <div class="module-tile-default-container">
            <div class="module-tile-default-icon">
              <i class="fa fa-info-circle"></i>
            </div>
            <div class="module-tile-default-text">
              Bio
            </div>
          </div>
        </div>
        <a class="module-tile-link" href="#">
          <div class="module-tile-hover">
            <div class="module-tile-name">
              <i class="fa fa-info-circle"></i>Bio
            </div>
            <div class="module-tile-info"></div>
            <button class="module-tile-button">OPEN PAGE <i class="fa fa-info-circle"></i></button>
          </div>
        </a>
      </div>
      <!--Bottom box-->
      <div class="module-tile">
        <div class="module-tile-default">
          <div class="module-tile-default-container">
            <div class="module-tile-default-icon">
              <i class="fa fa-comments"></i>
            </div>
            <div class="module-tile-default-text">
              FAQs
            </div>
          </div>
        </div>
        <a class="module-tile-link" href="#">
          <div class="module-tile-hover">
            <div class="module-tile-name">
              <i class="fa fa-comments"></i>FAQs
            </div>
            <div class="module-tile-info"></div>
            <button class="module-tile-button">OPEN PAGE <i class="fa fa-comments"></i></button>
          </div>
        </a>
      </div>
    </div>
  </div><!--End Page wrapper-->
</template>
