<!--
Author: [Thanush Subramanian Elango]
Created: [07/15/2015]
Description: [daily_update]
Associated Files: [daily_update.less][daily_update_logic.js]
-->

<template name="daily_update">
  {{#with lbInfo}}
  <!---Size of the full page!-->
  <div class="module-2" style="height:auto;">
    <!--Header!-->
    <div class="module-header">
      <!--Header line!-->
      <span class="module-header-line">
      </span>
      <span class="module-header-title">{{c_name}} Doing Well Today
      </span>
    </div>
    <div class="module-wrapper" style="height:auto">
      <!--Image Wrapper!-->
      <div class="all_daily_update_modules">
        <!--Image Wrapper!-->

        <div class="all_daily_update_modules-wrapper-image" style="background-image:url('/daily_update/daily_update.png')">
          <div class="all_daily_update_modules-wrapper-image-img1">
            <div class="all_daily_update_modules-opacity">
            </div>
            <!--Image Banner!-->
            <div class="all_daily_update_modules-banner">
              <div class= "all_daily_update_modules-text1">{{c_name}} Daily Update
              </div>
            </div>
          </div>
        </div>
        <!--Wrapper below the Image!-->
        <div class="all_daily_update_modules-wrapper-main-body">
          <!--Wrapper below the Image left side!-->
          <div class="all_daily_update_modules-wrapper-left-body">
            <div class="all_daily_update_modules-wrapper-left-body2">
              <div class= "all_daily_update_modules-regiontext">
                <span class= "all_daily_update_modules-regiontext-txt">{{c_name}}</span>
              </div>
              <!--Values in the Facebook Inc part!-->
              <div class= "all_daily_update_modules-homestext_wrapper">
                <div class= "all_daily_update_modules-homestext"> <b>${{csi_price}}</b>
                  <div class= "all_daily_update_modules-homestext_wrapper2">
                    &nbsp;
                    <span class="all_daily_update_modules-homestext_icon"><i class="fa fa-arrow-up"></i></span>
                    <span class="all_daily_update_modules-homestext2">{{csi_price_change_since_last}} ({{csi_percent_change_since_last}}%)</span>
                  </div>
                </div>
                <!--Time stamp!-->
              </div>
              <div class= "all_daily_update_modules-region-last-updated"> Last Updated {{lastUpdated}}
              </div><br>
              <!--Separator below the last updated left side!-->
              <div class="all_daily_update_modules-borderlineee">
              </div>
            </div>
            <!--Font awesome icons!-->
            <div class="all_daily_update_modules-font-icons">
              <i class="fa fa-area-chart"></i><br>
              <i class="fa fa-pie-chart"></i><br>
              <i class="fa fa-table"></i><br>
              <i class="fa fa-bar-chart"></i>
            </div>
            <!--The Avg values to be plugged in!-->
            <div class="all_daily_update_modules-Area-stats">
              Market Cap:<br>
              PE Ratio:<br>
              Total Shares:<br>
              Average Volume:<br>
            </div>
            <div class="all_daily_update_modules-Area-stats-values">
              {{csi_market_cap}}<br>
              {{csi_pe_ratio}}<br>
              {{csi_total_shares}}<br>
              {{csi_trading_vol}}</div>
            </div>
            <!--Wrapper below the Image right side!-->
            <div class="all_daily_update_modules-wrapper-right-body">
              <div class="all_daily_update_modules-wrapper-right-main-body2">
                <div class="all_daily_update_modules-wrapper-right-body2">
                  <div class="all_daily_update_modules-wrapper-right-body2-text">
                    {{c_name}} Stock Graph
                  </div>
                </div>
              </div>
              <!--Graph Plugin(High Charts)!-->
              <div class="all_daily_update_modules-wrapper-graph">
                {{> highchartsHelper chartId="container" chartWidth="100%" chartHeight="100%" chartObject=dailyupdategraphh}}
              </div>
              <!--Buttons Below the Graph!-->
              <div class="all_daily_update_modules-graphbutton">
                <div class="all_daily_update_modules-graphbutton_circle1">1D</div>
                <div class="all_daily_update_modules-graphbutton_circle1">5D</div>
                <div class="all_daily_update_modules-graphbutton_circle1">1M</div>
                <div class="all_daily_update_modules-graphbutton_circle1">3M</div>
                <div class="all_daily_update_modules-graphbutton_circle1">6M</div>
                <div class="all_daily_update_modules-graphbutton_circle1">1Y</div>
                <div class="all_daily_update_modules-graphbutton_circle1">3Y</div>
                <div class="all_daily_update_modules-graphbutton_circle1">5Y</div>
              </div>
            </div>
          </div>
          <!--Profile Feeds wrapper!-->
          {{#with aiInfo}}
          <div class="all_daily_update_modules-wrapper-main-bottom">
            <div class="all_daily_update_modules-wrapper-bottom-left">
              <!--Profile Feeds image!-->
              <div class=" all_daily_update_modules-wrapper-image-circle">
              </div>
            </div>
            <!--Profile Feeds image text box!-->
            <div class=" all_daily_update_modules-Profile-image-Text-Box">
              <div style="width:525px; height:20px; margin-bottom:3px;">
                <!--Profile Feeds font awesome icon! Profile Feeds time stamp!
                <div class="all_daily_update_modules-Font-icons2"><i class="fa fa-calendar-o"></i></div>

                <div class="all_daily_update_modules-Date-text">
                  {{lastUpdated}}
                </div>
                -->
              </div>
              <!--Profile Feeds !-->
              <div class="all_daily_update_modules-profile-text">
                {{content}}</div>
                <!--Profile Feeds Continue reading Link!
                <div class="all_daily_update_modules-profile-text-blue">Continue Reading Story
                </div>
                -->
              </div>
            </div>
            {{/with}}
          </div>
        </div>
      </div>
      {{/with}}
    </template>
