<!--
Author: jyothyswaroop
Created: 08/10/2015
Description: co_competitor page
Associated Files: co_competitor_logic.js and co_competitor.less
-->
<!--Gave a template name stock_disclaimer_page !-->
<template name="co_competitor">
<!--Defined a class name globally for height and width !-->
<div class= "co_comp">
  <!--gave the dimensions for the module with total height and width !-->
  <div class = "co_comp-n_m">
    {{#with companyInfo}}
    <a href="{{url}}">
      <div class="excmp-return">
        <div class="excmp-return-button">
          <i class="fa fa-mail-reply"></i>
        </div>
        <div class="excmp-return-triangle"></div>


        Go Back To <span class="excmp-b">{{c_name}}'s</span> Company Profile
      </div>
    </a>

    <div class="co_comp-header-container">
      <div class="co_comp-header-container-image" style="background-image:url('{{imageUrl c_logo}}')">

      </div>
      <div class="co_comp-header-container-text">
        <div class="co_comp-header-container-text-date">
          LAST UPDATED: {{csi_price_last_updated}}
        </div>
        <div class="co_comp-header-container-text-location">
          <a href="{{locurl}}">
            <i class="fa fa-map-marker"></i>
            {{c_hq_city}}, {{c_hq_state}}</a>
        </div>
        <div class="co_comp-header-container-text-name">
          The Biggest Competitors<br>
          For {{c_name}}
        </div>
      </div>
    </div>

    <div class="co_comp-m_c">
      <div class="co_comp-bar">
        <div class="co_comp-bar-title">
        <div class="co_comp-bar-helper">
          {{c_name}}'s
        </div>
        <div class="co_comp-bar-side">Competitors </div>
        </div>
        <!--<div class="co_comp-bar-button">
          <a href="#"><i class="fa fa-heart"></i><span class="co_comp-bar-text">Save</span></a>
        </div>-->
        <!--<a href="{{share_company_competitor_url}}">
          <div class="co_comp-bar-button">
            <i class="fa fa-share-alt"></i><span class="co_comp-bar-text">Share</span>
          </div>
        </a>-->
        </div>
      <!-- the module.less file navigation buttons
      <button class='co_comp-lefthov'><i class="fa fa-angle-left fa-2x" ></i></button>
      <button class='co_comp-righthov'><i class="fa fa-angle-right fa-2x"></i></button>-->
      <!-- end of the module.less navigation button -->
      <!-- wrapper class-->
      <div class="co_comp-m_c-image-wr">
        <div class="co_comp-m_c-image" style="background-image: url('{{imageUrl c_logo}}')">
          <div class="co_comp-m_c-sma_ct">
          <div class="co_comp-m_c-sma_cr" style="background-image:url('{{exchange c_exchange}}')">

          </div>
        </div>
        </div>
      </div>
      <!-- the main container -->
      <ul class="co_comp-m_c-cr">
        <!-- the image in blue circle-->
        <li class="co_comp-m_c-title">
          <div class="co_comp-m_c-title-image"><i class="fa fa-building-o"></i>
              <span class="co_comp-m_c-title-text"> {{c_name}} </span>
          </div>
        </li>
          <!--the follow('fbt') and share  !-->

          <!--<div class="co_comp-fbt1">
            <a href="#"><i class="co_comp-fbt1-font1 fa fa-heart"></i><span class="co_comp-fbt1-text1">Save</span></a>
          </div>-->
          <!--<a href="{{share_company_url}}">
            <div class="co_comp-fbt1 co_comp-fbt2">
              <i class="co_comp-fbt1-font1 fa fa-share-alt"></i><span class="co_comp-fbt1-text1">Share</span>
            </div>
          </a>-->

        <!-- the description about the person-->
        <li class="co_comp-m_c-dp">
          <div class="co_comp-m_c-dp-dpct">
          {{c_desc}}
        </div>
            <div class="co_comp-m_c-dp-itl co_comp-m_c-dp-it2">
      {{c_name}} <span class="co_comp-m_c-dp-dpct">is currently priced at: <br></span>
      <span class="co_comp-m_c-dp-itl">${{csi_price}} </span>
      <span class="co_comp-m_c-dp-itl co_comp-m_c-dp-it4" style="color: {{changeColor csi_price_last_operator}}"> <i class=" fa {{changeIcon csi_price_last_operator}}"></i></span>  <span class="co_comp-m_c-dp-itl co_comp-m_c-dp-it5" style="color:{{changeColor csi_price_last_operator}}">{{csi_price_change_since_last}} ({{csi_percent_change_since_last}}%) </span>
            </div>
          <!-- </div> -->
        </li>
      </ul>
      <!-- the bottom bar-->
      <div class="co_comp-m_c-view_more">
        <!-- the details about the comapny-->
        <div class="co_comp-m_c-view_more-text">
          <div class="co_comp-m_c-view_more-text-ln1">Interested in discovering more about {{c_name}}?</div>
          <div class="co_comp-m_c-view_more-text-ln2">Profile Last Updated On: <span class="co_comp-m_c-dp-itl">{{csi_price_last_updated}}</span></div>
        </div>
        <a href="{{url}}">
          <button class="co_comp-m_c-view_more-button">
            View Profile <i class="fa fa-angle-right"></i>
          </button>
        </a>
      </div>
    </div>
    <!--container for the ct1 to 'sort by' and 'what is this list?'  !-->
    <div class="co_comp-ct1">
    <!--container for the sortby !-->
    <!-- <div class="co_comp-sy">
      container for the sortby font
      <div class="co_comp-syf"> Sort by:
      <span class="co_comp-syf co_comp-sym"> Competitors: Highest Lowest <span class="co_comp-sym co_comp-chd"> <i class=" fa fa-chevron-down"></i> </span> </span>
      </div>
    </div>!-->
    <!-- contianer for the complete 'what is this list' class name is wl!-->
    <div class="co_comp-wl">
      <!-- container for the 'what is this list' class name is wl2!-->
      <div class="co_comp-wlc">
        <!-- font style for the 'what is this list'!-->
        <div class="co_comp-wlf">
        What is this page?
        <span class="co_comp-x">
         <i class="fa fa-times"></i>
        </span>
        </div>
      </div>
      <!--container for the text inside the 'what is this list' as wltxt!-->
      <div class="co_comp-wltxt">
      <!--font style for the text !-->
      <div class="co_comp-wltxtf">
        This is a page features a detailed list of all the competeing companies with {{c_name}} Competitor items include latest market cap and share value.
      </div>
      </div>
    </div>
    </div>
    {{/with}}
    <div class="co_comp-wrapper">
      <!-- The loop starts here and the each will take each data item from the items on each iteration-->
      {{#each companyList}}
      <div class="co_comp-{{getBackgroundStyle}}"><br>
        <!--This is the main (circle) image-->
        <a href="{{url}}">
          <div class="co_comp-head-circ">
            <div class="co_comp-head-image" style="background-image:url('{{imageUrl c_logo}}')">
              <!-- Here displays the counter number which is a result of each loop-->
              <div class="hover">
                <div class="hover-txt1">
                  View
                </div>
                <div class="hover-txt2">
                  Profile
                </div>
              </div>
              <span class="co_comp-counter">#{{rank}}</span>
              <span class="co_comp-counter2" style="background-image:url('{{exchange c_exchange}}')"><div class="hover"></div></span>
            </div>
          </div>
        </a>
        <!--Location title -->
        <div class="co_comp-sp">
          <div  class="co_comp-space">
            <!-- This displays the font awesome map sybmol infornt of the united states-->
            <i class="fa fa-map-marker"></i>
            <span  class="co_comp-space co_comp-space2">
              <a href="{{locurl}}">{{c_hq_city}} {{c_hq_state}}</a><span class="co_comp-space co_comp-space2"><i class="fa fa-angle-double-right"></i> </span>
              <a href="{{secturl}}"><span class="co_comp-space co_comp-space2"> {{c_sector}}:{{c_ticker}} </span></a>
            </span>
            <!-- Here displays the description which come from the each loop-->
            <div class="co_comp-adjust">{{ c_name }}</div>
            <div class="co_comp-follw3">Market Cap: <span class="co_comp-follw4"> {{market_cap}} </span> </div>
          </div>
        </div>
        <!--This displays the blue button which holds the text "View Full List"-->
        <div class="co_comp-ctmain">
          <span class="co_comp-ctmaintxt">
            Want an in-depth comparison?
          </span>
          <a href="{{url}}">
            <button class="co_comp-tile-button">
              View Profile
              <span style="margin-left:6px"><i class="fa fa-angle-right"></i></span>
            </button>
          </a>
        </div>
        <div class="co_comp-rtct">
          <div class="co_comp-rttx1"> Stock Price</div>
          <div class="co_comp-follwt">
          <span class="co_comp-follw1"> ${{csi_price}}</span>
            <span class="co_comp-follw1 co_comp-follwg" style="color:{{changeColor csi_price_last_operator}}"><i class="fa {{changeIcon csi_price_last_operator}}" style="color:{{changeColor csi_price_last_operator}}"> </i> {{csi_price_change_since_last}} ({{csi_percent_change_since_last}}%)</span>
          </div>
          <div class="co_comp-rttxg"><span class="co_comp-follws">As of {{csi_price_last_updated}}</span></div>
        </div>
        <!-- This displays the font awesome heart symbol beside the text "save"-->
        <!--<div class="co_comp-sn">
          <div  class="co_comp-save">
            <i class="fa fa-heart"></i>
            <span  class="co_comp-save co_comp-st">
              Follow
            </span>
          </div>
        </div>-->

        <!-- This displays the font awesome share symbol beside the text "share"-->
        <div class="co_comp-sh">
          <!--
          <a href="{{share_url}}">
            <div  class="co_comp-share">
              <i class="fa fa-share-alt"></i>
              <span  class="co_comp-share co_comp-sht">
                Share
              </span>
            </div>
          </a>
        -->
        </div>
        <!-- This displays the font awesome flag symbol beside the text "Feedback"-->
        <!--<div class="co_comp-fe ">
          <div  class="co_comp-share co_comp-feedback">
            <i class="fa fa-flag"></i>
            <span  class="co_comp-share co_comp-ft">
              Feedback
            </span>
          </div>
        </div>-->
      </div>
      <!--This is the End of each loop-->
    {{/each}}
</div>
  <!--created a container for the fotter  !-->
<div class="co_comp-fotter">
    {{> search_module}}
</div>

  </div>
</div>
</template>

<template name="randomstuff">
  <div class="co_comp-quotes">
    <div class="co_comp-quotes-head">Featured Tech Companies in the United States</div>
    {{#each quote}}
    <div class="co_comp-quotes-image">
      <div class="co_comp-gap1"></div>
      <div class="co_comp-quotes-image-text">
        <div class="co_comp-quotes-image-text-ln1">{{name}}</div>
          <div class="co_comp-quotes-image-text-vc">
        <span class="co_comp-quotes-image-text-ln1 co_comp-quotes-image-text-ln4">
          {{text}}
        <span class="co_comp-quotes-image-text-ln1 co_comp-quotes-image-text-ln3">
          {{text2}}
        </span>
        </span>
      </div>
      </div>
    </div>
    {{/each}}
    <div class="co_comp-quotes-arrow fa fa-angle-right"></div>
  </div>
</template>
