<!-- Author: jyothyswarooop
**** Created: [10/26/2015]
**** Description: live_updates page
**** Associated Files: live_updates.html, live_updates.less, live_updates_logic.js
-->

<template name="live_updates_page">
  <div class="lve_up">

    <!-- Back button header -->
    <div class="lve_up-hdr_back">
      <div class="lve_up-hdr_back-left"><i class="fa fa-reply"></i></div>
      <div class="lve_up-hdr_back-left-angle"></div>
      <div class="lve_up-hdr_back-txt">
        Go Back To
        <span style="font-family:HN-B">{{comp}}'s</span>
        Profile
      </div>
      <div class="lve_up-hdr_back-right"><i class="fa fa-angle-right"></i></div>
    </div>
    <!-- End back button header -->

    <!-- Main header -->
    <div class="lve_up-hdr">
      <div class="lve_up-hdr-img" style="background-image:url({{playerpic}})"></div>
      <div class="lve_up-hdr-txt">
        <div class="lve_up-hdr-updated">LAST UPDATED: {{update}}</div>
        <div class="lve_up-hdr-location">
          <i class="fa fa-map-marker"></i> {{city}}
        </div>
        <div class="lve_up-hdr-title">Live Updates</div>
        <div class="lve_up-hdr-about">For {{comp}}</div>
      </div>
    </div>
    <!-- End main header -->

    <!-- Featured section -->
    <div class="lve_up-feat">
      <div class="lve_up-feat-img">
        <div class="lve_up-feat-subimg"></div>
      </div>
      <div class="lve_up-feat-txt">
        <div class="lve_up-feat-lbl"><i class="fa fa-circle"></i> Live Updates</div>
        <div class="lve_up-feat-news0"><strong class="lve_up-feat-news">[Company]</strong>'s <span class="lve_up-feat-news2"> {{stnews}}</span></div>
        <div class="lve_up-feat-date">{{featdate}}</div>
      </div>
      <div class="lve_up-feat-next"><i class="fa fa-angle-right"></i></div>
    </div>
    <!-- End Featured section -->

    <!-- Sort bar -->
    <div class="lve_up-sort">
      <div class="lve_up-eachtab_act" onclick="lve_upTab(0)" id="lve_up-tab0"><span class="lve_up-orngicon" id="lve_up-activeicn"><i class="fa fa-circle"></i></span>Live Update Feed</div>
      {{#each yearno}}
      {{#unless isCurrent}}
      <div class="lve_up-eachtab_inact" onclick="lve_upTab({{index}})" id="lve_up-tab{{index}}">{{year}}</div>
      {{/unless}}
      {{/each}}
    </div>
    <!-- End sort bar -->
    <div class="lve_up-sortdrpdwn">
      <span style="font-family:HN-B">Sort by: </span>
      <span class="lve_up-sortdrpdwn-click">Most Recent <i class="fa fa-angle-down"></i></span>
    </div>

    <!--single transaction-->
    {{#each updates}}
    <div class="lve_up-listitem">
      <div class="lve_up-date">{{date}}</div>
      <div class="lve_up-bullet" id="bullet{{index}}">
        <div class="lve_up-innerbullet"></div>
      </div>
      <div class="lve_up-img" style="background-image:url({{img}})"></div>
      {{#if oneLine}}
      <div class="lve_up-news">{{news}} <i class="fa fa-twitter"></i></div>
      {{else}}
      <div class="lve_up-news"> <strong style="font-family: HN-B"> {{static}}</strong>'s <span class="lve_up-news2"> {{news}} </span> <span class="lve_up-news3"> {{itali}} </span> <i class="fa fa-twitter"></i></div>
      {{/if}}
    </div>
    {{/each}}
    <!--end single transaction-->

    <!--blue line-->
    <div class="lve_up-line"></div>

    {{> recommend}}
  </div>
</template>
