/*
Author: Deepika Priyanka V
Created: 07/21/2015
Description: Frequently asked questions for finance module
Associated Files: faqs_finance.html & faqs_finance.js
*/
@import "../global_vars.less";      // Importing less file for basic attributes and layouts
@import "../modules.less";

.faqs_module{

  &-layout{                  // module specification
    .module;
    height: 325px;
    border-bottom: 2px solid @blue;
    overflow: hidden;
    text-align: left;
  }

  &-tile{
    width: 100%;
    height: 55px;
    background-color:  #ffffff;
    border-bottom: 1px solid @grey-3;
    border-left: 5px solid #e1e1e1;

    &:hover{
      cursor: pointer;
    }
  }

  &-arrow{               // styling for plus icon
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: 400;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    text-align: center;

    .fa{
      display: inline-block;
      color: #666666;
    }
  }
  &-faqtext{                // styling for each question text
    font-family: HN-L;
    color:  @blue;
    font-size: 18px;
    line-height: 55px;
    margin-left: 25px;
    overflow: hidden;
    float: left;
  }
  &-subtext{            // styling for each answer text
    position: relative;
    width: 549px;
    font-family: HN;
    overflow: hidden;
    padding-bottom: 10px;
    color: @black;
    left: 40px;
    display:none;

    .fa{
      margin-right: 5px;
      color: @blue;
      font-size: 10px;
    }
  }
  &-close{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid @grey-6;
    text-align: center;
    line-height: 31px;
    display: none;
    font-size: 18px;
    color: rgba(102,102,102,0.99);
    position: relative;
    top: -5px;
  }

}
