/*Author:Ramakrishna Vaibhav kasibhatla [Ram]
Created: [06/09/2015]
Description: [Trending Realtors in Chicago,Il]
Associated Files: [Trends.less, Trenders.html, and Router.js]
*/

/*main file .less*/
.lstnws{
  &-header{
    width:100%;
    height:100px;
  }

  /*properties for the base image of location*/
  &-view-image1{
    position:relative;
    top:15px;
    left:20px;
    float:left;
    background: #fff;
    border: solid 3px #dadada;
    width:80px;
    height:80px;
    background: #dadada;
    border-radius:100%;
    background-image: url(" https://akamai-activenet012.active.com/usfkoret/servlet/downloadFile.sdi?uploadedfile_id=62");
    background-size: 150%;
    image-orientation:inherit;
  }

  /*properties for the updated date and time of the article*/
  &-date{
    padding-top: 3px;
    float: left;
    font-family: 'HelveticaNeue',helvetica;
    color:  #959595;
    font-size: 10px;
    font-weight: 500;
    text-align:left;
  }

  /*properties for the profile location*/
  &-profileloc{
    font-family: 'HelveticaNeue',helvetica;
    padding-top: 5px;
    padding-left:30px;
    float:left;
    font-weight: light;
    font-size:12px;
    color:#000;
  }

  /*properties for the profile heading*/
  &-profileheading{
    font-family: 'HelveticaNeue',helvetica;
    position: relative;
    top:20px;
    left:-110px;
    float:left;
    font-weight: bold;
    font-size:22px;
    color:#000;
    text-align: left;
  }

  /*properties for the sub heading below the main heading*/
  &-profileheading2{
    font-family: 'HelveticaNeue',helvetica;
    float:left;
    position:relative;
    top:12px;
    left:35px;
    font-weight:light;
    color:#000;
  }

  /*properties for the main big article*/
  &-main{
    border-top: 4px solid #3098ff;
    margin-right:10px;
    margin-left: 10px;
    width:660px;
    margin:auto;
    height:150px;
    background-image: url('/drk-linen.png');
  }

  /*properties for the image consisting the tweeter symbol*/
  &-view-imagetweet{
    float:right;
    border: solid 3px #3098ff;
    position: relative;
    bottom: 100px;
    right:20px;
    width:125px;
    height:125px;
    border-radius:100%;
    background-image: url("http://bloximages.newyork1.vip.townnews.com/themonitor.com/content/tncms/assets/v3/editorial/b/a6/ba68114e-fde6-11e2-b3d5-001a4bcf6878/51ffc9ba9893f.image.jpg");
    background-size: 80%;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    image-orientation:inherit;
  }

  /*properties for the images inside the small articles*/
  &-sub-images{
    position:relative;
    top:50px;
    left:10px;
    float:left;
    background: #fff;
    border: solid 3px #3098ff;
    width:50px;
    height:50px;
    background: #dadada;
    border-radius:100%;
    opacity:30%;
  }

  /*properties for article on left top*/
  &-article1{
    border-top: 4px solid #3098ff;
    position:relative;
    top:-10px;
    background-image: url('/drk-linen.png');
    margin-left: 10px;
    height:160px;
    width:325px;
  }

  /*properties for article on left middle*/
  &-article3{
    border-top: 4px solid #3098ff;
    position:relative;
    top:-20px;
    background-image: url('/drk-linen.png');
    margin-left: 10px;
    height:160px;
    width:325px;
  }

  /*properties for article in right top*/
  &-article2{
    border-top: 4px solid #3098ff;
    float:right;
    position:relative;
    top:-168px;
    background-image: url('/drk-linen.png');
    margin-right: 10px;
    height:180px;
    width:325px;
  }

  /*properties for article in right bottom*/
  &-article4{
    border-top: 4px solid #3098ff;
    float:right;
    position:relative;
    top:-155px;
    background-image: url('/drk-linen.png');
    margin-right: 10px;
    height:180px;
    width:325px;
  }

  /*properties for article in left bottom*/
  &-article5{
    border-top: 4px solid #3098ff;
    position:relative;
    top:-10px;
    background-image: url('/drk-linen.png');
    margin-left: 10px;
    height:40px;
    width:325px;
  }

  /*properties for articles consisting the buttons*/
  &-buttons{
    padding-top: 5px;
    margin-left: 3px;
    float:left;
    height: 40px;
    width: 410px;
  }

  /*properties for text head in main article*/
  &-textheading{
    padding-top: 5px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    float:left;
    height: 30px;
    width: 400px;
  }

  /*properties for text content in main article*/
  &-textcontent{
    padding-top: 5px;
    text-align: left;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    float:left;
    height: 40px;
    width: 480px;
  }

  /*properties for details of content in main article*/
  &-detailcontent{
    font-weight: lighter;
    padding-top: 5px;
    text-align: left;
    color: #fff;
    font-size: 10px;
    margin-left: 10px;
    float:left;
    height: 30px;
    width: 480px;
  }

  /*properties for buttons in sub article*/
  &-buttons1{
    padding-top: 2px;
    margin-right: 15px;
    float:left;
    height: 30px;
    width: 260px;
  }

  /*properties for headings in sub articles*/
  &-textheading1{
    padding-top: 5px;
    text-align:left;
    font-size:18px;
    font-weight:lighter;
    color: #fff;
    float:right;
    margin-right:5px;
    height: 50px;
    width: 250px;
  }

  /*properties for text content in sub articles*/
  &-textcontent1{
    padding-top: 5px;
    text-align: left;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    float:right;
    height: 20px;
    width: 250px;
  }

  /*properties for detail content in sub articles*/
  &-detailcontent1{
    font-weight: lighter;
    padding-top: 5px;
    text-align: left;
    color: #fff;
    font-size: 10px;
    margin-right: 5px;
    float:right;
    height: 30px;
    width: 250px;
  }

  /*properties for larger headings in sub articles*/
  &-textheading2{
    text-align:left;
    font-size:18px;
    font-weight:lighter;
    color: #fff;
    float:right;
    margin-right:5px;
    height: 70px;
    width: 250px;
  }

  /*properties for button placement in main article*/
  &-bts{
    float:left;
    margin-right: 5px;
    background: #3098ff;
    border-radius: 50px;
    color: #ffffff ;
    display: inline-block;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    left: 0px;
    padding: 5px 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
  }

  /*properties for main article btn hover*/
  &-bts:hover{
    background: #000000  ;
    text-decoration: none;
  }

  /*properties for button placement in sub-articles */
  &-bts1{
    float:left;
    margin-top: 3px;
    margin-left: 5px;
    background: #3098ff;
    border-radius: 50px;
    color: #ffffff ;
    display: inline-block;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    left: 0px;
    padding: 5px 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
  }

  /*properties for sub article button hover*/
  &-bts1:hover{
    background: #000000  ;
    text-decoration: none;
  }

  /*properties for +"number" images beside buttons in articles*/
  &-miniimage{
    margin-top:10px;
    padding :2px;
    font-style: bold;
    color: #fff;
    border: solid 1px #3098ff;
    position:relative;
    top:5px;
    right:6px;
    background: #000;
    border-radius:100%;
    opacity:30%;
  }

  /*properties for images hover*/
  &-miniimage:hover{
    background: #3098ff;
    text-decoration: none;
  }

  /*end of less code*/
}
