/*Author: [Naveen]
Created: [7/23/2015]
Description: [ This file includes layout for modules live-updates along with comments (File name: lives_updates.less)]
Associated Files: [The modules.less, live_updates.html for the module]*/

@import "../global_vars.less"; //includes important global vars
.shadedline    //contains layout for the shaded vertical-line on the left
{
	&-vertical
	{
		background-color: #dadada;
		float: left;
		height: 343px;
		width: 6px;
		margin-top:31px;
	}
	&-blueshades:hover
	{
		background-color: #3b9dff;
		border-color:#3b9dff;
		border-width:2px;
	}
	&-blueshades//contains a layout for dotted buttons
	{
		border-radius: 50%;
		width: 15px;
		height: 15px;
		background-color: #c2c2c2;
		float: left;
		margin-right: 5px;
	}
	&-circles
	{
		margin-top: 10px;
		margin-right: 5px;
		float: right;
		width: 60px;
		height: 15px;
	}
}
.bottom
{ // contains a layout for the portion of blue-color at the bottom
	&-blue-bar
	{
		border-top: 3px solid #3098ff;
		width: 100%;
	}
}
.prim
{   //contains a layout for primary block
	&-live_updates
	{
		width:300px;
		height: 370px;
		background-color: #FDF2F2;
		border-top: 2px solid #0398ff;
		position: relative;
	}
}

.black
{  //layout for top-black-box
	&-top_black_bar
	{
		background-color: #000000;
		border-top:2px solid #3098ff;
		width: 300px;
		height: 40px;
	}
}

.bullhorn
{  //contains layout for bull-horn font awesome icon
	&-updates
	{
		width: 140px;
		//color: #0982f8;
		font-family: HN-B;
		color: #ffffff;
		text-transform:upper;
		// margin-left:-5px;
		// margin-top:-7px;
		// margin-bottom:-20px;
		padding-top: 10px;
		font-size:12px;
		float: left;
	}
}

.upper
{  //contains layout for top block
	&-top_block1
	{
		width: 300px;
		height: 108px !important;
		border-left: 3px solid #dadada;
		border-bottom:1px solid #dadada;
		position: relative;
		// -moz-transform: translate(0px,32px);
		// transform: translate(0px,29px);
		// -khtml-transform: translate(0px,29.5px);
	}

	&-top_block1:hover
	{
		border-left: 3px solid #3098ff;
	}
	&-top_block1:hover &-right1_arrow
	{
		color:#3098ff;
	}
	&-right1_arrow
	{
		float: right;
		margin-top: 40px;
		margin-right: 5px;
		font-size: 30px;
		color: #cccccc;
	}
}
.bottom
{       //contains a layout for the bottom blue-portion
	&-bluebar
	{
		background-color: #3098ff;
		width: 300px;
		height: 2px;
		margin-left:-9px;
	}
}
.imgblk1-img_blk1
{    //contains a layout for text  inside first block
	font-family: HN-B;
	color:  #3098ff;
	font-size: 14px;/* Approximation due to font substitution */
	text-align: left;
	width:178px;
	height:73px;
	line-height: 16px;
	float: left;
	margin-top: 15px;
}

.texts-linetexttitle{
	width: 175px;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
	font-family: HN-B;
}
.texts-linetext1
{      //contains a layout for span elements
	font-family: HN;
	color:#000000;
	font-size:12px;
	text-align:left;
}
.texts-linetext2
{
	.texts-linetext1;

	&-bold{
		font-family: HN-B;
	}
}
.texts-linetext3
{
	.texts-linetext1;

}
.texts-linetext4
{    //contains layout for last text in each block
	color:rgb(173, 170, 170);;
	font-weight:lighter;
	font-size:10px;
	text-align:left;

}

.leftpart1-photo1
{    //contains a layout for image container inside block1
	width: 75px;
	height: 75px;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid #cccccc !important;
	border-radius: 50%;
	background-color:  #ffffff;
	float: left;
	z-index: 1;
	// transform: translate(202px, 15px);
	// -khtml-transform:translate(-2px,15px);

	&-img{
		width: 73px;
		height: 73px;
		border-radius: 50%;
		z-index: 0;
		background-position: center;
	}
}
.fa-bullhorn
{   //contains a layout for font awesome icon bullhorn
	color:#3098ff;
	padding-right:10px;
	padding-left:10px;
}
.lowbox
{    //contains a layout for container at root-bottom
	&-btn_ctr
	{
		position: absolute;
		bottom: 0px;
		margin: -6px -3px 4px 9px;
		text-align:center;
	}
}
