/*Author: [Naveen]
Created: [6/15/2015]
Last Modified:[6/26/2015]
Description: [ This file includes layout for modules live-updates along with comments (File name: lives_updates.less)]
Associated Files: [The modules.less, live_updates.html for the module]*/

@import (reference)"../global_vars.less"; //includes important global vars
.shadedline    //contains layout for the shaded vertical-line on the left
{
					 &-vertical
					{
						 background-color: #dadada;
					   float: left;
					   height: 343px;
					   width: 6px;
						 margin-top:31px;
				  }
}
.bottom
{ // contains a layout for the portion of blue-color at the bottom
				   &-blue-bar
					{
					 border-top: 3px solid #3098ff;
				   width: 100%;
				  }
}

.prim
{   //contains a layout for primary block
				&-live_updates
				  {
				    width:300px;
				    height: 386px;
			     	background-color: #FDF2F2;
			    }
}
.top
  { //layout for top-blue-lined box
		       &-top_blue_bar
					{
			     border-top:3px solid #3098ff;
			     width:300px;
			     height:3px;
			    }
  }

.black
  {  //layout for top-black-box
			    &-top_black_bar
			    {
			       background-color: #000000;
			       width: 300px;
			       height: 40px;
			       margin-top:-3px;
			    }
  }

.bullhorn
  {  //contains layout for bull-horn font awesome icon
	     &-updates
			   {
	        width: 140px;
	        color: #0982f8;
	        font-weight:bold;
	        font-family: HelveticaNeue;
	        color: #ffffff;
	        text-transform:upper;
	        margin-left:-5px;
	        margin-top:-7px;
					margin-bottom:-20px;
					font-size:12px;
					padding:1px;
	      }
  }

.upper
  {  //contains layout for top block
		    &-top_block1
				{
		     width: 300px;
		     height: 110px;
			   border-left: 2px solid #dadada;
			   border-bottom:1px solid #dadada;
			   margin-top:29px;
		    }

				&-top_block1:hover
				{
				border-left: 2px solid #3098ff;
				}
				&-top_block1:hover &-right1_arrow
				{
					color:#3098ff;
				}

				&-right1_arrow
				{
					float: right;
				  margin: -64px -24px 0px 0px;
				  padding-right: 5px;
				  font-size: 30px;
				  color: #cccccc;
				}

  }
.middle
{   //contains a layout for middle portion
				 &-middle_block2
				{
					width: 300px;
					height: 110px;
				  border-left: 2px solid #dadada;
					border-bottom:1px solid #dadada;
					position:relative;
					top:-1px;
			  }
				 &-middle_block2:hover
				{
				border-left: 2px solid #3098ff;
				}
				&-middle_block2:hover &-right1_arrow
				{
					color:#3098ff;
				}
				&-right1_arrow
				{
					float: right;
					margin: -64px -24px 0px 0px;
					padding-right: 5px;
					font-size: 30px;
					color: #cccccc;
				}

}
.down
 {    //contains a layout for bottom portion block
				&-down_block3
				{
			    width: 300px;
			    height: 126px;
					border-left: 2px solid #dadada;
					position:relative;
					top:-1px;
			  }
				&-down_block3:hover
				{
				border-left: 2px solid #3098ff;
				}
				&-down_block3:hover &-right1_arrow
				{
					color:#3098ff;
				}
				&-right1_arrow
				{
					float: right;
					margin: -64px -24px 0px 0px;
					padding-right: 5px;
					font-size: 30px;
					color: #cccccc;
				}

 }

.bottom
{       //contains a layout for the bottom blue-portion
			   &-bluebar
			  {
			    background-color: #3098ff;
			    width: 300px;
			    height: 2px;
					margin-left:-9px;
			  }
}

.imgblk1
{    //contains a layout for text  inside first block
				&-img_blk1
				{
			   width:178px;
			   height:73px;
			   color:#3098ff;
			   font-size:14px;
			   margin-left:95px;
			   margin-top:-64px;
			   font-weight:bold;
			   text-align:center;
			  }
}
.imgblk2
{      //contains a layout for text  inside second block
			  &-img_blk2
				{
					width:178px;
					height:73px;
					color:#3098ff;
					font-size:14px;
					margin-left:95px;
					margin-top:-65px;
					font-weight:bold;
					text-align:center;
			  }
}


.texts
{      //contains a layout for span elements
&-linetext1
			  {
					font-weight:lighter;
					color:#000000;
					font-size:11.4px;
					text-align:left;
			  }
}

.texts1
 {    //contains layout for last text in each block
	&-linetext2
			 {
				color:rgb(173, 170, 170);;
				font-weight:lighter;
				font-size:10px;
				text-align:left;
			 }
 }
.leftpart1
  {    //contains a layout for image container inside block1
    &-photo1
			  {
					width: 75px;
					height: 75px;
					background-position:center;
					background-size: cover;
					margin-left:-194px;
					margin-top:0px;
					border-radius: 50px;
					transform:translate(1px,16px);
					-moz-transform: translate(60px,19px);
					-khtml-transform:translate(-2px,15px);
			  }
  }
.leftpart2
  {    //contains a layout for image container inside block2
     &-photo2
			{
					width: 75px;
					height: 75px;
					background-position:center;
					background-size: cover;
					margin-left:-194px;
					margin-top:-1px;
					border-radius: 50px;
					transform:translate(1px,13px);
					-moz-transform: translate(60px,19px);
					-khtml-transform:translate(-2px,15px);
			}
  }
.leftpart3
  {      //contains a layout for image container inside block3
			&-photo3
			{
					width: 75px;
					height: 75px;
					background-position:center;
					background-size: cover;
					margin-left:-194px;
					margin-top:-1px;
					border-radius: 50px;
					transform:translate(1px,12px);
					-moz-transform: translate(60px,19px);
					-khtml-transform:translate(-2px,15px);
			}
  }

.fa-bullhorn
		 {   //contains a layout for font awesome icon bullhorn
					color:#3098ff;
					padding-right:10px;
					padding-left:10px;
		 }

.lowbox
 {    //contains a layout for container at root-bottom
	  &-btn_ctr
		{
			position: absolute;
      margin: -36px -3px 4px 9px;
		}
 }
