/***************************************************
* Author: William Klausmeyer                       *
* Created: 6/8/15                                  *
* Module Description: Header at the top of each    *
*   profile                                        *
****************************************************/

@import (reference)"../global_vars.less"; //include important global vars (colors mostly)

@grey-update-text: #959595; // grey used in the last updated font

// ******************************************** STYLES FOR THE PROFILE HEADER ************************
.profile-header {
  // Size
  width: 680px;
  height: 420px; //height: 450px;
  margin: 5px;
  //background-color: @red; //<- use to make sure all elements are butting up against eachother

  // **** START TOP PORTION OF HEADER ****
  &-name-container {
    // class for the container for the white portion at the top of the profile header
    // div

    // size, bg color, text alignment, and margins
    width: 680px;
    height: 120px;
    background-color: @white;
    text-align: left;
    margin: 0;
  } // end .profile-header-name-container

  &-profile-image {
    // class for the image in the heading of the header
    //div

    // width, heigh, and margins
    width: 100px;
    height: 100px;
    margin: 10px 20px 10px 15px;

    // border setup
    border: solid 2px @grey-3;
    border-radius: 50%;

    // align div vertically and horizontally
    float: left;
    background-size: cover !important;
    background-position: center center !important;

    &-addbutton {
      // Div for the green button overlayed on the image
      // HTML must include a plus sign inside this div
      // button

      // basics: height, width, color
      height: 35px;
      width: 35px;
      background-color: @green;

      // Set up the position
      position: relative;
      bottom: 5px;
      right: 5px;

      // Border
      border-radius: 50%;
      border: solid 1px @white;

      // Font details for the + sign
      color: @white;
      line-height: 33px;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
    } // End .profile-header-profile-image-addbutton
  } // End .profile-header-profile-image

  &-text {
    // class for the text in the white header bar
    // ul

    // basics: width, height, margins, padding, positioning
    width: 545px;
    height: 120px;
    margin: 0;
    padding: 18px 0;
    float: right;

    // font setup
    color: @black;
    text-align: left;

    // Remove styles from ul
    list-style-type: none;

    &-update {
      // class for the "last updated" section of the white header bar
      // required inside this div: <i class="fa fa-gear"></i>
      // span inside of li

      // Font
      font-size: 10px;
      color: @grey-update-text;
      cursor:pointer;
      .fa-gear {
        // control the font color of interior fontawesome
        color: @black;
      } // end .profile-header-text-update .fa-gear

      .fa-map-marker {
        // control the font color of interior fontawesome
        color: @blue;
      } // end .profile-header-text-update .fa-gear
    } // end .profile-header-text-update

    &-name {
      // class for the main title section of the white header bar

      width: 540px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      // Font
      font-size: 24px;
      color: @black;
      font-weight: bold;
    } // end .profile-header-text-name

    &-type {
      // class for the type section of the white header bar
      // span inside of li

      // Font
      font-size: 20px;
      color: @black;
      font-weight: lighter;
    } // end .profile-header-text-type
  } // End .profile-header-text
  // **** END TOP PORTION OF HEADER ****

  // **** START PROFILE CAROUSEL ****
  &-carousel {
    // class for the carousel in the header
    // div

    // basics setup
    width: 680px;
    height: 250px;
    background-image: @dark-linen;
    text-align: left;
    overflow: hidden; // required for correct layout of child elements
    margin: 0;

    &-cover {
      porition: relative;
      width: 100%;
      height: 100%;
      background-color: none;
      //background-color: rgba(0, 0, 0, 0.7);
    }

    &-image {
      // class for the image in the carousel
      // div

      width: 172px;
      height: 172px;
      border: none;
      border-radius: 50%;

      // styling for the image
      background-size: cover !important;
      background-position: center center !important;

      &-wrapper {
        // class for the wrapper around the image
        // div
        width: 180px;
        height: 180px;
        border: solid 4px rgb(0,0,0);
        border: solid 4px rgba(0,0,0,0.2);
        border-radius: 50%;
        position: relative;
        top: 35px;
        margin: 0 10px 35px 35px;
      } // end .profile-header-carousel-image-wrapper

      &-agency {
        width: 75px;
        height: 75px;
        position: relative;
        right: -100px;
        bottom: -100px;
        border-radius: 50%;
        background-color: @white;
        background-size: contain !important;
        background-position: center center !important;
        background-repeat: no-repeat;
      } // end .profile-header-carousel-image-agency
    } // end .profile-header-carousel-image

    &-container {
      // class for the heading/description portion of the carousel
      // ul

      // basics
      height: 215px;
      width: 465px;
      margin: 0;

      // remove styling from being a list
      list-style-type: none;

      // Font stuff
      color: @white;
      text-align: left;

      // positioning
      position: relative;
      float: right;
      padding: 0 0 0 5px;
      top: -180px; // by default div sits below carousel image, this brings it back up
    } // end .profile-header-carousel-container

    &-title {
      // class for the header of the carousel
      // li

      // font
      font-size: 22px;
      font-weight: lighter;
      color: @white;
      line-height: 40px; // this makes the header text align vertically with the blue map marker div
      overflow: hidden;
      height: 40px;

      a {
        color: @white;
        text-decoration: none;
        cursor: default;
      }

      &-image {
        // class for the blue map marker
        // div

        // basics
        width: 40px;
        height: 40px;
        background-color: @blue;

        // border setup
        border: none;
        border-radius: 50%;

        // positioning
        float: left;
        margin-right: 10px;

        // Center the font awesome in the div
        text-align: center;
        padding: auto;
        font-size: 24px;
      } // end .profile-header-carousel-header-image
    } // end .profile-header-carousel-header

    &-description {
      // class for the text content on the carousel
      // li

      // height to control border
      height: 135px;
      overflow-y:scroll;

      // Create the line on the left
      border-left: solid 2px @grey-3;
      padding: 0 0 0 15px; // spaces the line away from the text

      // margins to keep away from other content
      margin: 15px 40px 15px 20px;

      // Font setup
      font-size: 16px;
      font-weight: lighter;
      color: @white;
      line-height: 22px;

      &::-webkit-scrollbar {
        width: 12px;
        margin-left: 5px;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      }
    } // end .profile-header-carousel-description
  } // end .profile-header-carousel
  // **** END PROFILE CAROUSEL ****

  // **** START BLACK BARS ON HEADER ****
  &-bar {
    // class for the black bar on the bottom and top of the carousel
    // div

    // basics
    width: 680px;
    height: 40px;
    background-color: @black;
    padding-left: 10px; // Keeps the text from the far left edge

    // font stuff
    color: @white;
    font-size: 16px;
    text-align: left;

    &-top {
      // basics
      width: 680px;
      height: 10px;
      background-color: @black;
      padding-left: 10px; // Keeps the text from the far left edge

      // font stuff
      color: @white;
      font-size: 16px;
      text-align: left;
    } // END .profile-header-bar-top

    &-button {
      // class to create a button feel to the items on the bar that should be a button
      // button

      // Remove button stylings
      border: none;
      background-color: inherit;
      cursor: pointer;

      // As little impact on spacing as possible + align
      margin: 0 5px 0 10px; // makes there some space between buttons - better UI
      padding: 0;
      float: left;
    }

    &-text {
      // class for the text on the black bar
      // span

      padding: 10px 0 10px 10px; // proper spacing from other elements
      float: left; // pushes it to the left and center vertically
      line-height: normal; // keeps weird vertical spacing things from happening
    } // end .profile-header-bar-text

    .fa {
      // modifies the fa class when in this context
      // i

      padding: 10px 0 10px 0; // proper spacing from other elements
      float: left; // pushes it to the left and center vertically
    } // end .profile-header-bar .fa
  } // end .profile-header-bar
  // **** END BLACK BARS ON HEADER
} // end .profile-header
// ********************************************* END STYLES FOR THE PROFILE HEADER ************************
