@import (reference) '../global_vars.less';

.re_discover_small{
  width: 680px;
  height: 275px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url('/search_bg.jpg');
  background-position: center center !important;
  background-size: cover !important;
  margin: 5px;

  &-title{
    width: 100%;
    font-size:30px;
    font-weight: bold;
    text-align: center;
    padding-top:50px;
    color:@white;
  }
  &-subtitle{
    font-size:20px;
    text-align: center;
    color:@white;
  }
  .re_mainsearch{
    margin: 40px auto;
    width:500px;
    height:30px;
    background-color: @white;
    display:inherit;
    box-sizing: border-box;
    &-text{
      font-family:Arial;
      font-size: 20px;
      width:88%;
      height:100%;
      color:@black;
      text-align: left;
      border:none;
      padding-left:10px;
    }
    .re_searchbtn{
      width:12%;
      height:100%;
      background-color: @blue;
      color:@white;
      font-size:20px;
      text-align:center;
      float:right;
      border:none;
    }
  }
}
