<!-- Author: Ryan Fisher
**** Created: [10/19/2015]
**** Description: Quarterly EIS
**** Associated Files: quarterly_EBS.html, quarterly_EBS.less, quarterly_EBS_logic.js
-->

<template name="quarterly_EBS">

  <div class="qebs">
    <a href = "#" onclick="history.go(-1)">
      <div class = "pg-hdr">
        <div class = "pg-hdr-box"><i class = "fa fa-reply"></i></div>
        <div class = "pg-hdr-tri"></div>
        <div class = "pg-hdr-txt">
          Go Back To <strong>{{company}}'s</strong> Profile
        </div>
      </div>
    </a>

    <!--Page header-->
    <div class="qebs-hdr">
      <div class="qebs-hdr-img" style="background-image:url({{imageUrl logo}})"></div>
      <div class="qebs-hdr-txt">
        <div class="qebs-hdr-txt-upd">LAST UPDATED: {{updated}}</div>
        <div class="qebs-hdr-txt-loc"><i class="fa fa-map-marker"></i>{{location}}</div>
        <div class="qebs-hdr-txt-title">{{title}} Balance Sheet</div>
        <div class="qebs-hdr-txt-for">For {{company}}</div>
      </div>
    </div>
    <!--End Page header-->

    <!--Dropdown menus-->
    <div class="qebs-ddn">
      <div class="qebs-ddn-mnu" style="width:160px" id="qebs-ddn-0">
        Income Statement
        <div class="qebs-ddn-cir"><i class="fa fa-caret-down"></i></div>
        <div class="qebs-ddn-options">
          <div class="qebs-ddn-option">Income Statement</div>
          <div class="qebs-ddn-option">Balance Sheet</div>
          <div class="qebs-ddn-option">Cash Flow</div>
        </div>
      </div>
      <div class="qebs-ddn-mnu" style="width:130px" id="qebs-ddn-1">
        Quarterly Data
        <div class="qebs-ddn-cir"><i class="fa fa-caret-down"></i></div>
        <div class="qebs-ddn-options">
          <div class="qebs-ddn-option">Quarterly Data</div>
          <div class="qebs-ddn-option">Annual Data</div>
        </div>
      </div>
      <div class="qebs-ddn-mnu" style="width:130px" id="qebs-ddn-2">
        {{firstLabel}}
        <div class="qebs-ddn-cir"><i class="fa fa-caret-down"></i></div>
        <div class="qebs-ddn-options">
          {{#each label}}
          <div class="qebs-ddn-option">{{lbl}}</div>
          {{/each}}
        </div>
      </div>
    </div>
    <!--End Dropdown menus-->

    <!--Chart legend-->
    <div class="qebs-lgnd">
      <div class="qebs-lgnd-txt">
        <div class="qebs-lgnd-clr" style="background-color:#434348" id="qebs-clr-0"></div>
        <div style="float:left;margin-right:5px;">
          <div class="qebs-lgnd-amnt">{{debt}}</div>
          <div class="qebs-lgnd-lbl">Total Debt</div>
        </div>
      </div>
      <div class="qebs-lgnd-txt">
        <div class="qebs-lgnd-clr" style="background-color:#3098ff" id="qebs-clr-1"></div>
        <div style="float:left;margin-right:5px;">
          <div class="qebs-lgnd-amnt">{{assets}}</div>
          <div class="qebs-lgnd-lbl">Total Assets</div>
        </div>
      </div>
      <div class="qebs-lgnd-txt">
        <div class="qebs-lgnd-clr" style="background-color:#f8a354" id="qebs-clr-2"></div>
        <div style="float:left;margin-right:5px;">
          <div class="qebs-lgnd-amnt">{{dta}}</div>
          <div class="qebs-lgnd-lbl">Debt to assets (%)</div>
        </div>
      </div>
      <div class="qebs-ddn-mnu" style="width:160px;float:right;" id="qebs-ddn-3">
        Total Assets Chart
        <div class="qebs-ddn-cir"><i class="fa fa-caret-down"></i></div>
      </div>
    </div>
    <!--End Chart legend-->

    <!--Chart-->
    <div class="qebs-chart" id="quarterlyEBSgraph"></div>
    <!--End Chart-->

    <!--Data Table-->
    <div class="qebs-tbl">
      <div class="qebs-tbl-hdr">In Millions of USD (except for per share items)</div>

      <!--Data labels-->
      <div class="qebs-tbl-lbls">
        <div class="qebs-tbl-lbl" style="width:205px;margin-left:0px;">Key Metric</div>
        <div class="qebs-tbl-lbl" style="font-family:HN-B">Q3 - 2015</div>
        <div class="qebs-tbl-lbl">Q2 - 2015</div>
        <div class="qebs-tbl-lbl">Q1 - 2015</div>
        <div class="qebs-tbl-lbl">Q4 - 2014</div>
        <div class="qebs-tbl-lbl" style="margin-right:0px">Q3 - 2014</div>
      </div>

      <!--Data Row-->
      {{#each data}}
      <div class="qebs-tbl-row-{{color}} qebs-tbl-{{border}}">
        <div class="qebs-tbl-data-title">{{metric}}</div>
        <div class="qebs-tbl-data" style={{style1}}>{{amnt1}}</div>
        <div class="qebs-tbl-data" style={{style2}}>{{amnt2}}</div>
        <div class="qebs-tbl-data" style={{style3}}>{{amnt3}}</div>
        <div class="qebs-tbl-data" style={{style4}}>{{amnt4}}</div>
        <div class="qebs-tbl-data" style={{style5}}>{{amnt5}}</div>
      </div>
      {{/each}}
    </div>
    <!--End Data Table-->

  </div>
</template>
