<!--Author: [Vinay Vittal Karagod]
Created: [07/23/2015]
Description: [.html file for Local Companies]
Associated Files: [local_companies_what_they_do.html,local_companies_what_they_do.less,local_companies_what_they_do.js]
-->

<template name="wtd">
  <div class="module-3"><div class="module-header"><span class="module-header-line"></span><span class="module-header-title">{{locl_cmpns}}</span></div>
    <div class="module-wrapper">
      <!--Panel of the module-->

      <div class="s_b-panel">

        <!--Panel Header and title -->
        <div class="s_b-panel-header">
          <div class="s_b-panel-title">
            <i class="fa fa-circle s_b-blue"></i> {{loc_brkdwn}}
          </div>
        </div>
        <!--Panel Header and title ends-->

        <!--Top left Panel of 5 colums-->
        <div class="s_b-sectbrkdn">
          <!--Title column of Top left Panel-->
          <div class="s_b-sectbrkdn-titlecontainer">
            <span class="s_b-sectbrkdn-titletext"><i class="fa fa-th-large s_b-sectbrkdn-titletext"></i> Sectors</span>
            <span class="s_b-sectbrkdn-titletext s_b-sectbrkdn-titlerighttext"> Net %</span>
          </div>
          <!--Title column of Top left Panel ends-->

          <!--First column of Top left Panel list-->
          {{#each sector}}
          <a href="">
            <div class="s_b-sectbrkdnlist">
              <div class="s_b-itemidentifier s_b-{{lft_clr}}">
              </div>
              <span class="s_b-sectbrkdncontent">{{sect}}</span>
              <i class="s_b-fa-angle-right-align fa fa-angle-right"></i>
              <span class="s_b-contentrighttext">{{percent}}</span>
            </div>
          </a>
          {{/each}}
          <!--First column of Top left Panel list ends-->

        </div>
        <!--Top left Panel of 5 colums ends-->

        <!--Pie Chart-->
        <div class="s_b-donutchart">

            <!--<img src='http://images.chicagotraveler.com/sites/default/files/billboard/cloud-gate_C.jpg' alt='' class='s_b-piechartimage' > -->
            {{> highchartsHelper chartId="devices" chartWidth="100%" chartHeight="100%" chartObject=sector_breakdwn}}
        </div>
        <!--Pie Chart ends-->

        <!--Bottom pannel of 4 columns-->
        <div class="s_b-sect_lst">

          <!--First Column of Bottom pannel-->
            {{#each companies}}
          <a href="">
            <div class="s_b-sect_lst-content">
              <div class="s_b-itemidentifier s_b-greyidentifier"></div>
              <div class="s_b-sect_lst-sect_img_cntnt">
              <i class="fa {{fntawwsm}} s_b-sect_lst-sect_img s_b-sect_lst-fntawsm"></i>
              </div>

              <div class="s_b-sect_lst-total_cnt">{{count}}
              <div class="s_b-sect_lst-cmpny_domn">{{domain}}</div>
              </div>
              <div class="s_b-sect_lst-cmpny_imgs"></div>
              <div class="s_b-sect_lst-cmpny_imgs"></div>
              <div class="s_b-sect_lst-cmpny_imgs"></div>
              <i class="s_b-sect_lst-fa-angle-right-align fa fa-angle-right"></i>
            </div>
          </a>
          {{/each}}

        </div>
        <!--Bottom pannel of 4 columns ends-->

        <!--Footer of the module-->
        <div class="s_b-module-footer">
          </div>
        <!--Footer of the module ends-->
      </div>
      <!--Panel of the modulee ends-->

      <!--First tile in top right of the panel-->
      {{#each tile}}
      <div class="s_b-tiles">
        <div class="module-tile">
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <span class="module-footer-button-ellipse s_b-tileelipse"><i class="fa fa-mail-forward"></i></span>
              <div class="module-tile-default-icon s_b-tileicon">
                <i class="fa {{fnt}}"></i>
              </div>
              <div class="module-tile-default-text">
              {{name}}
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#">
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa {{fnt}}"></i>
				{{name}}
              </div>
              <div class="module-tile-info"></div>
              <button class="module-tile-button module-tile-button-align">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
            </div>
          </a>
        </div>
      </div>
      {{/each}}

</div>
</div>
</template>
