<template name="search_page">
  <div class="search_page">
    <a href="" onclick="history.go(-1)">
      <div class="excmp-return">
        <div class="excmp-return-button">
          <i class="fa fa-mail-reply"></i>
        </div>
        <div class="excmp-return-triangle"></div>
        Go Back
      </div>
    </a>
    {{> search_module}}
    <!--menu options-->
    <nav class="search_tab-menu">
      <ul class="search_tab-menu-active">
        <li class="search_tab-menu-active-list current-list"><i class="fa fa-circle"></i> Executive(13)</li>
        <li class="search_tab-menu-active-list"><i class="fa fa-circle"></i> Company(0)</li>
        <li class="search_tab-menu-active-list"><i class="fa fa-circle"></i> Location(3)</li>
      </ul>
    </nav>
    <!--below tabs where results are to be displayed-->
    <div class="search_results">
      <div class="search_results-showing">Showing 38 results of 112</div>
      <!--RESULTS FROM API BELOW-->
      <div class="search_results-info">
        <div class="search_results-info-h1">
          Mark Zuckerberg's Profile
        </div>
        <div class="search_results-info-link">
          https://www.inveskit.com/MarkZuckerberg/Profile
        </div>
        <div class="search_results-info-desc">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
      </div>
      <!--below tabs where results are to be displayed END-->
    </div>
  </div>
</template>
