<!--
Author: jyothyswaroop
Created: 08/10/2015
Description: exec_college_rivals page
Associated Files: exec_college_rivals_logic.js and exec_college_rivals.less
-->
<!--Gave a template name stock_disclaimer_page !-->
<template name="exec_college_rivals">
<!--Defined a class name globally for height and width !-->
<div class= "exr_riva">

  <div class="dp_head-hdtl">
   <div class="dp_head-hdtl-or">
     <div class="dp_head-hdtl-mailrep" >
       <i class="dp_head-mailrep fa fa-reply"></i>
     </div>
     <div class="dp_head-hdtl-rta">
     </div>
   </div>
   <!-- for the text contianer!-->
   <div class="dp_head-hdtl-txtctt">
     <div class="dp_head-hdtl-gb">
       Go Back To
       <div class="dp_head-hdtl-bar-title">
       <div class="dp_head-hdtl-bar-helper">
         {{PageExec}}'s
       </div>
         <div class="dp_head-hdtl-bar-side">Profile </div>
       </div>
     </div>
   </div>
   <!-- for the circle on the right to navigate!
   <div class="dp_head-hdtl-indcir">
       <i class="fa fa-angle-right"></i>
   </div>
   -->
 </div>


  <!--gave the dimensions for the module with total height and width !-->
  <div class = "exr_riva-n_m">
    <!--dimensions for the circle container as ('cir-d') !-->
    <div class="exr_riva-cir_d">
    <!-- dimensions for the circle as ('circ')!-->
    <div class="exr_riva-circ">
      <!-- defines container for the smaller blue circle('sc_d') !-->
      <!-- <div class= "exr_riva-sc_d">
      <div class="exr_riva-sc_d exr_riva-sc">
      <i class="exr_riva-bfo fa fa-reply"></i>
      </div>
      </div> -->
    </div>
    </div>
    <!--defines the container for text box !-->
    <div class="exr_riva-tc">
    <!-- class date has all the font-weight and font specific !-->
    <div class="exr_riva-date">
      LAST UPDATED: 06/24/2015, 8:00 AM EST
    </div>
    <!--specified font style for location !-->
    <div class="exr_riva-loc_st">
       <i class="fa fa-map-marker"></i>
    <!--specified font style for the state name !-->
    <span class="exr_riva-loc_st">
      The United States of America
    </span>
    </div>
    <!-- specified font sytle for the stock disclaimer !-->
    <div class="exr_riva-loc_st exr_riva-disc">
    {{getheadername}}
    </div>
    <!--specified font style for the inveskit finance  !-->
    <div class="exr_riva-loc_st exr_riva-fin">
    For {{PageExec}}
    </div>
    </div>

    <div class="exr_riva-bar">
      <!--header bar !-->
      <div class="exr_riva-bar-title">
        <!-- call data dynamically from js!-->
      <div class="exr_riva-bar-helper">
        {{PageExec}}'s
      </div>
      <div class="exr_riva-bar-side">{{getheadername}} </div>
      </div>
      <div class="exr_riva-bar-button">
        <!-- the save option button-->
        <a href="#"><i class="fa fa-heart"></i><span class="exr_riva-bar-text">Save</span></a>
      </div>
      <div class="exr_riva-bar-button">
        <!-- share option button -->
        <a href="#"><i class="fa fa-share-alt"></i><span class="exr_riva-bar-text">Share</span></a>
      </div>
    </div>
    <div class="exr_riva-m_c">
      <!-- the module.less file navigation buttons-->
      <!-- <button class='exr_riva-lefthov'><i class="fa fa-angle-left fa-2x" ></i></button>
      <button class='exr_riva-righthov'><i class="fa fa-angle-right fa-2x"></i></button> -->
      <!-- end of the module.less navigation button -->
      <!-- wrapper class-->
      <div class="exr_riva-m_c-image-wr">
        <div class="exr_riva-m_c-image" style="background-image:url({{HeadImg}})">
          <div class="exr_riva-m_c-sma_ct">
          <div class="exr_riva-m_c-sma_cr">

          </div>
        </div>
        </div>
      </div>
      <!-- the main container -->
      <ul class="exr_riva-m_c-cr">
        <!-- the image in blue circle-->
        <li class="exr_riva-m_c-title">
          <div class="exr_riva-m_c-title-image"><i class="fa fa-briefcase"></i>
          <span class="exr_riva-m_c-title-text"> {{MainRival}} </span>
          </div>
        </li>
          <!--the follow('fbt') and share  !-->

          <div class="exr_riva-fbt1">
            <!-- the save option button-->
            <a href="#"><i class="exr_riva-fbt1-font1 fa fa-heart"></i><span class="exr_riva-fbt1-text1">Save</span></a>
          </div>
          <div class="exr_riva-fbt1 exr_riva-fbt2">
            <!-- share option button -->
            <a href="#"><i class="exr_riva-fbt1-font1 fa fa-share-alt"></i><span class="exr_riva-fbt1-text1">Share</span></a>
          </div>

        <!-- the description about the person-->
        <li class="exr_riva-m_c-dp">
          <div class="exr_riva-m_c-dp-dpct">
          {{RivalDesc}}
          </div>
          <!-- <div class="co_comp-m_c-dp-itl co_comp-m_c-dp-it2">
            {{getheadername3}}. <span class="co_comp-m_c-dp-dpct">is currently priced at: <br></span>
            <span class="co_comp-m_c-dp-itl">{{getheadername4}} </span>
            <span class="co_comp-m_c-dp-itl co_comp-m_c-dp-it4"> <i class=" fa fa-arrow-up"></i></span>  <span class="co_comp-m_c-dp-itl co_comp-m_c-dp-it5">{{getheadername5}}</span>
          </div> -->
        </li>
      </ul>
      <!-- the bottom bar-->
      <div class="exr_riva-m_c-view_more">
        <!-- the details about the comapny-->
        <div class="exr_riva-m_c-view_more-text">
          <div class="exr_riva-m_c-view_more-text-ln1">Want to know more about {{MainRival}}?</div>
          <div class="exr_riva-m_c-view_more-text-ln2">Profile Last Updated On: <span class="exr_riva-m_c-dp-itl">07/29/2015</span></div>
        </div>
        <a href="{{MainExecUrl}}"><button class="exr_riva-m_c-view_more-button">
          View Profile <i class="fa fa-angle-right"></i>
        </button></a>
      </div>
    </div>
    <!--container for the ct1 to 'sort by' and 'what is this list?'  !-->
    <div class="exr_riva-ct1">
    <!--container for the sortby !-->
    <div class="exr_riva-sy">
      <!-- container for the sortby font !-->
      <div class="exr_riva-syf"> Sorted by:
      <!-- container for the members font !-->
      <span class="exr_riva-syf exr_riva-sym"> Most Recent Graduation Date <span class="exr_riva-sym exr_riva-angd"> <i class=" fa fa-angle-down"></i> </span> </span>
      </div>
    </div>
    <!-- contianer for the complete 'what is this list' class name is wl!-->
    <!-- <div class="exr_riva-wl">
      container for the 'what is this list' class name is wl2!
      <div class="exr_riva-wlc">
        font style for the 'what is this list'!
        <div class="exr_riva-wlf">
        What is this list?
        <span class="exr_riva-x">
         <i class="fa fa-times"></i>
        </span>
        </div>
      </div>
      container for the text inside the 'what is this list' as wltxt!
      <div class="exr_riva-wltxt">
      <div class="exr_riva-wltxtf">
        <p> This is a list featuring all the people who attended {{getheadername7}} in {{getheadername8}} around the same time {{getheadername1}} did.</p>
      </div>
      </div>
    </div> -->
    </div>

    <div class="exr_riva-wrapper">
      <!-- The loop starts here and the each will take each data item from the items on each iteration-->
      {{#each items}}
      {{#if imghld}}
      <div class="exr_riva-quotes">
        <div class="exr_riva-quotes-head">Featured Companies in the United States</div>
        {{#each quote}}
        <div class="exr_riva-quotes-image">
          <div class="exr_riva-gap1"></div>
          <div class="exr_riva-quotes-image-text">
            <div class="exr_riva-quotes-image-text-ln1">{{name}}</div>
              <div class="exr_riva-quotes-image-text-vc">
            <span class="exr_riva-quotes-image-text-ln1 exr_riva-quotes-image-text-ln4">
              {{text}}
            <span class="exr_riva-quotes-image-text-ln1 exr_riva-quotes-image-text-ln3">
              {{text2}}
            </span>
            </span>
          </div>
          </div>
        </div>
        {{/each}}
        <div class="exr_riva-quotes-arrow fa fa-angle-right"></div>
      </div>
      {{else}}
      <div class="exr_riva-{{getBackgroundStyle}}"><br>
        <!--This is the main (circle) image-->
        <div class="exr_riva-head-circ">
          <div class="exr_riva-head-image" style="background-image:url({{pic}})">
            <!-- Here displays the counter number which is a result of each loop-->
            <span class="exr_riva-counter">#{{counter_no}}</span>
            <span class="exr_riva-counter2"></span>
          </div>
        </div>
        <!--Location title -->
        <div class="exr_riva-sp">
          <div  class="exr_riva-space">
            <!-- This displays the font awesome map sybmol infornt of the united states-->
            <i class="fa fa-map-marker"></i>
            <span  class="exr_riva-space exr_riva-space2">
              {{location}}
            </span>
            <!-- Here displays the description which come from the each loop-->
            <div class="exr_riva-adjust">{{name}}</div>
            <div class="exr_riva-follwb">
              <a href="{{compurl}}">
                <span class="exr_riva-follwb exr_riva-follwcomp">
                  {{grp}}
                </span>
              </a>
              <span class="exr_riva-follwb exr_riva-follwcomp"> - </span>
              <span class="exr_riva-follwb exr_riva-follw3">{{desg}}</span>
            </div>
          </div>
        </div>
        <!--This displays the blue button which holds the text "View Full List"-->
        <div class="exr_riva-ctmain">
          <span class="exr_riva-ctmaintxt">
              Want more info about this executive?
          </span>
          <a href="{{execurl}}"><button class="exr_riva-tile-button">
            View profile
            <span style="margin-left:6px"><i class="fa fa-angle-right"></i></span>
          </button></a>
        </div>
        <div class="exr_riva-rtct">
          <div class="exr_riva-rttx1"> Class of</div>
          <div class="exr_riva-follwt">
          <span class="exr_riva-follw1"> {{college}}</span>
          </div>
          <div class="exr_riva-rttxg"> <span class="exr_riva-follws">{{degree}} </span></div>
        </div>
        <!-- This displays the font awesome heart symbol beside the text "save"-->
        <div class="exr_riva-sn">
          <div  class="exr_riva-save">
            <i class="fa fa-heart"></i>
            <span  class="exr_riva-save exr_riva-st">
              Follow
            </span>
          </div>
        </div>

        <!-- This displays the font awesome share symbol beside the text "share"-->
        <div class="exr_riva-sh">
          <div  class="exr_riva-share">
            <i class="fa fa-share-alt"></i>
            <span  class="exr_riva-share exr_riva-sht">
              Share
            </span>
          </div>
        </div>
        <!-- This displays the font awesome flag symbol beside the text "Feedback"-->
        <div class="exr_riva-fe ">
          <div  class="exr_riva-share exr_riva-feedback">
            <i class="fa fa-flag"></i>
            <span  class="exr_riva-share exr_riva-ft">
              Feedback
            </span>
          </div>
        </div>
      </div>
      {{/if}}
      <!--This is the End of each loop -->
      {{/each}}
  <div class="exr_riva-footer">
    <!-- This is outermost class of the footer which holds the other elements in the footer-->
    <div class="exr_riva-holder1">
      <!-- This is the class which holds the font awesome left arrow-->
      <div class="exr_riva-navigationl">
        <i class="fa fa-angle-left exr_riva-footer-icon"></i>
      </div>
      <!-- Here we write the code for the buttons 1,2,3 and 200-->
      <button  class="exr_riva-page-selector1 exr_riva-page-selector1-font1">1</button>
      <button class="exr_riva-page-selector2 exr_riva-page-selector2-font2">2</button>
      <button  class="exr_riva-page-selector3 exr_riva-page-selector3-font3">3</button>
      <span  class="exr_riva-dots" >...</span>
      <button  class="exr_riva-page-selector200 exr_riva-page-selector200-font">200</button>
      <!-- for navigation !-->
    <span class="exr_riva-navigationr">
      <i class="fa fa-angle-right exr_riva-footer-icon"></i>
    </span>
      <!-- This is the class which holds the font awesome right arrow-->
    </div>
    <!-- container for the View all button !-->
    <div class="exm_tk-navigation2">
      <button class="exm_tk-view-all exm_tk-view-all-font">VIEW ALL <img style="padding-bottom:4px" src="/infinite-icon.png"></button>
    </div>
  </div>
</div>
  <!--created a container for the fotter  !-->
<div class="exr_riva-fotter">
    {{> recommend}}
</div>

  </div>
</div>
</template>
