<!-- Author: David Wibowo
**** Created: [09/30/2015]
**** Description: Exec profile header
**** Associated Files: e-p_header.html, e-p_header.less, e-p_header_logic.js
-->

<template name="e_p_header">
  <div class="p">
   {{> ep_head}}
   {{> ep_body}}
   <!--{{> ep_rdr}}-->
 </div>
</template>

<template name="ep_head">
  {{#with execInfo}}
  <div class="p-head">
    <div class="p-head-top">
      <div class="p-head-top-lastUpdate">LAST UPDATED: {{o_last_updated}}</div>
      <div class="p-head-top-container">
        <div class="p-head-top-container-location"><i class="fa fa-map-marker"></i>&nbsp; {{c_hq_location}} | WORK FOR: <a href="{{compURL}}"><span class="p-head-bottom-name">{{c_name}}</span></a></div>
        <div class="p-head-top-container-profile"><span class="p-bold_font">EXECUTIVE</span> PROFILE</div>
      </div>
      <div class="p-head-top-name"><span class="p-head-top-name-txt">{{e_name}}</span></div>
    </div>
    <div class="p-head-bottom">
      <div class="p-head-bottom-triangle"></div>
      <div class="p-head-bottom-img"></div>
      <div class="p-head-bottom-icon"><i class="fa fa-map-marker"></i></div>
      <div class="p-head-bottom-about">Quick info about <span class="p-bold_font">{{e_name}}</span></div>
      <div class="p-head-bottom-text">{{o_bio}}</div>
    </div>
  </div>
  {{/with}}
</template>

<template name="ep_body">
  {{#with compensationInfo}}
  <div class="p-body">
    <div class="p-body-box">
        <div>Total Compensation</div>
        <div class="value">${{compensation.o_compensation.TotalComp}}</div>
        <div>{{lastUpdated}}</div>
    </div>
    <div class="p-body-box">
        <div>Other Compensation</div>
        <div class="value">${{compensation.o_compensation.AllOtherLT}}</div>
        <div>{{lastUpdated}}</div>
    </div>
    <div class="p-body-box">
        <div>Executive Officer at</div>
        <div class="value">{{c_ticker}}</div>
        <div>Since {{o_current_title.start_year}}</div>
    </div>
    <div class="p-body-box" style="border-right: 0px">
        <div>{{c_ticker}} Salary</div>
        <div class="value">${{compensation.o_compensation.Salary}}</div>
        <div>{{lastUpdated}}</div>
    </div>
  </div>
  {{/with}}
</template>

<template name="ep_rdr">
  {{#with execInfo}}
  <div class="p-rdr">
    <a href="{{ulr}}">
      <div class="p-rdr-tri"></div>
      <div class="p-rdr-container">
        <div class="p-rdr-container-icon"></div>
        <div class="p-rdr-container-dr">Digital Reader</div>
        <div class="p-rdr-container-explore">Explore This Executive</div>
        <div class="p-rdr-container-line"></div>
        <div class="p-rdr-container-circle"><i class="fa fa-angle-right"></i></div>
        <div class="p-rdr-container-left">{{e_name}}</div>
        <div class="p-rdr-container-text">Get an in–depth, visual look at this executive compensation,
project history, education history
and much more.
        </div>
      </div>
    </a>
  </div>
  {{/with}}
</template>
