<!-- Author: harishkumar muddasani
**** Created: [07/28/2015]
**** Description: how_are_markets page
**** Associated Files: how_are_markets.html, how_are_markets.less, how_are_markets_logic.js,module.less, global_vars.less
-->

<template name="how_are_markets">
  <!--Page wrapper-->
  <div class="hamark">
    <!--Main page header-->
    <div class="hamark_header">
      <span class="hamark_blue1"></span>
      <span class="hamark_nam">{{title}}?</span>
    </div>
    <!--Main page body-->
    <div class="hamark_body">
      <!--Main page body header-->
      <div class="hamark_body_header">
        <i class="fa fa-circle hamark_blue2"></i>
        <div class="hamark_body_txt">{{subtitle}}</div>
      </div>

      <div class="hamark-bts_mtabs">
      			<span class="hamark-mtabs hamark-active_tab" data-dir="DOW" id="hamark_tab1" onclick="hamarkTabChange(1)"><span class="hamark-underline" id="hamark_tab1_i">DOW</span></span>
      			<span class="hamark-mtabs hamark-inactive_tab" data-dir="NASDAQ" id="hamark_tab2" onclick="hamarkTabChange(2)"><span class="" id="hamark_tab2_i">NASDAQ</span></span>
      			<span class="hamark-mtabs hamark-inactive_tab" data-dir="S&P" id="hamark_tab3" onclick="hamarkTabChange(3)"><span class="" id="hamark_tab3_i">S&P</span></span>
      			<span class="hamark-mtabs hamark-inactive_tab" data-dir="SEARCH" id="hamark_tab4" onclick="hamarkTabChange(4)"><span class="" id="hamark_tab4_i"><i class="fa fa-search"></i> SEARCH</span></span>
      		</div>

      <!--Company image-->
    <div class="hamark-b3wrap">
      <div class="hamark_body_image"></div>
      <div class="hamark-b3info">
        <div class="hamark_body_company">
      			<span style="font-family: HN-B;">{{index_name}}</span>
      		</div>
         <!--Price of stock-->
      <div class="hamark_body_stock">
        <span class="hamark_body_stock_price">{{stock_price}} </span>
        <span class="hamark_body_stock_history">
          <i class="fa fa-arrow-circle-o-up hamark_body_stock_history_icon"></i>
          <span class="hamark_body_stock_history_text">+{{stock_price_number}} ({{stock_price_percent}})</span>
        </span>
      </div>
    </div>
     </div>
      <!--Main chart-->
      <div id="hamarkGraphId" class="hamark_body_chart"></div>
      <!--"You could have earned..."-->
      <div class="hamark-line"></div>
     <div class="hamark-fc">
       <div class="hamark-tb1">
         <span><i class="fa fa-map-marker hamark-fam"></i>&nbsp;<span class="hamark-l1">{{national_market}}</span></span><br>
         <span class="hamark-l2">TODAY'S {{stock_name}} LOSERS</span><br>
         <div class="hamark-l3">{{number_down}} {{stock_name}} companies that are down today.</div>
       </div>
       <!--******************buttons starts here*********************-->
       <div class="hamark-bb3">
         <button class="hamark-lbb3">
           <div class="hamark-ib3">
             <i class="fa fa-angle-left"></i>
           </div>
         </button>
         <!--**********right Button Creation ***********!-->
         <button class="hamark-rbb3">
           <div class="hamark-i2b3">
             <i class="fa fa-angle-right"></i>
           </div>
         </button>
       </div>
       <!--******************buttons ends here*********************-->
       <!--***************circlewrapper  in hamark.less starts here ****************************-->
       <div class="hamark-cw">
         <div class="hamark-c5b3 hamark_body_image">
         </div><button class="hamark-c6b3 hamark_body_image">
         <span class="hamark-fc6b3">#{{counter_number}}</span>
       </button>
       </div>
       <!--***************circlewrapper  in hamark.less ends here ****************************-->
       <!--***************textbox 3 starts here ****************************-->
       <div class="hamark-tb3">
         <span class="hamark-w1tb3">{{company_name}}&nbsp;<i class="fa fa-angle-right hamark-fatb3"></i><span class="hamark-w2tb3">{{lost_percent}}</span>&nbsp;
       <span class="hamark-w3tb3">Today</span>
       </span>
       </div>
       <!--***************textbox 3 ends here****************************-->
       <!--*************list view button starts here******************-->
       <button class="hamark-blbb3">
         <span class="hamark-flbb3">View The Full List <i class="fa fa-share hamark-falbb3"></i></span>
       </button>
       <!--*************list view button ends here******************-->
     </div>
    </div><!--End Main page body-->
    <div class="module-footer"></div>

    <!--Modules to the left of the module-->
    <div class="hamark_links">
      {{#each hamark_tiles}}
        <!--tiles-->
      <!--Top box-->
      <div class="module-tile">
        <div class="module-tile-default">
          <div class="module-tile-default-container">
            <div class="module-tile-default-icon hamark-tile_adjust">
              <button class="{{class_name}}"></button>
            </div>
            <div class="module-tile-default-text">
              {{tile_name}}
            </div>
          </div>
        </div>
        <a class="module-tile-link" href="#">
          <div class="module-tile-hover">
            <div class="module-tile-name">
              <button class="{{class_name}}" style="width:17px; height:17px; margin:0 10px 0 0;"></button>{{tile_name}}
            </div>
            <div class="module-tile-info"></div>
            <button class="module-tile-button module-tile-button-align">{{open_page}} <i class="fa fa-mail-forward"></i></button>
          </div>
        </a>
      </div>
      {{/each}}
    </div>

  </div><!--End Page wrapper-->
</template>
