<!--Author: [Naveen]
Created: [6/11/2015]
Description: [ contains a container for learn_about_us]
Associated Files: [The learnaboutus.less, learnabout_layout.html for the module]-->

<template name="learn_about_us">
 <div class="module-3"><div class="module-header"><span class="module-header-line"></span><span class="module-header-title"> LEARN MORE ABOUT US</span></div>
 <!-- module-3 is the name of the entire container and module-header-line belongs to top black portion of container   -->


   <div class="aboutus-row1">
   <!-- first left-sided top box with Bio details -->
   <div class="module-tile" id="bio">  <!--module-tile class wraps all element for text and button -->
     <div class="module-tile-default">
       <div class="module-tile-default-container"><!--The class module-tile-default-container provides a layout for container to wrap the icon and text -->
         <div class="module-tile-default-icon"> <!-- The class module-tile-default-icon contains icon in it-->
           <i class="fa fa-info-circle"></i>
         </div>
           <div class="module-tile-default-text"> <!--module-tile-default-text class contains layout belong to text containment -->
             Bio
           </div>
      </div>
     </div>
    <a class="module-tile-link">
      <div class="module-tile-hover"> <!--The class module-title-hover contains the hover property in it-->
        <div class="module-tile-name">
          <i class="fa fa-info-circle"></i>Bio
        </div>
        <div class="module-tile-info"></div>
         <button class="module-tile-button">OPEN PAGE <i class="fa fa-mail-forward"></i></button><!--module-tile-button contains a portion of button property  -->
      </div>
    </a>
  </div>

   </div>

 <div class="aboutus1-row2">
   <!-- second left-sided  box with contact us details -->
 <div class="module-tile" id="contactus">
   <div class="module-tile-default">
     <div class="module-tile-default-container">
       <div class="module-tile-default-icon">
         <i class="fa fa-phone"></i>
       </div>
         <div class="module-tile-default-text">
          Contact Us
         </div>
    </div>
   </div>
  <a class="module-tile-link">
    <div class="module-tile-hover">
      <div class="module-tile-name">
        <i class="fa fa-phone"></i>Contact Us
      </div>
      <div class="module-tile-info"></div>
       <button class="module-tile-button">OPEN PAGE <i class="fa fa-phone"></i></button>
    </div>
  </a>
</div>
 </div>
 <div class="aboutus3-row3">
   <!-- Third left-sided  box with disclaimer details -->
 <div class="module-tile" id="disclaimer">
   <div class="module-tile-default">
     <div class="module-tile-default-container">
       <div class="module-tile-default-icon">
         <i class="fa fa-folder-open-o"></i>
       </div>
         <div class="module-tile-default-text">
           Disclaimer
         </div>
    </div>
   </div>
  <a class="module-tile-link">
    <div class="module-tile-hover">
      <div class="module-tile-name">
        <i class="fa fa-folder-open-o"></i>Disclaimer
      </div>
      <div class="module-tile-info"></div>
       <button class="module-tile-button">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
    </div>
  </a>
</div>

 </div>
<div class="aboutus4-rightside"> <!-- aboutus4-rightside is a  sub-container present towards the right-side of black boxes   -->
 <div class="aboutus4-header"> <!--aboutus4-header top grey portion inside the top of sub-container  -->
 <div class="aboutus4-headerinside"><i class="fa aboutus7-fa-circle"></i>&nbsp;JOYFULHOMES DISCLAIMER
 </div>
 </div>
      <div class="aboutus6-btn"> <!--aboutus6-btn is the container for two images -->
        <div class="aboutus6-circle-image"> </div> <!--aboutus6-circle-image class corresponds to first-left-circle  -->

          <div class="aboutus6-circle-image1"></div> <!--aboutus6-circle-image1 class corresponds to second-right-circle  -->
      </div>
      <div class="aboutus6-box">  <!--aboutus6-box is the subset of sub-container to contain all the text -->
      <div class="aboutus6-text1">Disclaimer</div>
      <div class="aboutus6-text3"></div>
      <div class="aboutus6-text2">This site is powered by JoyfulHomes.ideas and opinions presented
      on this website are for informational and educational purposes
      only,and do not reflect the opinions of JoyfulHomes, or any of its
      alliates, subsidiaries or partners.</div>
      <div class="aboutus6-rights"> &#169;2015 Data provided by ListHub&#174; </div>
      <div class="aboutus6-bluebutton"> <!--aboutus6-bluebutton is the name of button at the bottom  -->
        <a class="link">
        <div class="aboutus6-buttonn"> see the full disclaimer &nbsp;<i class="fa fa-share"></i> </div> <!--aboutus6-buttonn is a portion inside the bluebutton for text insertion  -->
        </a>
        </div>
      </div>

</div>

</div>

</template>
