<!-- Author: Sindhusha
Created: 10/26/2015
Description: list_view_OTC.html
Associated Files: list_view_OTC_logic.js and list_view_OTC.less
 -->
 <template name="list_view_OTC">
 <!--Defined a class name globally for height and width !-->
 <div class= "OTC">
   <!-- header section -->
   <div class = "OTC-hdr">
     <a href = "{{Execurl}}">
       <div class = "OTC-hdr-box"><i class = "fa fa-reply"></i></div>
       <div class = "OTC-hdr-arrw"></div>
     </a>
       <div class = "OTC-hdr-txt">Go Back To <strong>{{getfname}}'s</strong> Profile</div>
   </div>
<!-- tile with image and details -->
   <div class = "OTC-ttl">
     <a href = "#"><div class = "abtex-ttl-img"></div></a>
     <div class = "OTC-ttl-txt">
       <div class = "OTC-ttl-txt-upd"> LAST UPDATED: 06/24/2015, 8:00 AM EST</div>
       <div class = "OTC-ttl-txt-loc"><i class = "fa fa-map-marker"></i>&nbsp;&nbsp;{{getlocation}}</div>
       <div class = "OTC-ttl-txt-abt"> {{getCompany}} Companies</div>
       <div class = "OTC-ttl-txt-nm"> By Largest Market Cap In The United States</div>
     </div>
   </div>
   <!-- the save and share bar  -->
     <div class="OTC-bar">
       <div class="OTC-bar-title">
         Today's Most Traded {{getCompany}} Companies
       </div>
       <div class="OTC-bar-button">
         <!-- the save option button-->
         <a href="#"><i class="fa fa-heart"></i><span class="OTC-bar-text">Save</span></a>
       </div>
       <div class="OTC-bar-button">
         <!-- share option button -->
         <a href="#"><i class="fa fa-share-alt"></i><span class="OTC-bar-text">Share</span></a>
       </div>
     </div>
     <div class="OTC-m_c">
       <!-- the module.less file navigation buttons-->
       <button class='OTC-lefthov'><i class="fa fa-angle-left fa-2x" ></i></button>
       <button class='OTC-righthov'><i class="fa fa-angle-right fa-2x"></i></button>
       <!-- end of the module.less navigation button -->
       <!-- wrapper class-->
       <div class="OTC-m_c-image-wr">
         <div class="OTC-m_c-image">
           <div class="OTC-m_c-sma_ct">
           <div class="OTC-m_c-sma_cr">

           </div>
         </div>
         </div>
       </div>
       <!-- the main container -->
       <ul class="OTC-m_c-cr">
         <!-- the image in blue circle-->
         <li class="OTC-m_c-title">
           <div class="OTC-m_c-title-image"><i class="fa fa-building-o"></i>
           <span class="OTC-m_c-title-text"> {{getCname}} </span>
           </div>
         </li>
           <!--the follow('fbt') and share  !-->

           <div class="OTC-fbt1">
             <!-- the save option button-->
             <a href="#"><i class="OTC-fbt1-font1 fa fa-heart"></i><span class="OTC-fbt1-text1">Save</span></a>
           </div>
           <div class="OTC-fbt1 OTC-fbt2">
             <!-- share option button -->
             <a href="#"><i class="OTC-fbt1-font1 fa fa-share-alt"></i><span class="OTC-fbt1-text1">Share</span></a>
           </div>

         <!-- description about the person-->
         <li class="OTC-m_c-dp">
           <div class="OTC-m_c-dp-dpct">
             {{getCname}} ({{getCompany}}: AAPL) current market cap is valued at <span class="OTC-m_c-dp-itl">{{getstock1}} USD</span>
            </div>
             <div class="OTC-m_c-dp-itl OTC-m_c-dp-it2">
               {{getCname}} <span class="OTC-m_c-dp-dpct">is currently priced at: <br></span>
               <span class="OTC-m_c-dp-itl">{{getstock2}} </span>
               <span class="OTC-m_c-dp-itl OTC-m_c-dp-it4"> <i class=" fa fa-arrow-down"></i></span>  <span class="OTC-m_c-dp-itl OTC-m_c-dp-it5">{{getstock3}} </span>
             </div>
           <!-- </div> -->
         </li>
       </ul>
       <!-- the bottom bar-->
       <div class="OTC-m_c-view_more">
         <!-- the details about the comapny-->
         <div class="OTC-m_c-view_more-text">
           <div class="OTC-m_c-view_more-text-ln1">Interesed in discovering more about {{getCname}}?</div>
           <div class="OTC-m_c-view_more-text-ln2">Profile Last Updated On: <span class="OTC-m_c-dp-itl">07/29/2015</span></div>
         </div>
         <button class="OTC-m_c-view_more-button">
           View Profile <i class="fa fa-angle-right"></i>
         </button>
       </div>
     </div>
     <!--container for the ct1 to 'sort by' and 'what is this list?'  !-->
     <div class="OTC-ct1">
     <!--container for the sortby !-->
     <div class="OTC-ct1-sy">
       <!-- container for the sortby font !-->
       <div class="OTC-ct1-syf"> Sorted by:
       <!-- container for the members font !-->
       <span class="OTC-ct1-syf OTC-ct1-sym"> {{getCompany}} Companies - Market Cap: Highest Lowest <span class="OTC-ct1-sym OTC-ct1-chd"> <i class=" fa fa-chevron-down"></i> </span> </span>
       </div>
     </div>
   </div>

     <div class="OTC-wrapper">
       <!-- The loop starts here and the each will take each data item from the items on each iteration-->
       {{#each items}}
       {{#if imghld}}
       <div class="OTC-quotes">
         <div class="OTC-quotes-head">Featured Companies in the United States</div>
         {{#each quote}}
         <div class="OTC-quotes-image">
           <div class="OTC-gap1"></div>
           <div class="OTC-quotes-image-text">
             <div class="OTC-quotes-image-text-ln1">{{name}}</div>
             <div class="OTC-quotes-image-text-vc">
           <span class="OTC-quotes-image-text-ln1 OTC-quotes-image-text-ln4">
             {{text}}
           <span class="OTC-quotes-image-text-ln1 OTC-quotes-image-text-ln3">
             {{text2}}
           </span>
           </span>
         </div>
           </div>
         </div>
         {{/each}}
         <div class="OTC-quotes-arrow fa fa-angle-right"></div>
       </div>
       {{else}}
       <div class="OTC-{{getBackgroundStyle}}"><br>
         <!--This is the main (circle) image-->
         <div class="OTC-head-circ">
           <div class="OTC-head-image">
             <!-- Here displays the counter number which is a result of each loop-->
             <span class="OTC-counter">#{{counter_no}}</span>
             <span class="OTC-counter2"></span>
           </div>
         </div>
         <!--Location title -->
         <div class="OTC-sp">
           <div  class="OTC-space">
             <!-- This displays the font awesome map sybmol infornt of the united states-->
             <i class="fa fa-map-marker"></i>
             <span  class="OTC-space OTC-space2">
               {{location}} <span class="OTC-space OTC-space2"><i class="fa fa-angle-double-right"></i> </span>
               <span class="sect_pg-space sect_pg-space2"> {{stocks}}:{{sname}} </span>
             </span>
             <!-- Here displays the description which come from the each loop-->
             <div class="OTC-adjust">{{ data }}</div>
             {{#if fall}}
             <div class="OTC-follw1">{{stck1}}&nbsp;
               <span class="OTC-follws1">  <i class="fa fa-arrow-down"></i> </span>
               <span class="OTC-follw3">{{stck2}} </span>
             </div>
             {{else}}
             <div class="OTC-follw1">{{stck1}}&nbsp;
               <span class="OTC-follws2">  <i class="fa fa-arrow-up"></i> </span>
               <span class="OTC-follw4">{{stck2}} </span>
             </div>
             {{/if}}
           </div>
         </div>

         <!--This displays the blue button which holds the text "View Full List"-->
         <div class="OTC-ctmain">
           <span class="OTC-ctmaintxt">
             Want more info about this company?
           </span>
           <button class="OTC-tile-button">
             View Profile
             <span style="margin-left:6px"><i class="fa fa-angle-right"></i></span>
           </button>
         </div>
         <div class="OTC-rtct">
           <div class="OTC-rttx1"> Market Cap</div>
           <div class="OTC-rttx2"> {{number}}</div>
           <div class="OTC-rttx3"> {{date}} </div>
         </div>

         <!-- This displays the font awesome heart symbol beside the text "save"-->
         <div class="OTC-sn">
           <div  class="OTC-save">
             <i class="fa fa-heart"></i>
             <span  class="OTC-save OTC-st">
               Follow
             </span>
           </div>
         </div>

         <!-- This displays the font awesome share symbol beside the text "share"-->
         <div class="OTC-sh">
           <div  class="OTC-share">
             <i class="fa fa-share-alt"></i>
             <span  class="OTC-share OTC-sht">
               Share
             </span>
           </div>
         </div>
         <!-- continer with all font style as specified !-->
         {{#if google}}
         <div class="OTC-middle">
          <div class="OTC-qt">
            <i class="fa fa-bell"></i>
         <span class="OTC-texm">
           Multiple Tickers for {{ data }}
         </span>
         <span class="OTC-qt"> <i class=" fa fa-chevron-down"> </i></span>
          </div>
         </div>

         <div class="OTC-fe2">
           <div  class="OTC-share OTC-feedback">
             <i class="fa fa-flag"></i>
             <span  class="OTC-share OTC-ft">
               Feedback
             </span>
           </div>
         </div>
         {{else}}
         <!-- This displays the font awesome flag symbol beside the text "Feedback"-->
         <div class="OTC-fe ">
           <div  class="OTC-share OTC-feedback">
             <i class="fa fa-flag"></i>
             <span  class="OTC-share OTC-ft">
               Feedback
             </span>
           </div>
         </div>

       {{/if}}

 </div>
       {{/if}}
       <!--This is the End of each loop -->
       {{/each}}
   <div class="OTC-footer">
     <!-- This is outermost class of the footer which holds the other elements in the footer-->
     <div class="OTC-holder1">
       <!-- This is the class which holds the font awesome left arrow-->
       <div class="OTC-navigation">
         <i class="fa fa-angle-left OTC-footer-icon1"></i>
       </div>
       <!-- Here we write the code for the buttons 1,2,3 and 200-->
       <button  class="OTC-page-selector1 OTC-page-selector1-font1">1</button>
       <button class="OTC-page-selector2 OTC-page-selector2-font2">2</button>
       <button  class="OTC-page-selector3 OTC-page-selector3-font3">3</button>
       <span  class="OTC-dots" >...</span>
       <button  class="OTC-page-selector200 OTC-page-selector200-font">200</button>
     <!-- <span class="OTC-navigationr"> -->
       <i class="fa fa-angle-right OTC-footer-icon2"></i>
     <!-- </span> -->
       <!-- This is the class which holds the font awesome right arrow-->
     </div>
     <!-- container for the View all button !-->
     <div class="OTC-navigation2">
       <button class="OTC-view-all OTC-view-all-font">VIEW ALL <img style="padding-bottom:4px" src="/icons/public/infinite-icon.png"></button>
     </div>
   </div>
 </div>
   <!--created a container for the fotter  !-->
 <div class="OTC-fotter">
     {{> recommend}}
 </div>
 </div>
 </template>
