<template name="directory">
    <!-- Directory Container -->
    <div class="directory-container">
      <!-- Title Container -->
      <div class="title-container">
        <span id="location"><i class="fa fa-map-marker"></i>
          <a href="{{pathFor 'content.realestate.directory' list=navLink.list pageNum=navLink.pageNum}}">
            United States
          </a>
          {{#if stateNav}}
            <i class="fa fa-angle-right"></i>
            <a href="{{pathFor 'content.realestate.directory' state=navLink.state list=navLink.list pageNum=navLink.pageNum}}">
              {{stateNav}}
            </a>
          {{/if}}
          {{#if cityNav}}
            <i class="fa fa-angle-right"></i>
            <a href="{{pathFor 'content.realestate.directory' state=navLink.state city=navLink.city list=navLink.list pageNum=navLink.pageNum}}">
              {{cityNav}}
            </a>
          {{/if}}
          {{#if zipNav}}
            <i class="fa fa-angle-right"></i>
            {{zipNav}}
          {{/if}}
        </span>
        <span id="title">{{directoryTitle}}</span>
      </div>

      {{#if subDirectoryTitle}}
        <!-- Sort Container -->
        <div class="sort-container">
          <span id="sub-title">{{subDirectoryTitle}}</span>
          <div class="link-container">
            {{#each links}}
              <a href="{{pathFor 'content.realestate.directory' state=state city=navCity list=list pageNum=pageNum}}">
                {{displayVal}} {{#if listingsNum}}({{listingsNum}}){{/if}}
              </a>
              |
            {{/each}}
            {{#if moreCitiesFlag}}
              <a href="{{pathFor 'content.realestate.directory' state=navLink.state city=navLink.allCities zipcode=navLink.zipNull list=navLink.list pageNum=navLink.pageRestart}}">
                <span class="more-cities">More Cities</span>
              </a>
            {{/if}}
          </div>
        </div>
      {{/if}}

      {{#if dataError}}
        <div class="error-container">
          {{dataError}}
        </div>
      {{else}}
        <!-- Button Container -->
        <div class="button-container">
          <span class="view-range">
            Showing:
            {{#if loadingFlag}}
              <span class="bold">{{currentRange}}</span> of <span class="bold">{{total}}</span>
            {{else}}
              <span class="bold">Loading...</span>
            {{/if}}
          </span>
          {{#if nextShowFlag}}
            <a href="{{pathFor 'content.realestate.directory' state=navLink.state city=navLink.city zipcode=navLink.zipcode list=navLink.list pageNum=navLink.nextPage}}">
              <button id="nav-next" class="nav-button {{nextActive}}">
                NEXT <i class="fa fa-angle-right "></i>
              </button>
            </a>
          {{else}}
            <button id="nav-next" class="nav-button {{nextActive}}">
              NEXT <i class="fa fa-angle-right "></i>
            </button>
          {{/if}}
          {{#if backShowFlag}}
            <a href="{{pathFor 'content.realestate.directory' state=navLink.state city=navLink.city zipcode=navLink.zipcode list=navLink.list pageNum=navLink.backPage}}">
              <button id="nav-back" class="nav-button {{backActive}}">
                <i class="fa fa-angle-left "></i> BACK
              </button>
            </a>
          {{else}}
            <button id="nav-back" class="nav-button {{backActive}}">
              <i class="fa fa-angle-left "></i> BACK
            </button>
          {{/if}}
        </div>
        <!-- Listings Container -->
        <ul class="listings-container">
          {{#each listings}}
          <li class="listing {{backgroundClass}}">
            {{#if citiesAsListingsFlag}}
              <span class="location">
                <a href="{{pathFor 'content.realestate.directory' state=navLink.state city=navCity zipcode=navLink.zipNull list=navLink.list pageNum=navLink.pageRestart}}">
                  {{city}}
                </a>
                ,
                <a href="{{pathFor 'content.realestate.directory' state=navLink.state city=navLink.cityNull zipcode=navLink.zipNull list=navLink.list pageNum=navLink.pageRestart}}">
                  {{navLink.state}}
                </a>
              </span>
            {{else}}
              <span class="date">Last updated: {{timestamp}}</span>
              <span class="location">
                <a href="{{pathFor 'content.realestate.listing' listing_id=listing_key}}">
                {{street_address}}
                </a>

                {{#if bothExists street_address city}}
                  <span class="grey">|</span>
                {{/if}}

                <a href="{{pathFor 'content.realestate.directory' state=state city=navCity zipcode=navLink.zipNull list=navLink.list pageNum=navLink.pageRestart}}">
                  {{city}}
                </a>

                  {{#if bothExists city state}},{{/if}}

                <a href="{{pathFor 'content.realestate.directory' state=state city=navLink.cityNull zipcode=navLink.zipNull list=navLink.list pageNum=navLink.pageRestart}}">
                  {{state}}
                </a>

                  {{#if bothExists state zipcode}},{{/if}}
                <a href="{{pathFor 'content.realestate.directory' state=state city=navCity zipcode=zipcode list=navLink.list pageNum=navLink.pageRestart}}">
                  {{zipcode}}
                </a>

                {{#if bothExists zipcode neighborhood}}
                  <span class="grey">|</span>
                {{/if}}

                {{neighborhood}}
              </span>
              <span class="dir-stats">
                {{#if exists living_area}}
                  {{living_area}} sq. ft.
                {{/if}}

                {{#if bothExists living_area features.rooms.Bedroom}}
                  <i class="fa fa-angle-right "></i>
                {{/if}}

                {{#if exists features.rooms.Bedroom}}
                  {{features.rooms.Bedroom}} Bedroom{{isMultiple features.rooms.Bedroom}}
                {{/if}}

                {{#if bothExists features.rooms.Bedroom features.rooms.fullBath}}
                  <i class="fa fa-angle-right "></i>
                {{/if}}

                {{#if exists features.rooms.fullBath}}
                  {{features.rooms.fullBath}} Bathroom{{isMultiple features.rooms.fullBath}}
                {{/if}}
              </span>
            {{/if}}
          </li>
          {{/each}}
        </ul>
        <!-- Button Container -->
        <div class="button-container">
          <span class="view-range">
            Showing:
            {{#if loadingFlag}}
              <span class="bold">{{currentRange}}</span> of <span class="bold">{{total}}</span>
            {{else}}
              <span class="bold">Loading...</span>
            {{/if}}
          </span>
          {{#if nextShowFlag}}
              <a href="{{pathFor 'content.realestate.directory' state=navLink.state city=navLink.city zipcode=navLink.zipcode list=navLink.list pageNum=navLink.nextPage}}">
              <button id="nav-next" class="nav-button {{nextActive}}">
                NEXT <i class="fa fa-angle-right "></i>
              </button>
            </a>
          {{else}}
            <button id="nav-next" class="nav-button {{nextActive}}">
              NEXT <i class="fa fa-angle-right "></i>
            </button>
          {{/if}}
          {{#if backShowFlag}}
            <a href="{{pathFor 'content.realestate.directory' state=state city=navLink.cityNull zipcode=navLink.zipNull list=navLink.list pageNum=navLink.pageRestart}}">
              <button id="nav-back" class="nav-button {{backActive}}">
                <i class="fa fa-angle-left "></i> BACK
              </button>
            </a>
          {{else}}
            <button id="nav-back" class="nav-button {{backActive}}">
              <i class="fa fa-angle-left "></i> BACK
            </button>
          {{/if}}
        </div>
      {{/if}}
    </div><!-- Close directory-container -->
</template>
