<!--Author: [Vinay Vittal Karagod]
Created: [07/23/2015]
Description: [.html file for Local Companies]
Associated Files: [area_composite.html,area_composite.less,area_composite.js]
-->

<template name="area_composite">
  {{#with module_info}}
  <div class="module-3">
    <div class="module-header"><span class="module-header-line"></span><span class="module-header-title">{{title}}</span></div>
    <div class="module-wrapper">
      <!--Panel of the module-->
      <div class="ar_comp-panel">
        <!--Panel Header and title -->
        <div class="ar_comp-panel-header">
          <div class="ar_comp-panel-title">
            <div class="ar_comp-panel-smac">
              <i class="fa fa-circle ar_comp-blue"></i>
            </div>
            <div class="ar_comp-panel-helper">{{subtitle}}</div>
          </div>
        </div>
        <!--Top left Panel of 5 colums-->
        <div class="ar_comp-sectbrkdn">
          <!--Title column of Top left Panel-->
          <div class="ar_comp-sectbrkdn-titlecontainer">
            <span class="ar_comp-sectbrkdn-titletext"><i class="fa fa-th-large ar_comp-sectbrkdn-titletext"></i> Sectors</span>
            <span class="ar_comp-sectbrkdn-titletext ar_comp-sectbrkdn-titlerighttext"> Net %</span>
          </div>
          <!--Title column of Top left Panel ends-->

          <!--First column of Top left Panel list-->
          {{#each sectors}}
            <a href="{{url}}"><div class="ar_comp-sectbrkdnlist">
              <div class="ar_comp-itemidentifier ar_comp-{{color}}">
              </div>
              <span class="ar_comp-sectbrkdncontent">{{title}}</span>
              {{#unless other}}
              <i class="ar_comp-fa-angle-right-align fa fa-angle-right"></i>
              {{/unless}}
              <span class="ar_comp-contentrighttext">{{percentage}}%</span>
            </div></a>
          {{/each}}
          <!--First column of Top left Panel list ends-->
        </div>
        <!--Top left Panel of 5 colums ends-->

        <!--Pie Chart-->
        <div class="ar_comp-donutchart">
          <div class="ar_comp-donutchart-image"  style="{{image}}"></div>
          <!--<img src='http://images.chicagotraveler.com/sites/default/files/billboard/cloud-gate_C.jpg' alt='' class='ar_comp-piechartimage' > -->
          {{> highchartsHelper chartId="devices" chartWidth="100%" chartHeight="100%" chartObject=sector_breakdown}}
        </div>
        <!--Pie Chart ends-->

        <!-- Bottom Panel -->
        <div class="area_comp_bottom">
          {{#each companies}}
          <a href="{{sector_url}}" style="cursor:pointer">
            <div class="area_comp_row">
              <div class="area_comp_row_left {{color}}"></div>
                <div class="area_comp_row_image"><i class="fa {{icon}}"></i></div>
              <div class="area_comp_row_right">
                <div class="area_comp_row_right_text">
                  <div class="area_comp_row_right_text_1">{{count}}</div>
                  <div class="area_comp_row_right_text_2">{{title}} Companies</div>
                </div>
                <div class="area_comp_row_right_comp">
                  {{#each comp}}
                  <a href="{{url}}">
                    <div class="area_comp_row_right_comp_circle" style="background-image: url({{imageUrl logo}});" index="{{index}}"><div class="hover"></div></div>
                  </a>
                  {{/each}}
                </div>
                <i class="fa fa-angle-right"></i>
              </div>
            </div>
          </a>
          {{/each}}
        </div>
      </div>
      <!--Panel of the modulee ends-->

      <!--First tile in top right of the panel-->
      <div class="ar_comp-rpanel">
      {{#each tiles}}
      <div class="ar_comp-tiles">
        <div class="module-tile">
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <!-- <div class="module-tile-default-icon ar_comp-tileicon"> -->
              <div class="module-tile-default-icon">
                <i class="fa {{fnt}}"></i>
              </div>
              <div class="module-tile-default-text">
                {{name}}
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="{{url}}">
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa {{fnt}}"></i>
                {{name}}
              </div>
              <div class="module-tile-info"></div>
              <button class="module-tile-button module-tile-button-align">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
            </div>
          </a>
        </div>
      </div>
      {{/each}}
      </div>
    </div>
  </div>
  {{/with}}
</template>
