<!--
Author: jyothyswaroop
Created: 8/12/2015
Description: loc_public_companies
Associated Files: loc_public_companies_logic.js and loc_public_companies.less
-->
<!--Gave a template name stock_disclaimer_page !-->
<template name="loc_public_companies">
<!--Defined a class name globally for height and width !-->
<div class= "loc_publ">
  <!--gave the dimensions for the module with total height and width !-->
  <div class = "loc_publ-n_m">
    <!--dimensions for the circle container as ('cir-d') !-->
    <div class="loc_publ-cir_d">
    <!-- dimensions for the circle as ('circ')!-->
    <div class="loc_publ-circ">
      <!-- defines container for the smaller blue circle('sc_d') !-->
      <div class= "loc_publ-sc_d">
      <!-- defines the dimension for the small circle('sc') !-->
      <div class="loc_publ-sc_d loc_publ-sc">
      <i class="loc_publ-bfo fa fa-reply"></i>
      </div>
      </div>
    </div>
    </div>
    <!--defines the container for text box !-->
    <div class="loc_publ-tc">
    <!-- class date has all the font-weight and font specific !-->
    <div class="loc_publ-date">
      LAST UPDATED: 06/24/2015, 8:00 AM EST
    </div>
    <!--specified font style for location !-->
    <div class="loc_publ-loc_st">
       <i class="fa fa-map-marker"></i>
    <!--specified font style for the state name !-->
    <span class="loc_publ-loc_st">
      {{getheadername0}}
    </span>
    </div>
    <!-- specified font sytle for the stock disclaimer !-->
    <div class="loc_publ-loc_st loc_publ-disc">
    Public Companies By Largest Market Cap
    </div>
    <!--specified font style for the inveskit finance  !-->
    <div class="loc_publ-loc_st loc_publ-fin">
    in the {{getheadername0}}
    </div>
    </div>

    <div class="loc_publ-bar">
      <div class="loc_publ-bar-title">
        Today's Most Traded Companies
      </div>
      <div class="loc_publ-bar-button">
        <!-- the save option button-->
        <a href="#"><i class="fa fa-heart"></i><span class="loc_publ-bar-text">Save</span></a>
      </div>
      <div class="loc_publ-bar-button">
        <!-- share option button -->
        <a href="#"><i class="fa fa-share-alt"></i><span class="loc_publ-bar-text">Share</span></a>
      </div>
    </div>
    <div class="loc_publ-m_c">
      <!-- the module.less file navigation buttons-->
      <button class='loc_publ-lefthov'><i class="fa fa-angle-left fa-2x" ></i></button>
      <button class='loc_publ-righthov'><i class="fa fa-angle-right fa-2x"></i></button>
      <!-- end of the module.less navigation button -->
      <!-- wrapper class-->
      <div class="loc_publ-m_c-image-wr">
        <div class="loc_publ-m_c-image">
          <div class="loc_publ-m_c-sma_ct">
          <div class="loc_publ-m_c-sma_cr">

          </div>
        </div>
        </div>
      </div>
      <!-- the main container -->
      <ul class="loc_publ-m_c-cr">
        <!-- the image in blue circle-->
        <li class="loc_publ-m_c-title">
          <div class="co_commi-m_c-title-image"><i class="fa fa-building-o"></i>
          <span class="co_commi-m_c-title-text"> {{getheadername}} </span>
          </div>
        </li>
          <!--the follow('fbt') and share  !-->

          <div class="loc_publ-fbt1">
            <!-- the save option button-->
            <a href="#"><i class="loc_publ-fbt1-font1 fa fa-heart"></i><span class="loc_publ-fbt1-text1">Save</span></a>
          </div>
          <div class="loc_publ-fbt1 loc_publ-fbt2">
            <!-- share option button -->
            <a href="#"><i class="loc_publ-fbt1-font1 fa fa-share-alt"></i><span class="loc_publ-fbt1-text1">Share</span></a>
          </div>

        <!-- the description about the person-->
        <li class="loc_publ-m_c-dp">
          <div class="loc_publ-m_c-dp-dpct">
          {{getheadername}} (NASDAQ: AAPL) current market cap is valued at <span class="loc_publ-m_c-dp-itl">{{getheadername2}} USD</span>
        </div>
            <div class="loc_publ-m_c-dp-itl loc_publ-m_c-dp-it2">
{{getheadername}} <span class="loc_publ-m_c-dp-dpct">is currently priced at: <br></span>
<span class="loc_publ-m_c-dp-itl">{{getheadername3}} </span>
<span class="loc_publ-m_c-dp-itl loc_publ-m_c-dp-it4"> <i class=" fa fa-arrow-down"></i></span>  <span class="loc_publ-m_c-dp-itl loc_publ-m_c-dp-it5">{{getheadername4}} </span>
            </div>
          <!-- </div> -->
        </li>
      </ul>
      <!-- the bottom bar-->
      <div class="loc_publ-m_c-view_more">
        <!-- the details about the comapny-->
        <div class="loc_publ-m_c-view_more-text">
          <div class="loc_publ-m_c-view_more-text-ln1">Interested in discovering more about {{getheadername}}?</div>
          <div class="loc_publ-m_c-view_more-text-ln2">Profile Last Updated On: <span class="loc_publ-m_c-dp-itl">07/29/2015</span></div>
        </div>
        <button class="loc_publ-m_c-view_more-button">
          View Profile <i class="fa fa-angle-right"></i>
        </button>
      </div>
    </div>
    <!--container for the ct1 to 'sort by' and 'what is this list?'  !-->
    <div class="loc_publ-ct1">
    <!--container for the sortby !-->
    <div class="loc_publ-sy">
      <!-- container for the sortby font !-->
      <div class="loc_publ-syf"> Sort by:
      <!-- container for the members font !-->
      <span class="loc_publ-syf loc_publ-sym"> Market Cap: Highest Lowest <span class="loc_publ-sym loc_publ-chd"> <i class=" fa fa-chevron-down"></i> </span> </span>
      </div>
    </div>
    <!-- contianer for the complete 'what is this list' class name is wl!-->
    <div class="loc_publ-wl">
      <!-- container for the 'what is this list' class name is wl2!-->
      <div class="loc_publ-wlc">
        <!-- font style for the 'what is this list'!-->
        <div class="loc_publ-wlf">
        What is this list?
        <span class="loc_publ-x">
         <i class="fa fa-times"></i>
        </span>
        </div>
      </div>
      <!--container for the text inside the 'what is this list' as wltxt!-->
      <div class="loc_publ-wltxt">
      <!--font style for the text !-->
      <div class="loc_publ-wltxtf">
        <p> This is a list featuring the top 100 companies in the {{getheadername0}} with the highest market cap value, sorted from highest to lowest.</p>
      </div>
      </div>
    </div>
    </div>

    <div class="loc_publ-wrapper">
      <!-- The loop starts here and the each will take each data item from the items on each iteration-->
      {{#each items}}
      {{#if imghld}}
      <div class="loc_publ-quotes">
        <div class="loc_publ-quotes-head">Featured Companies in the {{getheadername0}}</div>
        {{#each quote}}
        <div class="loc_publ-quotes-image">
          <div class="loc_publ-gap1"></div>
          <div class="loc_publ-quotes-image-text">
            <div class="loc_publ-quotes-image-text-ln1">{{name}}</div>
            <div class="co_commi-quotes-image-text-vc">
          <span class="co_commi-quotes-image-text-ln1 co_commi-quotes-image-text-ln4">
            {{text}}
          <span class="co_commi-quotes-image-text-ln1 co_commi-quotes-image-text-ln3">
            {{text2}}
          </span>
          </span>
        </div>
          </div>
        </div>
        {{/each}}
        <div class="loc_publ-quotes-arrow fa fa-angle-right"></div>
      </div>
      {{else}}
      <div class="loc_publ-{{getBackgroundStyle}}"><br>
        <!--This is the main (circle) image-->
        <div class="loc_publ-head-circ">
          <div class="loc_publ-head-image">
            <!-- Here displays the counter number which is a result of each loop-->
            <span class="loc_publ-counter">#{{counter_no}}</span>
            <span class="loc_publ-counter2"></span>
          </div>
        </div>
        <!--Location title -->
        <div class="loc_publ-sp">
          <div  class="loc_publ-space">
            <!-- This displays the font awesome map sybmol infornt of the united states-->
            <i class="fa fa-map-marker"></i>
            <span  class="loc_publ-space loc_publ-space2">
              {{location}}
            </span>
            <!-- Here displays the description which come from the each loop-->
            <div class="loc_publ-adjust">{{ data }}</div>
            {{#if fall}}
            <div class="loc_publ-follw1">{{stck1}}
              <span class="loc_publ-follws1">  <i class="fa fa-arrow-down"></i> </span>
              <span class="loc_publ-follw3">{{stck2}} </span>
            </div>
            {{else}}
            <div class="loc_publ-follw1">{{stck1}}
              <span class="loc_publ-follws2">  <i class="fa fa-arrow-up"></i> </span>
              <span class="loc_publ-follw4">{{stck2}} </span>
            </div>
            {{/if}}
          </div>
        </div>
        <!--This displays the blue button which holds the text "View Full List"-->
        <div class="loc_publ-ctmain">
          <span class="loc_publ-ctmaintxt">
            Want more info about this company?
          </span>
          <button class="loc_publ-tile-button">
            View Profile
            <span style="margin-left:6px"><i class="fa fa-angle-right"></i></span>
          </button>
        </div>
        <div class="loc_publ-rtct">
          <div class="loc_publ-rttx1"> Market Cap</div>
          <div class="loc_publ-rttx2"> {{number}}</div>
          <div class="loc_publ-rttx3"> {{date}} </div>
        </div>
        <!-- This displays the font awesome heart symbol beside the text "save"-->
        <div class="loc_publ-sn">
          <div  class="loc_publ-save">
            <i class="fa fa-heart"></i>
            <span  class="loc_publ-save loc_publ-st">
              Follow
            </span>
          </div>
        </div>

        <!-- This displays the font awesome share symbol beside the text "share"-->
        <div class="loc_publ-sh">
          <div  class="loc_publ-share">
            <i class="fa fa-share-alt"></i>
            <span  class="loc_publ-share loc_publ-sht">
              Share
            </span>
          </div>
        </div>
        <!-- continer with all font style as specified !-->
        {{#if google}}
        <div class="loc_publ-middle">
         <div class="loc_publ-qt">
           <i class="fa fa-bell"></i>
        <span class="loc_publ-texm">
          Multiple Tickers for {{ data }}
        </span>
        <span class="loc_publ-qt"> <i class=" fa fa-chevron-down"> </i></span>
         </div>
        </div>

        <div class="loc_publ-fe2">
          <div  class="loc_publ-share loc_publ-feedback">
            <i class="fa fa-flag"></i>
            <span  class="loc_publ-share loc_publ-ft">
              Feedback
            </span>
          </div>
        </div>
        {{else}}
        <!-- This displays the font awesome flag symbol beside the text "Feedback"-->
        <div class="loc_publ-fe ">
          <div  class="loc_publ-share loc_publ-feedback">
            <i class="fa fa-flag"></i>
            <span  class="loc_publ-share loc_publ-ft">
              Feedback
            </span>
          </div>
        </div>

      {{/if}}

</div>
      {{/if}}
      <!--This is the End of each loop -->
      {{/each}}
  <div class="loc_publ-footer">
    <!-- This is outermost class of the footer which holds the other elements in the footer-->
    <div class="loc_publ-holder1">
      <!-- This is the class which holds the font awesome left arrow-->
      <div class="loc_publ-navigationl">
        <i class="fa fa-angle-left loc_publ-footer-icon"></i>
      </div>
      <!-- Here we write the code for the buttons 1,2,3 and 200-->
      <button  class="loc_publ-page-selector1 loc_publ-page-selector1-font1">1</button>
      <button class="loc_publ-page-selector2 loc_publ-page-selector2-font2">2</button>
      <button  class="loc_publ-page-selector3 loc_publ-page-selector3-font3">3</button>
      <span  class="loc_publ-dots" >...</span>
      <button  class="loc_publ-page-selector200 loc_publ-page-selector200-font">200</button>
    <span class="loc_publ-navigationr">
      <i class="fa fa-angle-right loc_publ-footer-icon"></i>
    </span>
      <!-- This is the class which holds the font awesome right arrow-->
    </div>
    <!-- container for the View all button !-->
    <div class="loc_publ-navigation2">
      <button class="loc_publ-view-all loc_publ-view-all-font">VIEW ALL <img style="padding-bottom:4px" src="/public/infinite-icon.png"></button>
    </div>
  </div>
</div>
  <!--created a container for the fotter  !-->
<div class="loc_publ-fotter">
    {{> search_module}}
</div>

  </div>
</div>
</template>
