<!--
Author: jyothyswaroop
Created: 07/30/2015
Description: followers page
Associated Files: list_view_logic.js and list_view.less
-->
<!--Gave a template name stock_disclaimer_page !-->
<template name="list_view">
  {{#with toplist}}
  <!--Defined a class name globally for height and width !-->
  <div class= "list_vw">
    <!--gave the dimensions for the module with total height and width !-->
    <div class = "list_vw-n_m">
      <a href="{{back_url}}" style="cursor:pointer;">
        <div class="abus-bkbx">
          <div class="abus-bkbx-bx"><i class="fa fa-reply"></i></div>
          <div class="abus-bkbx-tgl"></div>
          <div class="abus-bkbx-txt">Go Back to {{backProfile}} Profile</div>
        </div>
      </a>
      <!--dimensions for the circle container as ('cir-d') !-->
      <div class="list_vw_header">
        <div class="list_vw-cir_d"  >
          <!-- dimensions for the circle as ('circ')!-->
          <div class="list_vw-circ" style="{{image}}">

            <!-- defines container for the smaller blue circle('sc_d') !-->
            <div class= "list_vw-sc_d"></div>
          </div>
        </div>
        <!--defines the container for text box !-->
        <div class="list_vw-tc">
          <!-- class date has all the font-weight and font specific !-->
          <div class="list_vw-date">

          </div>
          <!--specified font style for location !-->
          <div class="list_vw-loc_st">
            <a href="/National/location">
              <i class="fa fa-map-marker"></i>
              <!--specified font style for the state name !-->
              <span class="list_vw-loc_st">
                United States
              </span>
            </a>
          </div>
          <!-- specified font sytle for the stock disclaimer !-->
          <div class="list_vw-loc_st list_vw-disc">
          {{top_list_info.top_list_title}}
          </div>
          <!--specified font style for the inveskit finance  !-->
        </div>
      </div>
      <div class="list_vw-bar">
        <div class="list_vw-bar-title">
          Today's Most Traded Companies
        </div>
        <div class="list_vw-bar-button">
        </div>
        <div class="list_vw-bar-button">
        </div>
      </div>
      {{#with carouselList}}
      <div class="list_vw-m_c">
        <!-- the module.less file navigation buttons-->
        <button class='list_vw-lefthov'><i class="fa fa-angle-left fa-2x" ></i></button>
        <button class='list_vw-righthov'><i class="fa fa-angle-right fa-2x"></i></button>
        <!-- end of the module.less navigation button -->
        <!-- wrapper class-->
        <div class="list_vw-m_c-image-wr">
          <div class="list_vw-m_c-image" style="background-image:url('{{imageUrl c_logo}}')">
            <div class="list_vw-m_c-sma_ct">
            <div class="list_vw-m_c-sma_cr" style="background-image:url('{{exchange c_exchange}}')">
            </div>
          </div>
          </div>
        </div>
        <!-- the main container -->
        <ul class="list_vw-m_c-cr">
          <!-- the image in blue circle-->
          <li class="list_vw-m_c-title">
            <div class="list_vw-m_c-title-image"><i class="fa fa-building-o"></i></div>{{c_name}}
          </li>
            <!--the follow('fbt') and share  !-->

            <div class="list_vw-fbt1">
            </div>
            <div class="list_vw-fbt1 list_vw-fbt2">
            </div>

          <!-- the description about the person-->
          <li class="list_vw-m_c-dp">
            <div class="list_vw-m_c-dp-dpct">
            {{c_name}} ({{c_exchange}}: {{c_ticker}})'s {{data_name}} is currently at
              <span class="list_vw-m_c-dp-itl">{{data_value}}</span>
            </div>
            <!-- <div class="list_vw-m_c-dp-itl list_vw-m_c-dp-it2">{{c_name}}
              <span class="list_vw-m_c-dp-itl list_vw-m_c-dp-dpct">is currently priced at: <br></span>
              <span class="list_vw-m_c-dp-itl">$19.26 </span>
              <span class="list_vw-m_c-dp-itl list_vw-m_c-dp-it4"> <i class=" fa fa-arrow-down"></i></span>
              <span class="list_vw-m_c-dp-itl list_vw-m_c-dp-it5">-1.23(-13.04%) </span>
            </div>
            </div> -->
          </li>
        </ul>
        <!-- the bottom bar-->
        <div class="list_vw-m_c-view_more">
          <!-- the details about the comapny-->
          <div class="list_vw-m_c-view_more-text">
            <div class="list_vw-m_c-view_more-text-ln1">Interested in discovering more about {{c_name}}?</div>
            <div class="list_vw-m_c-view_more-text-ln2">Profile Last Updated On: <span class="list_vw-m_c-dp-itl">{{newDate}}</span></div>
          </div>
          <a href="{{url}}">
            <button class="list_vw-m_c-view_more-button">
              View Profile <i class="fa fa-angle-right"></i>
            </button>
          </a>
        </div>
      </div>
      {{/with}}
      <!--container for the ct1 to 'sort by' and 'what is this list?'  !-->
      <div class="list_vw-ct1">
        <!--container for the sortby
        <div class="list_vw-sy">
          <div class="list_vw-syf"> Sort by:
          <span class="list_vw-syf list_vw-sym"> Market Cap: Highest Lowest <span class="list_vw-sym list_vw-chd"> <i class=" fa fa-chevron-down"></i> </span> </span>
          </div>
        </div> !-->
        <!-- contianer for the complete 'what is this list' class name is wl!-->
        <div class="list_vw-wl">
          <!-- container for the 'what is this list' class name is wl2!-->
          <div class="list_vw-wlc">
            <!-- font style for the 'what is this list'!-->
            <div class="list_vw-wlf">
              What is this list?
              <span class="list_vw-x">
               <i class="fa fa-times"></i>
              </span>
            </div>
          </div>
          <!--container for the text inside the 'what is this list' as wltxt!-->
          <div class="list_vw-wltxt">
            <!--font style for the text !-->
            <div class="list_vw-wltxtf">
              This is a list featuring the {{top_list_info.top_list_title}}.
            </div>
          </div>
        </div>
      </div>
      <div class="list_vw-wrapper">
      {{#each top_list_list}}
        <!-- The loop starts here and the each will take each data item from the items on each iteration-->
        <div class="list_vw-{{background}}"><br>
          <!--This is the main (circle) image-->
          <div class="list_vw-head-circ">
            <a href="{{url}}">
              <div class="list_vw-head-image" style="background:url('{{imageUrl c_logo}}')">
                <div class="hover">
                  <div class="hover-txt1">View</div>
                  <div class="hover-txt2">Profile</div>
                </div>
                <!-- Here displays the counter number which is a result of each loop-->
                <span class="list_vw-counter">#{{rank}}</span>
                <span class="list_vw-counter2" style="background-image:url('{{exchange c_exchange}}')"></span>
              </div>
            </a>
          </div>
          <!--Location title -->
          <div class="list_vw-sp">
            <div  class="list_vw-space">
              <!-- This displays the font awesome map sybmol infornt of the united states-->
              <i class="fa fa-map-marker"></i>
              <a href="{{locUrl}}">
                <span  class="list_vw-space list_vw-space2">
                  {{c_hq_state}}, {{c_hq_city}}
                </span>
              </a>
              <!-- Here displays the description which come from the each loop-->
              <div class="list_vw-adjust" title="{{c_name}}">{{ c_name }}</div>
              <div class="list_vw-follw1">${{price}}
                <span class="list_vw-follws1" style="color: {{changeColor lcsi_price_last_operator}}">  <i class="fa {{changeIcon lcsi_price_last_operator}}"></i> </span>
                <span class="list_vw-follw3" style="color: {{changeColor lcsi_price_last_operator}}">{{price_change}} ({{percent_change}}%) </span>
              </div>
            </div>
          </div>
          <!--This displays the blue button which holds the text "View Full List"-->
          <div class="list_vw-ctmain">
            <span class="list_vw-ctmaintxt">
              Want more info about this company?
            </span>
            <a href="{{url}}">
              <button class="list_vw-tile-button">
                View Profile
                <span style="margin-left:6px"><i class="fa fa-angle-right"></i></span>
              </button>
            </a>
          </div>
          <div class="list_vw-rtct">
            <div class="list_vw-rttx1"> {{data_name}}</div>
            <div class="list_vw-rttx2"> {{data_value}}</div>
            <div class="list_vw-rttx3"> {{newDate}} </div>
          </div>
          <!-- This displays the font awesome heart symbol beside the text "save"-->
          <div class="list_vw-sn">
            <div  class="list_vw-save">

            </div>
          </div>

          <!-- This displays the font awesome share symbol beside the text "share"-->
          <div class="list_vw-sh">
            <div  class="list_vw-share">

            </div>
          </div>
          <!-- container with all font style as specified !-->
          <!-- This displays the font awesome flag symbol beside the text "Feedback"-->
          <div class="list_vw-fe ">
            <div  class="list_vw-share list_vw-feedback">

            </div>
          </div>
        </div>
        <!--This is the End of each loop -->
      {{/each}}
      </div>
      <!--created a container for the fotter  !-->
      <div class="list_vw-fotter">
          {{> search_module}}
      </div>
    </div>
  </div>
  {{/with}}
</template>

<template name="featured_list_stuff">

  <div class="list_vw-quotes">
    <div class="list_vw-quotes-head">Featured Companies in the United States</div>
    {{#each quote}}
    <div class="list_vw-quotes-image" style="background:url('{{imageUrl c_logo}}')">
      <div class="list_vw-gap1"></div>
      <div class="list_vw-quotes-image-text">
        <div class="list_vw-quotes-image-text-ln1">{{name}}</div>
        <div class="list_vw-quotes-image-text-ln1 list_vw-quotes-image-text-ln4">
          {{text}}
        </div>
        <span class="list_vw-quotes-image-text-ln1 list_vw-quotes-image-text-ln3">
          {{text2}}
        </span>
      </div>
    </div>
    {{/each}}
    <div class="list_vw-quotes-arrow fa fa-angle-right"></div>
  </div>


  <!-- allow choosing next list-->
  <div class="list_vw-footer">
    <!-- This is outermost class of the footer which holds the other elements in the footer-->
    <div class="list_vw-holder1">
      <!-- This is the class which holds the font awesome left arrow-->
      <div class="list_vw-navigationl">
        <i class="fa fa-angle-left list_vw-footer-icon"></i>
      </div>
      <!-- Here we write the code for the buttons 1,2,3 and 200-->
      <button  class="list_vw-page-selector1 list_vw-page-selector1-font1">1</button>
      <button class="list_vw-page-selector2 list_vw-page-selector2-font2">2</button>
      <button  class="list_vw-page-selector3 list_vw-page-selector3-font3">3</button>
      <span  class="list_vw-dots" >...</span>
      <button  class="list_vw-page-selector200 list_vw-page-selector200-font">200</button>
    <span class="list_vw-navigationr">
      <i class="fa fa-angle-right list_vw-footer-icon"></i>
    </span>
      <!-- This is the class which holds the font awesome right arrow-->
    </div>
    <!-- container for the View all button !-->
    <div class="list_vw-navigation2">
      <button class="list_vw-view-all list_vw-view-all-font">VIEW ALL <img style="padding-bottom:4px" src="infinite-icon.png"></button>
    </div>
  </div>
</template>
