<!--
  Author: Jerek Shoemaker
  Created: 10/1/2015
  Description: compensation Module
  Associated Files: compensation.html, compensation.less, compensation_logic.js
-->

<template name = "compensation">
  <div class = "comp">
    <div class = "comp-hdr">
      <div class = "comp-hdr-icon"></div>
      <div class = "comp-hdr-nm">{{execName}}</div>
      <div class = "comp-hdr-txt">'s Executive Compensation</div>
    </div>
    <div class = "comp-ttl">
      <div class = "comp-ttl-txt">Total Compensation for {{yearChosen}}:</div>
      <div class = "comp-ttl-num">${{totalCompensation}}</div>

      <select id="year-chosen" class="comp-ttl-select">
          <option class="comp-ttl-select-txt" disabled="disabled" selected="selected" value="2014">Choose Year:&nbsp;</option>
          {{#each years}}
  				    <option class = "comp-ttl-select-num" value="{{this}}">{{this}}</option>
          {{/each}}
          <i class = "fa fa-sort-desc"></i>
  		</select>
    </div>

    <div class = "comp-graph">
      {{#with showCompensation}}
      <div id="comp_error">
        {{showCompensation}}
      </div>
      {{/with}}
      <div class = "comp-graph" id = "comp_graph">
        {{> highchartsHelper chartId="comp_graph" chartWidth="641px" chartHeight="218px"  chartObject=getCompGraphObject}}
      </div>
    </div>

    <a href = "{{compURL}}"><div class = "comp-footer">
      <div class = "comp-footer-icon">
        <i class = "fa fa-line-chart"></i>
      </div>
      <div class = "comp-footer-txt">All Exec. Compensation</div>
      <i class = "fa fa-angle-right"></i>
    </div></a>
  </div>
</template>
