<template name="amenities_list">
  <div class="module-3 amenities_list">
    <!--Frame name header-->
    <div class="module-header">
      <span class="module-header-line"></span><span class="module-header-title">{{PageTitle}}</span></div>
      <div class="module-wrapper">
        {{#each ListItems}}
        <div class="{{class}}">
          <!--Profile Image-->
          <div class="amenities_list_img" style="background-image: url('{{image_url}}'), url('/stock/smallAgencies/agency_{{AgencyNum}}.jpg')">
            <a href="{{url}}"><div class="top_list-view-profile">
              <div class="top_list-image-body">
                <div class="top_list-view">Yelp</div>
                <div class="top_list-profile">Profile</div>
              </div>
            </div></a>
          </div>
          <!--Location title -->
          {{#if street_address}}
          <div class="amenities_list_location"><i class="fa fa-map-marker"></i>{{street_address}} > {{city}}, {{state}} {{zipcode}} </div>
          {{/if}}
          <div class="amenities_list_listtitle">{{name}}</div>
          <div class="amenities_list_comments"><b>What people are saying:</b> {{snippet_text}}</div>
        </div>
        {{/each}}
      </div>
      <div class="module-footer">
        {{#if NextURL}}
        <a href="{{NextURL}}"><button class="module-footer-button" id="see_whole_list">
          <span class="module-footer-button-text">NEXT 20 AMENITIES</span>
          <span class="module-footer-button-ellipse"><i class="fa fa-mail-forward"></i></span>
        </button></a>
        {{/if}}
      </div>
    </div>
    {{> search_module}}
  </template>
