<!--Author: [Prashanth Diddi]
Created: [05/30/2015]
Description: [.html file for Crime Details Module]
Associated Files: [crime_details.html,crime_details.less,crime_details_logic.html]
-->

<template name="crime_details">
  <div class="module-3"><div class="module-header"><span class="module-header-line"></span><span class="module-header-title">CRIME DETAILS</span></div>
    <div class="module-wrapper">
      <!--Panel of the module-->
      <div class="crimedetails-panel">

        <!--Panel Header and title -->
        <div class="crimedetails-panel-header">
          <span class="crimedetails-panel-title">
            <i class="fa fa-circle crimedetails-blue"></i> {{location}} CRIME DETAILS
          </span>
        </div>
        <!--Panel Header and title ends-->
        <div class="crimedetails-topcontainer">
        <!--Top left Panel of 5 colums-->
          <div class="crimedetails-crimesector">
            <!--Title column of Top left Panel-->
            <div class="crimedetails-crimesector-titlecontainer">
              <span class="crimedetails-crimesector-titletext"><i class="fa fa-th-large crimedetails-crimesector-titletext"></i> Crimes</span>
              <span class="crimedetails-crimesector-titletext crimedetails-crimesector-titlerighttext"> Net %</span>
            </div>
            <!--Title column of Top left Panel ends-->

            <!--First column of Top left Panel list-->

              <div class="crimedetails-crimesectorlist">
                <div class="crimedetails-itemidentifier crimedetails-blueidentifier">
                </div>
                <span class="crimedetails-crimesectorcontent">{{crime1}}</span>
                <i class="crimedetails-fa-angle-right-align fa fa-angle-right"></i>
                <span class="crimedetails-contentrighttext">{{crimepercent1}}%</span>
              </div>

            <!--First column of Top left Panel list ends-->

            <!--Second column of Top left Panel list-->

              <div class="crimedetails-crimesectorlist">
                <div class="crimedetails-itemidentifier crimedetails-redidentifier">
                </div>
                <span class="crimedetails-crimesectorcontent">{{crime2}}</span>
                <i class="crimedetails-fa-angle-right-align fa fa-angle-right"></i>
                <span class="crimedetails-contentrighttext">{{crimepercent2}}%</span>
              </div>

            <!--Second column of Top left Panel list ends-->

            <!--Third column of Top left Panel list-->

              <div class="crimedetails-crimesectorlist">
                <div class="crimedetails-itemidentifier crimedetails-yellowidentifier">
                </div>
                <span class="crimedetails-crimesectorcontent">{{crime3}}</span>
                <i class="crimedetails-fa-angle-right-align fa fa-angle-right"></i>
                <span class="crimedetails-contentrighttext">{{crimepercent3}}%</span>
              </div>

            <!--Third column of Top left Panel list ends-->

            <!--Fourth column of Top left Panel list-->

              <div class="crimedetails-crimesectorlist">
                <div class="crimedetails-itemidentifier crimedetails-purpleidentifier">
                </div>
                <span class="crimedetails-crimesectorcontent">{{crime4}}</span>
                <i class="crimedetails-fa-angle-right-align fa fa-angle-right"></i>
                <span class="crimedetails-contentrighttext">{{crimepercent4}}%</span>
              </div>

            <!--Fourth column of Top left Panel list-->
          </div>
        <!--Top left Panel of 5 colums ends-->

        <!--Pie Chart-->
          <div class="crimedetails-donutchart">
              <img src={{chartImg}} alt='' class='crimedetails-piechartimage' >
                <div class="crime_chart">
                    <!--{{> highchartsHelper chartId="devices" chartWidth="100%" chartHeight="100%" chartObject=crimesChart}}-->
                </div>
          </div>
        </div>
        <!--Pie Chart ends-->

        <!--Bottom pannel of 4 columns-->
        <div class="crimedetails-crimelist">

          <!--First Column of Bottom pannel-->

            <div class="crimedetails-crimelist-content">
              <div class="crimedetails-itemidentifier crimedetails-greyidentifier"></div>
              <div class="crimedetails-crimelist-crimeimagecontent">
                <img src="/icons/Icon_Shooting.png" class="crimedetails-crimelist-crimeimage">
              </div>
              <i class="crimedetails-crimelist-fa-angle-right-align fa fa-angle-right"></i>
              <div class="crimedetails-crimelist-text">
                <div class="crimedetails-crimelist-heading">
                <span class="crimedetails-crimelist-headingcrime">Crime -</span>
                <span class="crimedetails-crimelist-headingcrimename"> {{crime_news_type1}}</span>
                  <div class="crimedetails-crimelist-info">
                    <span class="crimedetails-crimelist-infotext">
                      {{crime_news1}} <span class= "crimedetails-crimelist-timestamp">{{crime_date1}}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          <!--First Column of Bottom pannel ends-->

          <!--Second Column of Bottom pannel-->

            <div class="crimedetails-crimelist-content">
              <div class="crimedetails-itemidentifier crimedetails-greyidentifier">
              </div>
              <div class="crimedetails-crimelist-crimeimagecontent">
                <img src="/icons/Icon_Arrest.png" class="crimedetails-crimelist-crimeimage">
              </div>
              <i class="crimedetails-crimelist-fa-angle-right-align fa fa-angle-right"></i>
              <div class="crimedetails-crimelist-text">
                <div class="crimedetails-crimelist-heading">
                <span class="crimedetails-crimelist-headingcrime">Crime -</span>
                <span class="crimedetails-crimelist-headingcrimename"> {{crime_news_type2}}</span>
                  <div class="crimedetails-crimelist-info">
                    <span class="crimedetails-crimelist-infotext">
                      {{crime_news2}} <span class= "crimedetails-crimelist-timestamp">{{crime_date2}}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          <!--Second Column of Bottom pannel ends-->

          <!--Third Column of Bottom pannel-->

            <div class="crimedetails-crimelist-content">
              <div class="crimedetails-itemidentifier crimedetails-greyidentifier">
              </div>
              <div class="crimedetails-crimelist-crimeimagecontent">
                <img src="/icons/Icon_Vandalism.png" class="crimedetails-crimelist-crimeimage">
              </div>
              <i class="crimedetails-crimelist-fa-angle-right-align fa fa-angle-right"></i>
              <div class="crimedetails-crimelist-text">
                <div class="crimedetails-crimelist-heading">
                <span class="crimedetails-crimelist-headingcrime">Crime -</span>
                <span class="crimedetails-crimelist-headingcrimename"> {{crime_news_type3}}</span>
                  <div class="crimedetails-crimelist-info">
                    <span class="crimedetails-crimelist-infotext">
                      {{crime_news3}} <span class= "crimedetails-crimelist-timestamp">{{crime_date3}}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          <!--Third Column of Bottom pannel ends-->

          <!--Fourth Column of Bottom pannel-->

            <div class="crimedetails-crimelist-content">
              <div class="crimedetails-itemidentifier crimedetails-greyidentifier">
              </div>
              <div class="crimedetails-crimelist-crimeimagecontent">
                <img src="/icons/Icon_Theft.png" class="crimedetails-crimelist-crimeimage">
              </div>
              <i class="crimedetails-crimelist-fa-angle-right-align fa fa-angle-right"></i>
              <div class="crimedetails-crimelist-text">
                <div class="crimedetails-crimelist-heading">
                <span class="crimedetails-crimelist-headingcrime">Crime -</span>
                <span class="crimedetails-crimelist-headingcrimename"> {{crime_news_type4}}</span>
                  <div class="crimedetails-crimelist-info">
                    <span class="crimedetails-crimelist-infotext">
                      {{crime_news4}} <span class= "crimedetails-crimelist-timestamp">{{crime_date4}}</span>
                    </span>
                  </div>
                </div>
              </div>
             </div>

            <!--Fourth Column of Bottom pannel ends-->
        </div>
        <!--Bottom pannel of 4 columns ends-->

        <!--Footer of the module-->
        <!--<div class="crimedetails-module-footer">
          <button class="module-footer-button">
            <span class="module-footer-button-text">SEE WHOLE LIST</span>
            <span class="module-footer-button-ellipse"><i class="fa fa-mail-forward"></i></span>
          </button>
        </div>-->
        <!--Footer of the module ends-->
      </div>
      <!--Panel of the modulee ends-->

      <!--First tile in top right of the panel-->
      <!--
      <div class="crimedetails-tiles">
        <div class="module-tile">
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <span class="module-footer-button-ellipse crimedetails-tileelipse"><i class="fa fa-mail-forward"></i></span>
              <div class="module-tile-default-icon crimedetails-tileicon">
                <i class="fa fa-shield"></i>
              </div>
              <div class="module-tile-default-text">
              Crime Ratings
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#">
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa fa-shield"></i>
				Crime Ratings
              </div>
              <div class="module-tile-info">
              </div>
              <button class="module-tile-button">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
            </div>
          </a>
        </div>
      </div>
    -->
      <!--First tile in top right of the panel ends-->

      <!--Second tile in top right of the panel-->
      <!--
      <div class="crimedetails-tiles">
        <div class="module-tile">
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <span class="module-footer-button-ellipse crimedetails-tileelipse"><i class="fa fa-mail-forward"></i></span>
              <div class="module-tile-default-icon crimedetails-tileicon">
                <i class="fa fa-globe"></i>
              </div>
              <div class="module-tile-default-text">
              Areas with Similar Crime
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#">
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa fa-globe"></i>
				Areas with Similar Crime
              </div>
              <div class="module-tile-info">
              </div>
              <button class="module-tile-button module-tile-button-align">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
            </div>
          </a>
        </div>
      </div>
    -->
      <!--Second tile in top right of the panel ends-->

      <!--Third tile in top right of the panel-->
      <!--
      <div class="crimedetails-tiles">
        <div class="module-tile">
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <span class="module-footer-button-ellipse crimedetails-tileelipse"><i class="fa fa-mail-forward"></i></span>
              <div class="module-tile-default-icon crimedetails-tileicon">
                <i class="fa fa-pagelines"></i>
              </div>
              <div class="module-tile-default-text">
              Areas with Least Crime
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#">
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa fa-pagelines"></i>
				Areas with Least Crime
              </div>
              <div class="module-tile-info">
              </div>
              <button class="module-tile-button module-tile-button-align">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
            </div>
          </a>
        </div>
      </div>
    -->
      <!--Third tile in top right of the panel ends-->
    </div>
  </div>
</template>
