<!--Author: [Venkatesh Mabbu]
Created: [07/20/2015]
JIRA ID: REAL-73
Description: [Fin_Global_Frame: Like Us on Facebook]
Associated Files: [Facebook.html, Facebook_logic.js and Facebook.less ]
-->
<template name="Facebook">
  <div id="fb-root"></div>
  <!-- This script is used to insert the Facebook social plugin into the current page -->
  <!-- The page design starts from here "module-finance-fb" class is used to hold the complete elements in the current module -->
  <div class="module-finance-fb">
    <div class="module-header">
      <span class="module-header-line"></span><span class="module-header-title">LIKE US ON FACEBOOK</span>
    </div>
    <div class="module-header2-backhead">
      <div class="module-header2-title2">Find us on Facebook</div>
    </div>
    <!-- This inserts the Facebook plugin-->
    <div class="fb-page" data-href="https://www.facebook.com/PassFailSocial?fref=ts" data-width="680" data-height="220" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="true" data-show-posts="false">
      <div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/PassFailSocial?fref=ts"><a href="https://www.facebook.com/PassFailSocial?fref=ts">PassFail</a></blockquote></div>
    </div>
  </div>
</template>
