<!--Author: [Thanush Subramanian Elango]
Created: [06/17/2015]
Description: [Similar Neighborhoods]
Associated Files: [similar_neighborhood.less] similar_neighborhood_logic.js]!-->


<template name="similar_neighborhoods">
  <div class="myframe_neighborhood">
    <div class="module-header">
      <span class="module-header-line">
      </span>
      <span class="module-header-title">SIMILAR NEIGHBORHOODS IN {{location}}
      </span>
    </div>
    <!--************Widget Background Image  ************!-->
    <div class="myframe_neighborhood_all-myframe_main_body">
      <!--*************The Wrapper for the left and right Buttons  ***************!-->
      <div class="myframe_neighborhood_all-myframe_center_wrapper">
        <!--***********Left Button Creation ************!-->
        <button class="myframe_neighborhood_all-myframe_left_button">
          <div class="myframe_neighborhood_all-myframe_icons">
            <i class="fa fa-angle-left"></i>
          </div>
        </button>
        <!--**********right Button Creation ***********!-->
        <button class="myframe_neighborhood_all-myframe_right_button">
          <div class="myframe_neighborhood_all-myframe_icons2">
            <i class="fa fa-angle-right"></i>
          </div>
        </button>
      </div>
      <!--************Wrapper for the bottom bar************!-->
      <div class="myframe_neighborhood_all-my_frame_bottom">
        <!--********Wrapper for the Text at the bottom of the page ***********!-->
        <div class="myframe_neighborhood_all-myframe_textwrapper">
          <!--***********Font Awesome for the Text at the bottom of the page *************!-->
          <div class="myframe_neighborhood_all-myframe_font_icon">
            <i class="fa fa-map-marker"></i>
            <span class="myframe_neighborhood_all-myframe_font_text">
              {{location}}
            </span>
          </div>
          <!--***********Text at the bottom of the page ***********!-->
          <div class="myframe_neighborhood_all-myframe_text1"> {{neighborhood}}
          </div>
          <div class="myframe_neighborhood_all-myframe_text2">{{listings}} Listings Available
          </div>
        </div>
        <!--********Button at the bottom of the page ***********!-->
        <!--<button class="myframe_neighborhood_all-myframe_button-wrapper">
          <span class="myframe_neighborhood_all-myframe_button-text">
            VIEW NEIGHBORHOODS
          </span>-->
          <!--********Share icon at the bottom of the page inside the button ***********!-->
          <!--<span class="myframe_neighborhood_all-myframe_button-icon">
            &nbsp;<i class="fa fa-share"></i>
          </span>
        </button>-->
      </div>
      <!--Profile Image at the bottom of the page!-->
      <button class="myframe_neighborhood_all-myframe_circle1">
        <div class="myframe_neighborhood_all-myframe_circle2">
        </div>
      </button>

      <!--Profile Image Hover at the bottom of the page!-->
      <!--<a href="">
        <div class="myframe_neighborhood_all-myframe_viewprofile">

          <span class="myframe_neighborhood_all-myframe_viewprofile_txt1">View</span>
          <span class="myframe_neighborhood_all-myframe_viewprofile_txt2">Profile</span>

        </div>
      </a>-->
    </div>
  </div>
</template>
