<!--Name: Meghana
Created:6/11/2015
Description:html for contact realtor module
Associated Files:realtor-contact.less,realtor-contact_layout.html-->
<template name="realtor_contact">
  <div class="module-panel">
    <!--title-->
    <div class="module-header-panel"><span class="module-header-line"></span>
      <span class="module-header-title">CONTACT REALTOR</span></div>
      <div class="module-wrapper">
        <table>
          <tr>
            <td>
              <!--realtor image-->
              <div class="contact_realtor_head-image-panel" style="background-image: url('{{realtorlogo}}')">
                <!--realtor agency image-->
                <!--<div class="contact_realtor_head-subimage-panel" style="background-image: url('{{realtorlogo}}')">
                </div>-->
              </div>
            </td>
            <td >
              <!--realtor information-->
              <div  class="contact_realtor_realtor-name">{{agentname}}</div>
              <div class="contact_realtor_realtor-number"><i class="fa fa-phone"></i> {{agentofficephone}}</div>
              <div class="contact_realtor_realtor-company" title="{{realtorcompany}}">{{realtorcompany}}</div>
            </td>
          </tr>
        </table>
        <!--input fields to contact-->
        <div>{{name}}</div>
        <div>{{email}}
        </div>
        <form method="post" action="mailto:{{agentemail}}" enctype="text/plain">
          <div class="contact_realtor_set">
            <div><input type="text" class="contact_realtor_input-name" placeholder="Your Name..." name="Name">{{names}}</div>
            <div><input type="text" class="contact_realtor_input-email" placeholder="Your Email..." name="Email"></div>
            <div><input type="text" class="contact_realtor_input-number" placeholder="Your Phone Number..." name="Phone Number"></div>
            <div><textarea class="contact_realtor_msg-box" name="Message:">Hi, I found your listing on JoyfulHomes.Please send me more information {{address}}, {{location}} {{zip}}.Thank you</textarea></div>
          </div>
          <div class="module-footer">
            <!-- can be removed if not in template -->
            <button class="module-footer-button" type="submit" value="request_info" id="realtor_contact_submit">
              <span class="module-footer-button-text">REQUEST INFO</span>
              <span class="module-footer-button-ellipse"><i class="fa fa-mail-forward"></i></span>
            </button>
            <!-- END -->
          </div>
        </form>
      </div>
    </div>
  </template>
