<!--Re_design please remove this when Re_design is implemented-->
<!--New Design Please add into profile when design is finished-->
<template name="teser">
  {{> new_whos_who}}
</template>
<template name="company_profile">
  <!--{{> c-cta_mag}} New Design Please add into profile when design is finished-->

  {{> c_p_header}} <!--Re_design please remove this when Re_design is implemented-->
  <!-- {{> leavecomments}} -->
  {{> daily_update}}
  {{> trending_news}}
  <!--{{> Earnings}}-->
  <!--{{> sec_finance}}-->
  {{> money_memory}}
  {{> about_company}}<!--{{> about_company}} New Design Please add into profile when design is finished-->
  {{> new_whos_who}}
  <!--{{> live_update}}-->
  {{> latest_news}}
  {{> dyk}}
  {{> faqs_finance}}
  {{> list_of_lists}}
  {{> featured_list}}
  {{> share}}
  <!--{{> Facebook}}-->
  {{> disqus_comments_module}}
  {{> about_us}}
</template>
