<!--
Author: Kyle Toom
Date: 8/13/2015
Decription: A page for showing what's happening in a city or area
Associated Files: loc_daily_update.html, loc_daily_update.less, loc_daily_update.js
-->

<template name="loc_daily_update">
    {{#with location}} <!--object used throughout the page for things like the location name-->
        <div class="ldu-page"> <!--container for whole page-->
            <div class="ldu-pr ldu-top"> <!--container for white background area at top-->
                <div class="ldu-pr ldu-top-circle"> <!--back arrow in top-->
                    <div class="ldu-pr ldu-top-circle-btn">
                        <i class="fa fa-reply"></i>
                    </div>
                </div>
                <i class="ldu-pa ldu-n ldu-top-txt1">
                    LAST UPDATED: 06/24/2015, 8:00 AM EST
                </i>
                <i class="ldu-pa ldu-n ldu-top-txt2">
                    <i class="fa fa-map-marker"></i>
                    United States
                </i>
                <i class="ldu-pa ldu-b ldu-top-txt3">
                    Daily Update
                </i>
                <i class="ldu-pa ldu-l ldu-top-txt4">
                    for {{longName}}
                </i>
            </div>
            <div class="ldu-pr ldu-mid"> <!--the black-grey-black section in the middle-ish-->
                <div class="ldu-pa ldu-mid-top"> <!--the black header of the middle-->
                    <div class="ldu-b ldu-mid-top-txt1"> <!--the left part of the header-->
                        <div class="ldu-mid-top-txt1-name">
                            {{longName}}'s
                        </div>
                        <div class="ldu-mid-top-txt1-static">
                            Daily Update
                        </div>
                    </div>
                    <div class="ldu-l ldu-mid-top-txt2"> <!--the first right part of the header-->
                        <i class="fa fa-heart"></i>
                        Save
                    </div>
                    <div class="ldu-l ldu-mid-top-txt2"> <!--the second right part of the header-->
                        <i class="fa fa-share-alt"></i>
                        Share
                    </div>
                </div>
                <div class="ldu-pa ldu-mid-mid"> <!--the grey section in the middle-->
                    <div class="navigation-button-left">
                        <i class="fa fa-angle-left ldu-mid-mid-l"></i>
                    </div>
                    <div class="ldu-pa ldu-mid-mid-circle">
                    </div>
                    <div class="ldu-pa ldu-mid-mid-building">
                        <i class="fa fa-building-o fa-lg"></i>
                    </div>
                    <i class="ldu-pa ldu-b ldu-mid-mid-txt1">
                        {{abbreviatedName}}
                    </i>
                    <i class="ldu-pa ldu-l ldu-mid-mid-txt2">
                        <i class="fa fa-heart"></i>
                        Save
                    </i>
                    <i class="ldu-pa ldu-l ldu-mid-mid-txt3">
                        <i class="fa fa-share-alt"></i>
                        Share
                    </i>
                    <div class="ldu-pa ldu-l ldu-mid-mid-txtbox"> <!--the part of the middle-middle that has the important and long text-->
                        <i class="ldu-l ldu-mid-mid-txtbox-txt">
                            Within the SFBA Composite <i class="ldu-i">Apple, Inc.</i> is the
                            highest performing company with a share price
                            of <i class="ldu-i">$114.62</i>
                            <br>
                        </i>
                        <i class="ldu-l ldu-mid-mid-txtbox-btm1">
                            <!--SFBA Comp. and the above SFBA Composite don't use
                            spacebars as it is already referred to by 3 different names
                            and it would be potentially confusing to add 2 more. This can
                            easily be switched out later if necessary-->
                            SFBA Comp. is currently priced at:<br>
                        </i>
                        <i class="ldu-pr ldu-mid-mid-txtbox-btm2">
                            5,210 <i class="ldu-grn"><i class="fa fa-arrow-up"></i> +49,96 (+0.91%)</i>
                        </i>
                    </div>
                    <div class="navigation-button-right">
                        <i class="fa fa-angle-right ldu-mid-mid-r"></i>
                    </div>
                </div>
                <div class="ldu-pa ldu-mid-btm"> <!--the footer of the middle area-->
                    <div class="ldu-pa ldu-l ldu-mid-btm-txt1">
                        Want more information about the {{shortName}}?
                    </div>
                    <div class="ldu-pa ldu-l ldu-mid-btm-txt2">
                        Profile Last Updated On: <i class="ldu-b">07/29/2015</i>
                    </div>
                    <div class="ldu-pa ldu-mid-btm-btn">
                        View Profile <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="ldu-pr ldu-btm"> <!--holds anything but the search module below the middle area-->
                <div class="ldu-b ldu-btm-txt1">
                    Sort by: <i class="ldu-l">Daily Update </i><i class="fa fa-angle-down ldu-btm-txt1-blue"></i>
                </div>
                <div class="ldu-btm-what"> <!--a box that looks like it can be closed-->
                    <div class="ldu-b ldu-btm-what-top">
                        What is this page?
                        <i class="fa fa-times ldu-pr ldu-btm-what-top-x"></i>
                    </div>
                    <div class="ldu-btm-what-txt">
                        This page features a detailed look at {{longName}}'s daily financial
                        information including today's price, today's high, etc.
                    </div>
                </div>
                <div class="ldu-pr ldu-btm-data"> <!--a divide to seperate data from the box above-->
                    <div class="ldu-pr ldu-btm-data-title">
                        Daily Update <i class="ldu-l">for the {{longName}}:</i>
                    </div>
                    <div class="ldu-pr ldu-btm-data-date">
                        <i class="fa fa-calendar"></i>
                        Last Updated 07/30/2015
                    </div>
                    <div class="ldu-btm-data-text">
                        Sartorial banh mi fingerstache direct trade. Intelligentsia Neutra pork belly, Pitchfork American Apparel
                        mumblecore try-hard skateboard. Mustache flexitarian cray Neutra post-iconic. High Life street art +1,
                        mustache Bushwick Blue Bottle wolf biodiesel lumbersexual McSweeney's. Echo Park meditation bitters,
                        letterpress ennui Tumblr messenger bag mlkshk you probably haven't heard of them Kickstarter
                        Vice XOXO. Echo Park normcore disrupt, High life PBR&B Blue Bottle leggings Marfa banh mi Portland.
                        Brunch iPhone Truffaut McSweeney's cred narwhal skateboard keytar next level PBR cornhole, hashtag
                        mlkshk vinyl.
                        <br><br>
                        Hoodie wayfarers vegan, asymmetrical DIY mlkshk High Life. Cold-pressed chilwave Godard XOXO
                        shabby chic. Jean shorts actually Odd Future, gastropub Schlitz beard Bushwick mixtape. Cliche
                        normcore cold-pressed crucifix occupy paleo. Flannel raw denim dreamcatcher, food truck migas
                        brunch vegan farm-to-trade synth 90's. Truffaut taxidermy tattooed sartorial small batch. Stumptown
                        Brooklyn ennui gentrify, Carles PBR&B put a bird on it.
                        <br><br>
                        Slow-carb direct trade cronut, seitan quinoa wayfarers fap readymade Etsy brunch. Biodiesel brunch
                        put a bird on it, chia Carles tote bag Blue Bottle. Chambray brunch lo-fi mixtape tattooed, blog messenger
                        bag mustache flexitarian. Typewriter cliche locavore kale chips. Yr ethical Blue Bottle forage, photo
                        booth messenger bag fingerstache YOLO sustainable heirloom fap quinoa cold-pressed typewriter.
                        Salvia skateboard cardigan, Etsy swag migas YOLO art party organic 3 wolf moon Shoreditch seitan
                        sustainable. Squid deep v vegan, put a bird on it next level small batch stumptown scenester Brooklyn
                        XOXO bespoke.
                    </div>
                </div>
                <div class="ldu-pr ldu-btm-data"> <!--a divide to seperate data from the box above-->
                    <div class="ldu-pr ldu-btm-data-title">
                        Stock Graph <i class="ldu-l">for the {{longName}}:</i>
                    </div>
                    <div class="ldu-pr ldu-btm-data-date">
                        <i class="fa fa-calendar"></i>
                        Updated 08/03/2015 at 4PM EST
                    </div>
                    <div class="ldu-pr ldu-btm-data-graph" id="lduGraph">
                        <!--Put graph here-->
                        {{> highchartsHelper chartId="lduChart" chartWidth="650px" chartHeight="221px" chartObject=getGraphObject}}
                    </div>
                    <div class="ldu-btm-data-period"> <!--this holds the buttons that change the x scale of the graph-->
                        {{#each btns}}
                            <div class="ldu-btm-data-period-btn{{isInitial num}}" id="lduBtn{{num}}" onclick="lduBtns({{num}})">
                                {{text}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="ldu-pr ldu-btm-data-list"> <!--List various figures but is not a tile-->
                        <div class="ldu-pr ldu-btm-data-list-l">
                            <div class="ldu-btm-data-list-i">
                                <i class="ldu-l ldu-btm-data-list-i-l">
                                    <i class="fa fa-area-chart ldu-btm-data-list-i-l-fa"></i> Today's Low:
                                </i>
                                <i class="ldu-b ldu-btm-data-list-i-r">
                                    5183.23
                                </i>
                            </div>
                            <div class="ldu-btm-data-list-i">
                                <i class="ldu-l ldu-btm-data-list-i-l">
                                    <i class="fa fa-pie-chart ldu-btm-data-list-i-l-fa"></i> Today's High:
                                </i>
                                <i class="ldu-b ldu-btm-data-list-i-r">
                                    5210.16
                                </i>
                            </div>
                            <div class="ldu-btm-data-list-i">
                                <i class="ldu-l ldu-btm-data-list-i-l">
                                    <i class="fa fa-table ldu-btm-data-list-i-l-fa"></i> Previous Close:
                                </i>
                                <i class="ldu-b ldu-btm-data-list-i-r">
                                    5163.18
                                </i>
                            </div>
                            <div class="ldu-btm-data-list-i-b">
                                <i class="ldu-l ldu-btm-data-list-i-l">
                                    <i class="fa fa-building-o ldu-btm-data-list-i-l-fa"></i> Total Companies:
                                </i>
                                <i class="ldu-b ldu-btm-data-list-i-r">
                                    101
                                </i>
                            </div>
                        </div>
                        <div class="ldu-pr ldu-btm-data-list-r">
                            <div class="ldu-btm-data-list-e"> <!--the abnormal list item-->
                                <div class="ldu-btm-data-list-e-title ldu-l">
                                    <i class="ldu-b">Learn why </i>SFBAC is <i class="ldu-grn"><i class="fa fa-arrow-up"></i> +0.52%</i> today:
                                </div>
                                <div class="ldu-pr ldu-btm-data-list-e-circle">
                                </div>
                                <div class="ldu-pr ldu-btm-data-list-e-txt">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Vestibulum at dui eget lorem
                                    suscipit fringilla eget eu sapien. Aliquam
                                    malesuada, sapien quis pellentesque euismod,
                                    arcu mi gravida urna, sed tempus
                                    justo libero at eros.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> search_module}}
        </div>
    {{/with}}
</template>
