<!-- Author: Jyothyswaroop
**** Created: [07/23/2015]
**** Description: : FINANCE - Executive profile
**** Associated Files: location_profile.html
-->

<!--Re_design please remove this when Re_design is implemented-->
<!--New Design Please add into profile when design is finished-->

<template name="location_profile">
  {{> profile_header}}  <!--Re_design please remove this when Re_design is implemented-->
  {{> leavecomments}} <!--Re_design please remove this when Re_design is implemented-->
  {{> market_bar}}
  <!--{{> filters}} New Design Please add into profile when design is finished-->
  {{> daily_update}}
  {{> trending_news}}
  {{> happening_today}} <!--New Design Please add into profile when design is finished-->
  {{> market_report}}
  {{> list_of_lists}}
  {{> Earnings}}
  {{> sec_finance}}
  {{> company_wtd}}<!--{{> area_composite}}-->
  {{> area_breakdown}} <!--Re_design please remove this when Re_design is implemented-->
  {{> locations}}
  {{> latest_news}}
  {{> dyk}}
  {{> faqs_finance}}
  {{> list_of_lists}}
  {{> featured_list}}
  {{> share}}
  {{> Facebook}}
  {{> about_us}}
</template>
