<!-- Author: Jyothyswaroop
**** Created: [07/23/2015]
**** Description: : FINANCE - Executive profile
**** Associated Files: location_profile.html
-->

<!--Re_design please remove this when Re_design is implemented-->
<!--New Design Please add into profile when design is finished-->

<template name="nameless">
  {{> new_whos_who}}
</template>
<template name="location_profile">
  {{> l_p_header}}
  {{> market_bar}}
  <!-- {{> find_company}} -->
  <!-- {{> leavecomments}} -->
  {{> trending_news}}
  {{> happening_today}}
  {{> daily_update}}
  {{> market_report}}
  {{> marketmovers}}
  <!--{{> Earnings}}-->
  <!--{{> sec_finance}}-->
  {{> area_composite}}
  {{> area_breakdown}}
  <!--{{> locations}}-->
  {{> latest_news}}
  <!--{{> dyk}}-->
  {{> faqs_finance}}
  {{> featured_list}}
  {{> share}}
  <!--{{> Facebook}}-->
  {{> about_us}}
</template>
