<!-- Author: Ryan Fisher
**** Created: [06/25/2015]
**** Description: Search Results List View
**** Associated Files: re_list_view.less,re_list_view.html,re_list_view_logic.js
-->

<template name="re_list_view">
  <div class="list-view_container">
    <!-- Main header -->
    <div class="list-view_module_header">
      <!--<div class="list-view_module_header_list"><i class="fa fa-list-ul"></i> LIST</div>
      <div class="list-view_module_header_photo"><i class="fa fa-photo"></i> PHOTO</div>
      <div class="list-view_module_header_map"><i class=" fa fa-compass"></i> MAP</div>-->

      <!-- Search results summary -->
      <div class="list-view_module_header_results">
        <span class="list-view_module_header_results_location">Property Listings for {{ListLocation}} | </span>
        <span class="list-view_module_header_results_amount">{{ListLength}} Results</span>
      </div>
    </div>

    <!-- Wrapper for main body of page containing featured listing,
    search results, image list, and new search modules -->
    <div class="list-view_module_wrapper">
      <!-- Featured Listing (FL) module -->
      <div class="list-view_module_featured" style="background-image: url('{{FeaturedPic}}')">
        <!-- FL Label and buttons -->
        <div class="list-view_module_featured_title"><span>Featured Listing</span></div>
        <div class="list-view_module_featured_buttons">
          <!--<div class="list-view_module_featured_save">
            <i class="fa fa-heart"></i><span class="list-view_module_featured_save_text">Save</span>
          </div>
          <div class="list-view_module_featured_share">
            <i class="fa fa-share-alt"></i><span class="list-view_module_featured_share_text">Share</span>
          </div>-->
        </div>
        <!-- FL Navigation -->
        <div class="list-view_module_featured_left-button"><i class="fa fa-angle-left"></i></div>
        <div class="list-view_module_featured_right-button"><i class="fa fa-angle-right"></i></div>
        <!-- FL information -->
        <div class="list-view_module_featured_info">
          <div class="list-view_module_featured_info_1"><span>${{FeaturedPrice}} | {{FeaturedSqft}} sqft</span></div>
          <div class="list-view_module_featured_info_2"><span>{{FeaturedAddress}} </span><i class="fa fa-angle-right"></i> {{FeaturedCity}}, {{FeaturedState}} {{FeaturedZip}}</div>
        </div>
        <a href="{{FeaturedURL}}"><div class="list-view_module_featured_button"><span>View profile</span></div></a>
      </div>

      <!-- Search Results (SR) -->
      <div class="list-view_module_list">
        <!-- SR "Sort by:" section -->
        <div class="list-view_sortbar">
          <!--<span class="list-view_sortbar_title">Sort by:</span>
          <i class="fa fa-angle-down list-view_blue list-view_sortbar_arrow"></i>-->
          <div class="list-view_sortbar_info">
            <div class="list-view_sortbar_info_header"><span>What is this list?</span></div>
            <i class="fa fa-close list-view_sortbar_info_icon"></i>
            <div class="list-view_sortbar_info_text"><span>Top {{ListLength}} {{ListDescription}}</span></div>
          </div>
        </div>
        <!-- SR Results list-->
        <div class="list-view_results">
          <!-- Individual result -->
          {{#each ListItem}}
          <div class="list-view_result {{ItemClass}}">
            <!-- SR images -->
            <div class="list-view_result_images">
              <a href="{{ItemURL}}"><div class="list-view_result_main-image" style="background-image: url('{{ItemPhoto}}')"></div></a>
              <div class="list-view_result_rank-image">#{{ItemNum}}</div>
              <div class ="list-view_result_sub-image" style="background-image: url('{{ItemRealtorPhoto}}')"></div>
            </div>
            <!-- SR bottom buttons -->
            <!--<div class="list-view_result_save-button">
              <i class="fa fa-heart"></i><span class="list-view_result_save-button_text">Save</span></div>
            <div class="list-view_result_share-button"><i class="fa fa-share-alt"></i><span class="list-view_result_share-button_text">Share</span></div>
            <div class="list-view_result_feedback-button"><i class="fa fa-flag"></i><span class="list-view_result_feedback-button_text">Feedback</span></div>-->
            <div class="list-view_result_info">
              <!-- Result information -->
              <!-- Line 1: Location, age -->
              <div class="list-view_result_line1">
                <span class="list-view_result_location">
                  <i class="fa fa-map-marker list-view_blue"></i> {{ItemCity}}, {{ItemState}}
                  {{#if ItemNeighborhood}}
                  <i class="fa fa-angle-double-right"></i> {{ItemNeighborhood}}
                  {{/if}}
                </span>
                <span class="list-view_result_age">Built in {{ItemYear}}</span>
              </div>
              <!-- Line 2: Address, price -->
              <div class="list-view_result_line2">
                <span class="list-view_result_address">{{ItemAddress}}</span>
                <span class="list-view_result_price">${{ItemPrice}}</span>
              </div>
              <!-- Line 3: Description, size -->
              <div class="list-view_result_line3">
                <span class="list-view_result_description">{{ItemBeds}} Beds / {{ItemBaths}} Baths</span>
                <span class="list-view_result_size">{{ItemSqft}} sqft</span>
              </div>
              <!-- More info text/button -->
              <div class="list-view_result_link">
                <div class="list-view_result_link_text"><span>Want more info about this listing?</span></div>
                <a href="{{ItemURL}}"><div class="list-view_result_button" id="{{ItemKey}}"><span>View profile</span></div></a>
              </div>
            </div>
          </div>
          {{/each}}

          <!-- Side-scrolling image list ->
          <div class="list-view_image-list">
            <div class="list-view_image-list_header"><span>New Homes on the Market in Wichita</span></div>
            <div class="list-view_image-list_homes">
              <!- Individual image ->
              <div class="list-view_image-list_image">
                <div class="list-view_image-list_text">
                  <div class="list-view_image-list_address"><span>1234 Address St.</span></div>
                  <div class="list-view_image-list_price"><span>$0</span></div>
                </div>
              </div>
              <!- Navigation ->
              <div class="list-view_image-list_left-button"><i class="fa fa-angle-left"></i></div>
              <div class="list-view_image-list_right-button"><i class="fa fa-angle-right"></i></div>
            </div>
          </div>

          <!- Search Result page navigation ->
          <div class="list-view_navigation">
            <i class="fa fa-angle-left list-view_navigation_left"></i>
            <div class="list-view_navigation_numeral"><span>1</span></div>
            <i class="fa fa-angle-right list-view_navigation_right"></i>
            <div class="list-view_navigation_view-all">
              <span class="list-view_navigation_view-all_text">VIEW ALL </span>
              <img src="/icons/Infinite-01.png" class="list-view_navigation_view-all_image"></div>
          </div>-->
        </div>
      </div>
    </div>
  </div>

  {{> search_module}}
</template>
