<!-- Author: Jyothyswaroop
**** Created: [07/23/2015]
**** Description: : FINANCE - Executive profile
**** Associated Files: location_profile.html
-->


<template name="location_profile">


  {{> profile_header}}
  {{> leavecomments}}
  {{> daily_update}}
  <!--{{> trending stories}}-->
  <!--{{> market_bar}}!-->
  <!--{{> happening_today}}!-->
  {{> latest_news}}
  <!--{{> portfolio_watchlist}}!-->
  <!--{{> top portfolios}}-->
  {{> featured_top_100}}
  {{> trending_news}}
  <!--{{> how are markets}}-->
  <!--{{> companies moving the market}}-->
  {{> Earnings}}
  {{> mutual_funds}}
  {{> sec_finance}}
  <!--{{> latest_IPOs}}-->
  {{> company_wtd}}
  <!--{{> local_companies_what_they_do}}-->
  {{> area_breakdown}}
  <!--{{> who's trending }}-->
  {{> share}}
  {{> Facebook}}
  {{> about_us}}
</template>
