<!-- Author: Jyothyswaroop
**** Created: [07/23/2015]
**** Description: : FINANCE - Executive profile
**** Associated Files: location_profile.html
-->


<template name="location_profile">


  {{> profile_header}}
  {{> leavecomments}}
  {{> dyk}}
  {{> trending_news}}
  {{> market_bar}}
  {{> happening_today}}
  {{> latest_news}}
  {{> portfolio_watchlist}}
  <!--{{> top portfolios}}-->
  {{> featured_list}}
  <!--{{> trending_location}}-->{{> trending_news}}
  <!--{{> how are markets}} needs to be {{> market_report}}-->
  <!--{{> companies moving the market}}-->{{> list_of_lists}}
  {{> Earnings}}
  {{> mutual_funds}}
  {{> sec_finance}}
  {{> latest_IPOs}}
  {{> company_wtd}}
  {{> area_breakdown}}
  <!--{{> who's trending }}-->{{> whos_who}}
  {{> insider_t}}
  {{> share}}
  {{> Facebook}}
  {{> connections}}
  {{> locations}}
  {{> detailed_look}}
  {{> about_us}}
</template>
