<template name="list_of_list_page">
  {{#with checkList}}
  <div class="module-listoflists">
    <div class="list_header"><span class='list_header-line'></span>Top Lists That Feature <a href="{{goBack}}">{{title}}</a>
    </div>
    {{#each listsData}}
      <div class="list_ol" style="background-color:{{index_color}}">
        <div class="list_ol-top">
          <a href="{{compURL}}">
            <div class="list_ol-top-img1" style="background-image:url('{{imageUrl c_logo}}')">
              <div class="list_ol-top-img2">#{{tle_ranking}}</div>
            </div>
          </a>
          <div class="list_ol-top-content">
            {{#each top_list_list}}
            <div class="list_ol-top-content-textbox">
              <div class="list_ol-top-content-textbox-txt1">
                <a href="{{locurl}}">
                  <i class="fa fa-map-marker" style="color:#3098ff"></i>
                  United States of America
                </a>
              </div>
              <div class="list_ol-top-content-textbox-txt2 line-clamp line-clamp-2" title="{{list_of_lists_title}}">
                  {{list_of_lists_title}}
              </div>
            </div>
            <div class="list_ol-top-content-compbox">
              {{#each list_of_lists_data}}
              <a href="{{imageURL}}">
                <div class="list_ol-top-content-compbox-subimages" style="background-image:url('{{imageUrl c_logo}}')"></div>
              </a>
              {{/each}}
            </div>
            {{/each}}
            <a href="{{url}}">
              <button class="list_ol-top-content-button">
                <div class="fin_icon"></div>
                <div class="fin_text">See The List <i class="fa fa-angle-right"></i></div>
              </button>
            </a>
          </div>
        </div>
        <div class="list_ol-bottom">
          <!--<a href=""><div class="list_ol-bottom-share"><i class="fa fa-heart"></i> Save</div></a>-->
          <!--<a href="{{shareURL}}"><div class="list_ol-bottom-share"><i class="fa fa-share-alt"></i> Share</div></a>-->
          <!--<a href=""><div class="list_ol-bottom-feedback"><i class="fa fa-flag"></i> Feedback</div></a>-->
        </div>
      </div>
    {{/each}}
  </div>
  {{/with}}
  <!-- End of Template-->
</template>
