<!--
Author : David Wibowo
Date: 09/08/2015
Description: Area brekdown
Associated files: area_breakdown.html,area_breakdown.less,area_breakdown.js
-->
<template name="area_breakdown">
  {{#if dataExists}}
    <div class="bkdn">
      <div clas="bkdn-cnr">
        <div class="bkdn-cnr-head">
          <span class="bkdn-cnr-head-line"></span>
          <span class="bkdn-cnr-head-title">{{location}} Breakdown</span>
        </div>
        {{> breakdown_map}}
        <div class="bkdn-cnr-container">
          <div class="bkdn-cnr-container-stat">
            <span class="bkdn-cnr-container-stat-left">{{location}} Statistics</span>
            <span class="bkdn-cnr-container-stat-right"></span>
          </div>
          <div class="bkdn-cnr-container-content" >
            <div class="bkdn-cnr-container-content-line"></div>
            {{#each statistics}}
            <a href="{{url}}">
              <div class = "bkdn-cnr-container-content-Bttom_dtls" >
                  <div class="bkdn-cnr-container-content-Bttom_dtls-Stnd_bx_dtls">
                    <div class = "bkdn-cnr-container-content-Bttom_dtls-shading_awsm"><i class="fa {{fa}} bkdn-cnr-container-content-Bttom_dtls-users fa-2x"></i></div>
                    <div class = "bkdn-cnr-container-content-Bttom_dtls-Stat_txt_aln">
                      <div class="bkdn-cnr-container-content-Bttom_dtls-stat_txt_lrg">{{money}}</div>
                      <div class="bkdn-cnr-container-content-Bttom_dtls-Stat_txt_sml">{{desci}}</div>
                    </div>
                    <i class="fa fa-angle-right bkdn-cnr-container-content-Bttom_dtls-angrit fa-2x"></i>
                  </div>
              </div>
            </a>
            {{/each}}
          </div>
        </div>
      </div>
      <!--container for footer-->
      <a href="{{statURL}}">
        <div class="ftr">
            <div class="module-footer-button ftr-btn">
                <span class="module-footer-button-ellipse ftr-btn-icn"><i class="fa fa-line-chart"></i></span>
                <span class="module-footer-button-text ftr-btn-txt">See All Statistics &nbsp;<i class="fa fa-angle-right"></i></span>
            </div>
        </div><!-- end of container for footer-->
      </a>
    </div>
  {{/if}}
</template>

<template name="breakdown_map">
  <div class="bkdn-cnr-map" id="loc_map"></div>
</template>
