<template name="photo_view">


  <!-- header containing list,photos,map  -->
  <div class="photo_view_head_pane">
    <div class="photo_view_list" onclick="Router.go('content.realestate.listview')">
      <i class="fa fa-list-ul" ></i>
      <span class="photo_view_list_text">LIST</span>
    </div>

    <div class="photo_view_photo">
      <i class="fa fa-picture-o"></i>
      <span class="photo_view_photo_text">PHOTO</span>
    </div>


    <div class="photo_view_map" onclick="Router.go('content.realestate.search')">
      <i class="fa fa-compass"></i>
      <span class="photo_view_map_text">MAP</span>
    </div>

    <span class="photo_view_text">Property Listings for {{city}}, {{state}}</span>

    <span class="photo_view_fig"> {{found.count}} Results</span>


  </div>
   <!--right frame coantainig widgets and ads-->
  <div class="photo_view_rightzone">
    <div class="photo_view_rightzone_w1">

    </div>
    <span class="photo_view_rightzone_text">PRESENTED BY</span>
    <div class="photo_view_rightzone_ad"></div>
    <div class="photo_view_rightzone_w2"></div>
  </div>

  <!--frame for image-->
    {{#with featuredlisting}}
  <div class="photo_view_topimage" style="background-image: url('{{listimg}}');">
    <div class="photo_view_flbox">
      <div class="photo_view_flbox_text">Featured Listing</div>
    <!--  <div class="photo_view_flbox_save"><i class="fa fa-heart"></i><span class="photo_view_flbox_save_text">save </span></div>
      <div class="photo_view_flbox_share"><i class="fa fa-share-alt"></i><span class="photo_view_flbox_share_text">share </span></div>-->
    </div>
    <div  class="photo_view_left_arrow" onclick="left()">
      <i class="fa fa-angle-left"></i>
    </div>
    <div  class="photo_view_right_arrow" onclick="right()">
      <i class="fa fa-angle-right"></i>
    </div>
  </div>

  <div class="photo_view_viewbox">
<!--details of  the image displayed in the image frame-->
    <span class="photo_view_viewbox_price">{{price}}</span>
    <span class="photo_view_viewbox_area">{{livingarea}} sqft</span>
    <button class="photo_view_viewbox_button" id="{{key}}" onclick="ListingRedirect(this.id)">View Profile   <span class="photo_view_viewbox_right">  <i class="fa fa-angle-right" ></i></span></button>
  </div>
  <div class="photo_view_viewbox_address">
    <div class="photo_view_viewbox_staddress">{{address}}</div>
    <div class="photo_view_viewbox_rightarrow">   <i class="fa fa-angle-right"></i></div>
    <div class="photo_view_viewbox_city">{{city}}, </div>
    <div class="photo_view_viewbox_state">{{state}} </div>
    <div class="photo_view_viewbox_zip">{{zip}}</div>
  </div>
{{/with}}

<!-- lists available-->
  <!--<div class="photo_view_listbox">
    <div class="photo_view_listbox_topline">
      <div class="photo_view_listbox_sort">Sort by:</div>
      <select class="photo_view_listbox_list">
        <option >Newest Listings</option>
      </select>
      <span class="photo_view_listbox_arrow">
        <i class="fa fa-angle-down"></i>
      </span>
    </div><br>
    <div class="photo_view_listbox_question">
      <span class="photo_view_listbox_questionc">What is this list?</span>
      <span class="photo_view_listbox_close"><i class="fa fa-times"></i></span>
    </div>
    <div class="photo_view_listbox_content">This is a list of all 20,124 homes listed in the Chcago,IL Area.The average home price in Chicago ,IL is $345,0000.The cheapest Home costs $29,000 and the most expensive home is listed at $22,000,000
    </div>
  </div>-->

{{#each photolist}}
  <div class="photo_view_imagecontainer">

    <div class="photo_view_imagebox"  style="background-image: url('{{listimgleft}}');">
      <div class="photo_view_imagebox_link">
        <div class="photo_view_imagebox_save" id="{{keyleft}}" onclick="ListingRedirect(this.id)">
        <!--  <i class="fa fa-heart"></i>--><span class="photo_view_flbox_save_text">View Profile      <i class="fa  fa-angle-double-right"></i> </span>
      </div>
        <!--<div class="photo_view_imagebox_share">
          <i class="fa fa-share-alt"></i><span class="photo_view_flbox_share_text">share </span>
        </div>-->
      </div>
      <div class="photo_view_imagebox_details">
        <div class="photo_view_imagebox_price">{{listpriceleft}}</div>
        <div class="photo_view_imagebox_staddress">{{addressleft}}</div>
        <span class="photo_view_imagebox_bedrooms">{{bedsleft}} Beds</span>
        <span class="photo_view_imagebox_baths">{{bathsleft}} Baths</span>
        <span class="photo_view_imagebox_area">{{livingarealeft}} sqft</span>
      </div>
    </div>

    <div class="photo_view_imagebox1" style="background-image: url('{{listimgright}}');">
      <div class="photo_view_imagebox_link">
        <div class="photo_view_imagebox_save" id="{{keyright}}" onclick="ListingRedirect(this.id)">
        <!--  <i class="fa fa-heart"></i>--><span class="photo_view_flbox_save_text">View Profile      <i class="fa  fa-angle-double-right"></i> </span>
      </div>
    <!--    <div class="photo_view_imagebox_share">
          <i class="fa fa-share-alt"></i><span class="photo_view_flbox_share_text">share </span>
        </div>-->
      </div>
      <div class="photo_view_imagebox_details">
        <div class="photo_view_imagebox_price">{{listpriceright}}</div>
        <div class="photo_view_imagebox_staddress">{{addressright}}</div>
        <span class="photo_view_imagebox_bedrooms">{{bedsright}} Beds</span>
        <span class="photo_view_imagebox_baths">{{bathsright}} Baths</span>
        <span class="photo_view_imagebox_area">{{livingarearight}} sqft</span>
      </div>
    </div>

  </div>
{{/each}}

 <!--   search frame -->
  <div class="photo_view_viewall">
    <div class="photo_view_viewall_left"><i class="fa fa-angle-left"></i></div>
    <div class="photo_view_viewall_one">1</div>
    <div class="photo_view_viewall_two">2</div>
    <div class="photo_view_viewall_three">3</div>
    <div class="photo_view_viewall_dot">. . .</div>
    <div class="photo_view_viewall_twoh">200</div>
    <div class="photo_view_viewall_right"><i class="fa fa-angle-right"></i></div>

    <button class="photo_view_viewall_button" id="{{found.count}}" onclick="showmore()">SHOW MORE
    </button>


  </div>

  <div class="photo_view_viewall_searchbox">
    <span class="photo_view_viewall_searchbox_text">DISCOVER YOUR NEXT HOME</span>
    <span class="photo_view_viewall_searchbox_text1">Get all the details you need to plan your future.</span>
    <input type="text" class="photo_view_viewall_searchbox_area" placeholder="Search...">
    <button class="photo_view_viewall_searchbox_button"><i class="fa fa-search"></i></button>

  </div >



</template>
