<!--Author: Sri Sindhusha Kuchipudi
 Created: 10/05/2015
 Description: .less file for directory_page
 Associated Files: directory_page.html, directory_page.less, directory_page_logic.js
-->


<!-- Template for mainn directory page-->
<template name="directory_page">
  <!-- container for whole page-->
  <div class="dir_pg">
      <!-- container for header-->
    <div class="dir_pg-h">
      <div class="dir_pg-h-h1">
          <div class="dir_pg-h-h1-fai"><i class="fa fa-map-marker"></i></div>
          <div class="dir_pg-h-h1-l">{{location}}</div>
          <div class="dir_pg-h-h1-txt">{{location_title}}</div>
      </div>
        <!-- container for top separator-->
      <div class="dir_pg-ln"></div>
        <!-- container for company selector-->
      <div  class="dir_pg-cs">
          <!-- container for browse profiles-->
        <div  class="dir_pg-cs-bf">
            <div  class="dir_pg-cs-bf-brw">{{sort_title}}</div>
            <div  class="dir_pg-cs-bf-all">
            {{#each sortButtons}}
              <a href="{{path}}">
                <span  class="dir_pg-cs-bf-az {{#if color}} dir_pg-cs-bf-az-nw {{/if}}">{{disp}}</span>
              </a>
            {{#if vln}}
              <span  class="dir_pg-cs-bf-vln">|</span>
             {{/if}}
            {{/each}}
          </div>
          </div>
      </div>
        <!-- container for bottom separator-->
      <div class="dir_pg-ln"></div>
    </div>
      <!-- container for tiles-->
    <div class="dir_pg-tp">
      {{>showdetails}}
        <!-- container for tiles-->
      <div class="dir_pg-tp-tiles">
        {{#each profiles}}
          <!-- container for selecting tile color-->
        <div class="dir_pg-tp-{{getcolor}}">
          <div class="dir_pg-tp-lbr"></div>
            <div class="dir_pg-tp-con">
                <div class="dir_pg-tp-con-dt">Last updated: {{lastUpdated}}</div>
                <div class="dir_pg-tp-con-line2">
                    <a href="{{url1}}">
                      <span class="dir_pg-tp-con-pnm">{{text1}}</span>
                    </a>
                    <span class="dir_pg-tp-con-vln1">|</span>
                    <a href="{{url3}}">
                      <span class="dir_pg-tp-con-aff">{{text3}}</span>
                    </a>
                </div>
                <div class="dir_pg-tp-con-line3">
                  <a href="{{url4}}">
                    <div class="dir_pg-tp-con-loc">{{path1}} </div>
                  </a>
                  <a href="{{url5}}">
                    <div class="dir_pg-tp-con-pos"> <i class="fa fa-angle-right"></i>  {{path2}}</div>
                  </a>
                  {{#if path3}}
                    <a href="{{url6}}">
                      <div class="dir_pg-tp-con-yrs"> <i class="fa fa-angle-right"></i> {{path3}}</div>
                    </a>
                  {{/if}}
                    <!-- container for Ceo details prints only for every third tile-->
                  {{#if path4}}
                    <a href="{{url7}}">
                      <div class="dir_pg-tp-con-ceo"> <i class="fa fa-angle-right"></i> {{path4}}</div>
                    </a>
                  {{/if}}
                </div>
          </div>
        </div>
        {{/each}}
      </div>
        <!-- container for bottom showing and button details-->
      <div class="dir_pg-tp-btm">
          {{>showdetails}}
      </div>
    </div>
  </div>
</template>


  <!-- Template for bottom showing and button details-->
<template name="showdetails">
  <div class="dir_pg-tp-sw">
    <!-- container for showing details -->
    {{#with pageRange}}
      <div class="dir_pg-tp-sw-shw">Showing: {{start}} - {{end}} of {{total}} Profiles</div>
    {{/with}}
  </div>

 <a href="{{navLink.next}}">
   <span class="dir_pg-tp-btn2">Next &nbsp; &nbsp;<span  class="dir_pg-tp-fa1"><i class="fa fa-angle-right"></i></span></span>
 </a>

 <a href="{{navLink.prev}}">
   <span class="dir_pg-tp-btn1"><span  class="dir_pg-tp-fa1"><i class="fa fa-angle-left"></i></span>&nbsp; &nbsp;Back</span>
   <span>&nbsp; &nbsp;</span>
 </a>

</template>
