<!--Author: [Praveen Kumar]
Created: [06/15/2015]
Description: [Real Estate : Near by schools]
Associated Files: [The nearbyschools.less and nearby.html ]-->

<!--template begins-->
<template name="nearby_schools">
  <!-- Html and CSS implementation-->

  <div class="module-nearby-layout">
    <div class="module-header">
      <span class="module-header-line"></span><span class="module-header-title">SCHOOLS WITHIN 5 MILES OF THIS LISTING</span>
    </div>
    <!--wrapper to hold both left and right panels-->
    <div class="module-nearby-outer-wrapper">
      <!--wrapper for left panel-->
      <div class="module-nearby-inner-left-wrapper">

        <!--                 tile 1                  -->

        <div class="module-tile">
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <span class="module-footer-button-ellipse module-nearby-ellipse-fix"><i class="fa fa-mail-forward"></i></span>
              <div class="module-tile-default-icon module-nearby-tileicon-fix">
                <i class="fa fa-pencil"></i>
              </div>
              <div class="module-tile-default-text">
                Elementary Schools
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="{{ElementaryURL}}">
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa fa-pencil"></i>Elementary Schools
              </div>
              <div class="module-tile-info">
              </div>
              <button class="module-tile-button module-tile-button-align">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
            </div>
          </a>
        </div>

        <!--                tile-2                    -->

        <div class="module-tile">
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <div class="module-tile-default-icon ">
                <i class="fa fa-slideshare"></i>
              </div>
              <div class="module-tile-default-text">
                Middle<br>Schools
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="{{MiddleURL}}">
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa fa-slideshare"></i>Middle Schools
              </div>
              <div class="module-tile-info">
              </div>
              <button class="module-tile-button ">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
            </div>
          </a>
        </div>

        <!--                tile-3                    -->

        <div class="module-tile">
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <div class="module-tile-default-icon ">
                <i class="fa fa-graduation-cap"></i>
              </div>
              <div class="module-tile-default-text">
                High<br>Schools
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="{{HighURL}}">
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa fa-graduation-cap"></i>High Schools
              </div>
              <div class="module-tile-info">
              </div>
              <button class="module-tile-button">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
            </div>
          </a>
        </div>

        <!--              blue button                -->

        <!--<div>
          <button type="button" class="module-nearby-blubtn">
            <b>LOAD MORE</b>
            <i class="fa fa-ellipsis-h module-nearby-elip-fix"></i>
          </button>
        </div>-->

      </div>        <!--end of left panel-->

      <!--wrapper for right panel-->
      <div class="module-nearby-inner-right-wrapper">
        <div class="module-nearby-rightpanel-layout">
          <div class="module-nearby-rightpanel-titlebar">
            <span class="module-nearby-title-line"><i class="fa fa-circle module-nearby-title-align"></i>SCHOOL RATINGS</span>
          </div>

          <!--Top Component-->
          <div class="module-nearby-rightpanel-layout-component1">
            <div class="module-nearby-panel-topbackground">
              <a href="#">
                <div class="module-nearby-nav-fix-left"><i class="fa fa-angle-left"></i></div></a>
                <a href="#">
                  <div class="module-nearby-nav-fix-right"><i class="fa fa-angle-right"></i></div></a>
                  <div class="module-nearby-rpanel-line1">
                    What's are the schools in this area?
                  </div>
                  <span class="fa fa-map-marker" style="color:#3098ff">
                  </span>
                  <span class="module-nearby-rpanel-line2">
                    {{location}}
                  </span>
                  <div class="module-nearby-image-wrapper">
                    <div class="module-nearby-image-fix">
                      <div class="module-nearby-profile-image1" style="background-image: url('{{imgURL}}')">
                        <!--<a href="#">
                          <div class="module-nearby-profile-image2">
                            <div class="module-nearby-view-profile_txt1">VIEW</div>
                            <div class="module-nearby-view-profile_txt2">SCHOOL</div>
                          </div></a>--></div>
                        </div>
                      </div>
                      <div class="module-nearby-rpanel-line3">
                      {{SchoolName}}
                      </div>
                      <div class="module-nearby-line4-container">
                        <span class="module-nearby-rpanel-line4">
                          {{SchoolType}} School <!--<i class="fa fa-angle-right module-nearby-arrow-fix"></i> Rating:
                        </span>
                        <span class="module-nearby-btn-rating">
                          10-->
                        </span>
                      </div>
                      <div class="module-nearby-SFL-wrap">
                        <a href="{{AllURL}}"><button type="button" class="module-nearby-btn-SFL">
                          <b>SEE THE FULL LIST</b>
                          <i class="fa fa-share" style="padding-left:5px"></i>
                        </button></a>
                      </div>
                        <div class="module-nearby-panel-fix">
                        </div>
                      </div>
                    </div>

                    <!--Bottom component begins-->

                    <div class="module-nearby-rightpanel-layout-component2">

                      <!--sub-component 1-->

                      <a href="{{ElementaryURL}}">
                        <div class="module-nearby-content">

                          <div class="module-nearby-schoolcontent">
                            <i class="fa fa-pencil module-nearby-imgspec"></i>
                          </div>
                          <i class="module-nearby-align-angular-bracket fa fa-angle-right"></i>
                          <div class="module-nearby-textarea">
                            <div class="module-nearby-textarea1">
                              <div class="module-nearby-text1">
                                Elementary Schools
                              </div>
                              <div class="module-nearby-text2">
                                {{elementary}} Schools
                              </div>
                            </div>
                            <!--<div class="module-nearby-textarea2">
                              <div class="module-nearby-text3">
                                Below Average
                              </div>
                            </div>-->
                          </div>
                        </div>
                      </a>

                      <!--sub-component 2-->

                      <a href="{{MiddleURL}}">
                        <div class="module-nearby-content">
                          <div class="module-nearby-grey-bar"></div>
                          <div class="module-nearby-schoolcontent">
                            <i class="fa fa-slideshare module-nearby-imgspec"></i>
                          </div>
                          <i class="module-nearby-align-angular-bracket fa fa-angle-right"></i>
                          <div class="module-nearby-textarea">
                            <div class="module-nearby-textarea1">
                              <div class="module-nearby-text1">
                                Middle Schools
                              </div>
                              <div class="module-nearby-text2">
                                {{middle}} Schools
                              </div>
                            </div>
                            <!--<div class="module-nearby-textarea2">
                              <div class="module-nearby-text3">
                                Average
                              </div>
                            </div>-->
                          </div>
                        </div>
                      </a>

                      <!--sub-component 3-->

                      <a href="{{HighURL}}">
                        <div class="module-nearby-content">
                          <div class="module-nearby-grey-bar"></div>
                          <div class="module-nearby-schoolcontent">
                            <i class="fa fa-graduation-cap module-nearby-imgspec"></i>
                          </div>
                          <i class="module-nearby-align-angular-bracket fa fa-angle-right"></i>
                          <div class="module-nearby-textarea">
                            <div class="module-nearby-textarea1">
                              <div class="module-nearby-text1">
                                High Schools
                              </div>
                              <div class="module-nearby-text2">
                                {{high}} Schools
                              </div>
                            </div>
                            <!--<div class="module-nearby-textarea2">
                              <div class="module-nearby-text3">
                                Above Average
                              </div>
                            </div>-->
                          </div>
                        </div>
                      </a>

                      <!--sub-component 4-->

                      <a href="{{PreschoolURL}}">
                        <div class="module-nearby-content">
                          <div class="module-nearby-grey-bar"></div>
                          <div class="module-nearby-schoolcontent">
                            <i class="fa fa-institution module-nearby-imgspec"></i>
                          </div>
                          <i class="module-nearby-align-angular-bracket fa fa-angle-right"></i>
                          <div class="module-nearby-textarea">
                            <div class="module-nearby-textarea1">
                              <div class="module-nearby-text1">
                                Preschool
                              </div>
                              <div class="module-nearby-text2">
                                {{preschool}} Schools
                              </div>
                            </div>
                            <!--<div class="module-nearby-textarea2">
                              <div class="module-nearby-text3">
                                Above Average
                              </div>
                            </div>-->
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <!--end of right panel-->
              </div>
              <!--end of outer wrapper-->
            </div>
          </template>
          <!--end of template-->
