
<template name="project_history">
  <div class="module-4">

      <div class="module-header">
        <span class="module-header-line"></span>
        <!--widget title-->
        <span class="module-header-title">Top Lists That Feature Mark Zuckerberg</span>
      </div>

    <div class="module-wrapper">
      <!--Begin Panel-->
        <div class="project_history-panel">
          <div class="project_history-content-panel">
            <!--sort container-->
            <div class="project_history-list-sort-by-container">
              <span class="project_history-list-sort-by-container-bold">Sort By:</span> Most Recent <i class="fa fa-angle-down project_history-list-sort-by-container-blue" style="padding-left:5px;"></i>
            </div>
              <!--individual tile-->
            <div class="project_history-list-grey-tile">
              <!--profile information-->
              <span class="project_history-profile-info">
                <!--profile image-->
                <span class="project_history-profile-image"></span>
                  <!--save , share, feedback icons-->
                <span class="project_history-feedback">
                  <i class="fa project_history-feedback-icon fa-heart"></i><span class="project_history-feedback-text">Save</span>
                  <i style="margin-left:10px" class="fa project_history-feedback-icon fa-share-alt"></i><span class="project_history-feedback-text">Share</span>
                  <i style="margin-left:410px" class="fa project_history-feedback-icon fa-flag"></i><span class="project_history-feedback-text">Feedback</span>
                </span>
              </span>
                <!--profile information-->
              <span class="project_history-list-tile-information">
                <div>
                  <i class="fa project_history-list-tile-information-marker fa-map-marker"></i>
                  <span class="project_history-list-tile-information-location">Palo Alto, CA</span>
                </div>
                  <!--company information-->
                <div class="project_history-list-tile-information-company-name">Internet.org</div>
                <div><span class="project_history-list-tile-information-position-name">Founder </span><span class="project_history-list-tile-information-work-date">since August 2013 - present</span><span class="project_history-list-tile-information-position-time-passed">1 year & 9 months</span></div>
                <!--list of images-->
                <span class="project_history-featured-listing-image"></span>
                <span class="project_history-featured-listing-image"></span>
                <span class="project_history-featured-listing-image"></span>
                <span class="project_history-featured-listing-image"></span>
                <span class="project_history-featured-listing-image"></span>
                  <!--connections button-->
                <button class="project_history-view-all-connections">
                  <span class="project_history-view-all-connections-text">View All Connections</span>
                  <i style="margin-left:6px;" class="fa project_history-view-all-connections-icon fa-angle-right"></i>
                </button>
              </span>
            </div>
              <!--individual tile-->
            <div class="project_history-list-white-tile">
                <!--profile information-->
              <span class="project_history-profile-info">
                  <!--profile image-->
                <span class="project_history-profile-image"></span>
                <!--save , share, feedback icons-->
                <span class="project_history-feedback">
                  <i class="fa project_history-feedback-icon fa-heart"></i><span class="project_history-feedback-text">Save</span>
                  <i style="margin-left:10px" class="fa project_history-feedback-icon fa-share-alt"></i><span class="project_history-feedback-text">Share</span>
                  <i style="margin-left:410px" class="fa project_history-feedback-icon fa-flag"></i><span class="project_history-feedback-text">Feedback</span>
                </span>
              </span>
                <!--profile information-->
              <span class="project_history-list-tile-information">
                <div>
                  <i class="fa project_history-list-tile-information-marker fa-map-marker"></i>
                  <span class="project_history-list-tile-information-location">Menlo Park, PA</span>
                </div>
                    <!--company information-->
                <div class="project_history-list-tile-information-company-name">Facebook, Inc</div>
                <div>
                  <span class="project_history-list-tile-information-position-name">Chief Executive Officer </span>
                  <span class="project_history-list-tile-information-work-date">since February 2004 - present</span>
                  <span class="project_history-list-tile-information-position-time-passed">12 years & 1 month</span>
                </div>
                    <!--list of images-->
                <span class="project_history-featured-listing-image"></span>
                <span class="project_history-featured-listing-image"></span>
                <span class="project_history-featured-listing-image"></span>
                <span class="project_history-featured-listing-image"></span>
                <span class="project_history-featured-listing-image"></span>
                <button class="project_history-view-all-connections">
                  <!--connections button-->
                  <span class="project_history-view-all-connections-text">View All Connections</span>
                  <i style="margin-left:6px;" class="fa project_history-view-all-connections-icon fa-angle-right"></i>
                </button>
              </span>
            </div>
              <!--individual tile-->
            <div class="project_history-list-grey-tile">
                <!--profile information-->
              <span class="project_history-profile-info">
                <!--profile image-->
                <span class="project_history-profile-image"></span>
                <!--save , share, feedback icons-->
                <span class="project_history-feedback">
                  <i class="fa project_history-feedback-icon fa-heart"></i><span class="project_history-feedback-text">Save</span>
                  <i style="margin-left:10px" class="fa project_history-feedback-icon fa-share-alt"></i><span class="project_history-feedback-text">Share</span>
                  <i style="margin-left:410px" class="fa project_history-feedback-icon fa-flag"></i><span class="project_history-feedback-text">Feedback</span>
                </span>
              </span>
                    <!--profile information-->
              <span class="project_history-list-tile-information">
                <div>
                  <i class="fa project_history-list-tile-information-marker fa-map-marker"></i>
                  <span class="project_history-list-tile-information-location">Palo Alto, CA</span>
                </div>
                  <!--company information-->
                <div class="project_history-list-tile-information-company-name">Wirehog</div>
                <div><span class="project_history-list-tile-information-position-name">Co-founder </span>
                  <span class="project_history-list-tile-information-work-date">since October 2004 - 2006</span>
                  <span class="project_history-list-tile-information-position-time-passed">1 year & 2 months</span>
                </div>
                  <!--list of images-->
                <span class="project_history-featured-listing-image"></span>
                <span class="project_history-featured-listing-image"></span>
                <span class="project_history-featured-listing-image"></span>
                <span class="project_history-featured-listing-image"></span>
                <span class="project_history-featured-listing-image"></span>
                <!--connections button-->
                <button class="project_history-view-all-connections">
                  <span class="project_history-view-all-connections-text">View All Connections</span>
                  <i style="margin-left:6px;" class="fa project_history-view-all-connections-icon fa-angle-right"></i>
                </button>
              </span>
            </div>
            <!--footer-->
            <div class="project_history-content-panel-footer">
              <span class="project_history-navigation">
                <i style="float:left" class="fa fa-angle-left project_history-content-panel-footer-icon"></i>
                <!--numbered navigation buttons-->
                <button style="margin-left:10px;" class="project_history-page-selector project_history-page-selector-selected project_history-page-selector-selected-font">1</button>
                <button class="project_history-page-selector project_history-page-selector-font">2</button>
                <button style="margin-right:10px;" class="project_history-page-selector project_history-page-selector-font">3</button>
                <i style="float:left" class="fa fa-angle-right project_history-content-panel-footer-icon"></i>
                <!--viewall button-->
                <button class="project_history-view-all project_history-view-all-font">VIEW ALL <img style="padding-bottom:4px" src="infinite-icon.png"></button>
              </span>
            </div>
          </div>
        </div>
        <!--End Panel-->
    </div>
  </div>
</template>
