<!--
Author: Tanner Storment
Created: [07-16-2015]
Description: Project History List
Associated Files: project_history.html, project_history.js
-->

<template name="project_history">
  {{#with moduleCheck}}
  <div class="module-4">
    <div class="module-header">
      <span class="module-header-line"></span>
      <!--widget title-->
      <span class="module-header-title">{{firstName}} {{lastName}}'s Work & Project History</span>
    </div>
    <div class="module-wrapper">
      <!--Begin Panel-->
      <div class="proj_hist-panel">
        <div class="proj_hist-content-panel">

          <div class="proj_hist-list-panel">
            {{#each projList}}
              {{#if this}}<!--checks validity of array element-->
                <div class="proj_hist-list-tile-{{#if isEven @index}}white{{else}}grey{{/if}}"><!--isEven is used to alternate between background colors-->
                  <!--Project Picture & Response Buttons-->
                  <span class="proj_hist-profile-info">
                    <a href="{{url}}">
                    <span class="proj_hist-profile-image" style="background-image: url('{{imageUrl c_logo}}')"></span>
                    </a>
                  </span>
<!--
                  <span class="proj_hist-resp-btns">
                    <span class="proj_hist-resp-btns-btn">
                      <i class="fa proj_hist-resp-btns-icon fa-heart"></i>
                      <span class="proj_hist-resp-btns-text">Save</span>
                    </span>
                    <span class="proj_hist-resp-btns-share proj_hist-resp-btns-btn">
                      <i class="fa proj_hist-resp-btns-icon fa-share-alt"></i>
                      <span class="proj_hist-resp-btns-text">Share</span>
                    </span>
                    <span class="proj_hist-resp-btns-feedback proj_hist-resp-btns-btn">
                      <i class="fa proj_hist-resp-btns-icon fa-flag"></i>
                      <span class="proj_hist-resp-btns-text">Feedback</span>
                    </span>
                  </span>
-->
                  <!--/Project Picture & Response Buttons-->

                  <!--Project Information-->
                  <span class="proj_hist-tile-info">
                    <div>
                      <i class="fa proj_hist-tile-info-mark fa-map-marker"></i>
                      <span class="proj_hist-tile-info-loc">{{location}}</span>
                    </div>
                    <div class="proj_hist-tile-info-comp-name">{{c_name}}</div>
                    <div class="proj_hist-tile-info-pos-dets">
                      <span class="proj_hist-tile-info-pos-name">{{title}}</span>
                      <span class="proj_hist-tile-info-pos-work-date"> since {{start_month}} {{start_year}} - {{end_date}}</span>
                      <span class="proj_hist-tile-info-pos-time">{{project_time_elapsed}}</span>
                    </div>
                    {{#each connections}}
                      <a href="{{url}}">
                        <span class="proj_hist-featured-image" id="{{o_id}}"></span>
                      </a>
                    {{/each}}
                    <a href="{{workurl}}">
                    <div class="proj_hist-va-connections">
                      <span class="proj_hist-va-connections-text">View All Connections</span>
                      <i class="fa proj_hist-va-connections-icon fa-angle-right"></i>
                    </div>
                    </a>
                  </span>
                  <!--/Project Information-->
                </div>
              {{else}}
                <div class="proj_hist-list-tile-{{getBackgroundStyle}}"></div>
              {{/if}}
            {{/each}}
          </div>
          <!--Project Footer
          <div class="proj_hist-content-panel-footer">
            <div class="proj_hist-va project_hiview-allory-view-all-font">
              <div class="proj_hist-va-text">VIEW ALL</div>
              <div class="proj_hist-va-pos"><img src="/infinite-icon.png"></div>
            </div>
            <div class="proj_hist-navigation">
              <i class="fa fa-angle-left proj_hist-content-panel-footer-icon proj_hist-page-selector-left-arrow"></i>
              {{#each setPages}}
                {{#if @index}}<div class='proj_hist-page-selector proj_hist-page-selector-font'>{{this}}</div>{{/if}}
                {{#unless @index}}<div class='proj_hist-page-selector proj_hist-page-selector-selected proj_hist-page-selector-selected-font'>{{this}}</div>{{/unless}}
              {{/each}}
              <i class="fa fa-angle-right proj_hist-content-panel-footer-icon proj_hist-page-selector-right-arrow"></i>
            </div>
          </div>
          /Project footer-->
        </div>
      </div>
      <!--End Panel-->
    </div>
  </div>
  {{/with}}
</template>
