<!--
Author: David Wibowo
Created: [10-15-2015]
Description:conatct us webpage
Associated Files: copyright_page.html, copyright_page_logic.js, about_us_page.less
-->
<template name="copyright_page">
  <div class="abus">
    <a href="{{back_url}}">
      <div class="abus-bkbx">
        <div class="abus-bkbx-bx"><i class="fa fa-reply"></i></div>
        <div class="abus-bkbx-tgl"></div>
        <div class="abus-bkbx-txt">Go Back</div>
      </div>
    </a>
    <div class="abus-about">
        <div class="abus-about-image" style="background-image: url('{{image_url}}');"></div>
      <div class="abus-about-head">
        <div class="abus-about-head-update">LAST UPDATED: {{Update}}</div>
        <div class="abus-about-head-country"><i class="fa fa-map-marker"></i> &nbsp;{{Country}}</div>
        <H1>{{Title}}</H1>
        <H2>{{Statement}}</H2>
      </div>
    </div>
    <div class="abus-kit">
      <div class="abus-kit-left">{{About}}</div>
      <div class="abus-kit-right">
      </div>
    </div>

    <div class="abus-cnt">

      <div class="abus-cnt-top">
        <div class="abus-cnt-top-left">Reporting Alleged Copyright Infringement</div>
        <div class = "abus-cnt-dropdown">
          Now Reading:
          <select id="sort_by" style = "margin-top: 1px;">
            <option value="About">About Us</option>
            <option value="Contact">Contact Us</option>
            <option value="Copyright">Copyright Infringement</option>
            <option value="Disclaimer">Disclaimer</option>
            <option value="Privacy">Privacy Policy</option>
            <option value="Stock">Stock Disclaimer</option>
            <option value="Terms">Terms of Service</option>
          </select>
        </div>
      </div>

      <div class="abus-cnt-article">
        <p>InvestKit abides by the following policy toward copyright infringement according to the Digital Millennium Copyright Act
          (a copy of which is located at <a href="http://www.loc.gov/copyright/legislation/dmca.pdf">http://www.loc.gov/copyright/legislation/dmca.pdf</a>, the "DMCA"). The address of InvestKit’s
          Designated Agent for copyright takedown notices ("Designated Agent") is listed below.</p>
        <p>If you believe that your work has been copied in a way that constitutes infringement, you must provide the following
          information to identify the allegedly infringing content. Please provide the following information in written form to
          our Designated Agent (listed below). At this time we cannot accept digital filings or e-mails.</p>
        <p>1. The name of the person authorized to act on behalf of the owner of the copyright interest:<br><span class="abus-cnt-article-underline">_________________________________________________</span><br>
          Mailing Address:<span class="abus-cnt-article-underline">_________________________________________________</span><br>
          E-Mail Address:<span class="abus-cnt-article-underline">_________________________________________________</span><br>
          Phone Number:<span class="abus-cnt-article-underline">_________________________________________________</span></p>

        <p>2. A description of the copyrighted work that you claim has been infringed:<br>
          <span class="abus-cnt-article-underline">_________________________________________________</span><br>
          3. A description of where the material that you claim is infringing is located on InvestKit.com:<br>
          <span class="abus-cnt-article-underline">_________________________________________________</span><br>
          4. A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law:<br>
          <span class="abus-cnt-article-underline">_________________________________________________</span><br>
          5. A statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright owner
          or authorized to act on the copyright owner's behalf.</p>

        <p>Once you have submitted this written filing, InvestKit will review and confirm there has been a copyright violation. If the content
          is in violation of our policies, upon confirming identification and verifying copyright, we will remove or edit the infringing content.
          InvestKit reserves the right, in its sole discretion, to immediately terminate the account of any Subscriber who is the subject of repeated DMCA notifications.</p>
      </div>

      <div class="abus-cnt-top">
        <div class="abus-cnt-top-left">Reporting Copyright Infringement</div>
      </div>

      <div class="abus-cnt-article">
        <p>If you believe you are the wrongful subject of an alleged DMCA notification, you may file a counter-notification
          with InvestKit by providing the following information to the Designated Agent at the address below:</p>
        <ul>
          <li><span>The specific URLs of material that InvestKit has removed or to which InvestKit has disabled access.</span><br><br></li>
          <li><span>Your name, address, telephone number, and email address.</span><br><br></li>
          <li><span>A statement that you consent to the jurisdiction of Federal District Court for the judicial district
            in which your address is located (or the federal district courts located in San Francisco, CA if your address
            is outside of the United States), and that you will accept service of process from the person who provided
            the original DMCA notification or an agent of such person.</span><br><br></li>
          <li><span>The following statement: "I swear, under penalty of perjury, that I have a good faith belief that the
            material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled."</span><br><br></li>
          <li><span>Sign the written document.</span></li>
        </ul>
        <p>Upon receipt of a valid counter-notification, InvestKit will forward it to Notifying Party who submitted the
          original DMCA notification. The original Notifying Party will then have ten days to notify us that he or she has
          filed legal action relating to the allegedly infringing material. If InvestKit does not receive any such notification
          within ten days, we may restore the material.</p>
      </div>

      <div class="abus-cnt-top">
        <div class="abus-cnt-top-left">Reporting Copyright Infringement</div>
      </div>

      <div class="abus-cnt-article">
        <p>Attn: Copyright Agent; Legal<br>
        InvestKit<br>
        2400 Bridgeway, Suite 280, Sausalito, CA 94965</p>
      </div>

    </div>
  </div>
</template>
