<!--Re_design please remove this when Re_design is implemented-->
<!--New Design Please add into profile when design is finished-->

<template name="exec_test">
  {{> new_whos_who}}
</template>

<template name="executive_profile">
  <!--{{> e-cta_mag}} New Design Please add into profile when design is finished-->
  {{> e_p_header}} <!--Re_design please remove this when Re_design is implemented-->
  <!--{{> leavecomments}} Re_design please remove this when Re_design is implemented-->
  {{> compensation}}
  {{> trending_news}}
  {{> about_exec}}
  {{> project_history}}
  {{> latest_news}}
  {{> new_whos_who}}
  <!--{{> c-cta_mag}} New Design Please add into profile when design is finished-->
  {{> list_of_lists}}
  {{> featured_list}}
  {{> share}}
  <!--{{> Facebook}}-->
  {{> disqus_comments_module}}
  {{> about_us}}
</template>
