<!--Re_design please remove this when Re_design is implemented-->
<!--New Design Please add into profile when design is finished-->

<template name="executive_profile">
  <!--{{> e-cta_mag}} New Design Please add into profile when design is finished-->
  {{> profile_header}} <!--Re_design please remove this when Re_design is implemented-->
  {{> leavecomments}} <!--Re_design please remove this when Re_design is implemented-->
  <!--{{> compensation}}New Design Please add into profile when design is finished-->
  {{> trending_news}}
  {{> about_exec}}
  {{> project_history}}
  {{> latest_news}}
  {{> whos_who}}
  <!--{{> c-cta_mag}} New Design Please add into profile when design is finished-->
  {{> list_of_lists}}
  {{> featured_list}}
  {{> share}}
  {{> Facebook}}
  {{> about_us}}
</template>
