<template name="executive_profile">
  {{> profile_header}}
  {{> leavecomments}}
  {{> daily_update}}
  {{> trending_news}}
  {{> happening_today}}
  {{> latest_news}}
  {{> portfolio_watchlist}}
  {{> list_of_lists}}
  <!--{{> connections}}-->{{> trending_news}}
  {{> featured_list}}
  {{> Earnings}}
  {{> money_memory}}
  {{> mutual_funds}}
  <!--{{> who's trending }}-->{{> whos_who}}
  {{> insider_t}}
  {{> sec_finance}}
  {{> project_history}}
  {{> about_exec}}
  {{> share}}
  {{> Facebook}}
  {{> about_us}}
</template>
