/*
Author: Meghana yerramilli
Created: [07-30-2015]
Description:conatct us webpage
Associated Files: contact_us_page.html
*/

@import (reference)"../global_vars.less"; //include important global vars (colors mostly)
@import (reference)"../modules.less";
.abt_us{
// webpage dimensions
&-dimensions{
  background-color:  #ffffff;
  width: 680px;
  margin: 5px 0px 0px 5px;
  text-align: left;
  overflow: hidden;
}

&-hdr {
  width: 100%;
  height: 50px;
  background-image: url('/header_texture.png');

  &-box {
    width: 60px;
    height: 50px;
    background-color: @blue;
    float: left;

    .fa {
      color: white;
      font-size: 30px;
      margin: 11px 0px 0px 15px;
    }
  }

  &-arrw {
    width: 0;
	  height: 0;
	  border-top: 25px solid transparent;
	  border-bottom: 25px solid transparent;
	  border-left: 15px solid @blue;
    float: left;
  }

  &-txt {
    height: 19px;
    line-height: 15px;
    float: left;
    font-family: HN-L;
    font-size: 19px;
    margin-left: 20px;
    margin-top: 17px;
    color: white;

    strong {
      height: 19px;
      vertical-align: top;
      display: inline-block;
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: normal;
      font-family: HN-B;
    }
  }
}

&-dropdown {
  height: 26px;
  float: right;
  background-color: #FFFFFF;
  font-family: HN-L;
  font-size: 12px;
  text-align: right;
  font-weight: 700;
  padding-top: 10px;
  padding-right: 14px;

  select {
    font-family: HN-B;
    border-style: none;
  }
}
//circle with an image
&-image{
  border-radius: 50%;
  border-width: 2px;
  border-color:  #cccccc;
  border-style: solid;
  background-color:  #ffffff;
  width: 100px;
  height: 100px;
  margin-top: 15px;
  margin-left: 20px;
  float: left;
}
//subcircle on image
&-replyimg{
  border-radius: 50%;
  background-color:  #3098ff;
  width: 35px;
  height: 35px;
  text-align: center;
  padding-top: 7px;
  padding-right: 2px;
}
//icon in subimage
&-replyicon{
  width: 15px;
  height: 14px;
  color:  #ffffff;
  font-size: -15px;
  font-weight: 400;
}
//container for the information
&-head_cont{
  width: 370px;
  height: 99px;
  margin-top: 14px;
  margin-left: 14px;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
//date
&-head_date{
  color:  #959595;
  font-size: 10px;
  font-family: HN;
}
//country
&-country{
  color:  #000000;
  font-size: 12px;
  font-family: HN;
  margin-top: 12px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
&-countxt{
  margin-left: 3px;
}
//heading
&-heading{
  color:  #000000;
  font-size: 22px;
  font-family: HN-B;
}
//subheading
&-subheading{
  color:  #000000;
  font-size: 22px;
  font-family: HN-L;
  margin-top: -4px;
}
//underline for the information
&-blackhd{
  background-color: rgba(0, 0, 0, 0.85);
  width: 680px;
  height: 35px;
  margin-top: 19px;
  overflow: hidden;
}
//line
&-linee{
  width: 1px;
  height: 35px;
  background-color: #363636;
  float: left;
  margin-left: 19px;
}

&-bar {
    width: 680px;
    height: 35px;
    background-color: @black;
    color: @white;
    font-size: 16px;
    text-align: left;
    top: 42px;
    position: relative;
    float: left;
    // the font awesome icon color
    .fa {
    //  color: @white;
      color: #ffffff;
    }
    //the link color
    a {
      //color:@white;
      color: #ffffff;
    }

    &-text{
      font-family: HN-L;
      color:  #ffffff;
      font-size: 14px;
      text-align: right;
    }
    //the title next to save and share
    &-title{
      font-family: HN-B;
      font-size: 16px;
      color: white;
      height: 23px;
      width: 156px;
      margin-left: 15px;
      margin-top: 11px;
      line-height: 12px;
      position: relative;
      cursor: pointer;
      float: left;
}
    // giving the specifications data for the helper
    &-helper{
      max-width:350px;
      height: 30px;
      float: left;
      font-size: 16px;
      font-family: HN-B;
      padding-right: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    //side data specifications
    &-side{
      width: 170px;
      height: 30px;
      float:left;
      font-size: 16px;
      font-family: HN-B;
}
    // the button for save and share
    &-button {
      border: none;
      text-align: center;
      float: left;
      line-height: 35px;
      height: 35px;
      width: 56px;
      margin-right: 23px;
      font-family: HN-L;
      margin-left: 15px;
      .fa{
        margin-right: 10px;
        color: #ffffff;
      }
    }
  }

  &-wt{
    width: 150px;
    height: 15px;
    line-height: 14px;
    margin-left: 15px;
    margin-top: 15px;
    text-align: left;
    float: left;
  }
  //what is font sytle
  &-wtft{
    font-family:HN;
    color:  #000000;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    font-weight: bold;
    height: 15px;
    line-height: 14px;
    display: inline-block;
  }
  // font family for the invest kit
  &-wtin{
    font-family:HN-L;
    color:  #272727;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    line-height: 14px;
    height: 15px;
    display: inline-block;
  }

  // long line after what is invest kit
  &-lgline{
    background-color:  #cccccc;
    width: 650px;
    height: 1px;
    margin-left: 15px;
  }
  //contianer for the text paragraph
  &-txtct{
    width: 630px;
    height: 218px;
    margin-top: 15px;
    margin-left: 24px;

  }
  //font style for the text
  &-txtft{
    font-family: HN;
    color:  #000000;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  //whole container
  &-wct{
    width: 640px;
    height: 70px;
    margin-top: 20px;
  }
  //container for the box
  &-smb1{
    border-style: solid;
    border-width: 1px;
    border-color:  #cccccc;
    box-sizing: border-box;
    background-color:  #f2f2f2;
    width: 310px;
    height: 70px;
    position: relative;
    left:20px;
  }
  // left padding
  &-lftp{
    background-color:  #e1e1e1;
    width: 5px;
    height: 68px;
  }
  //for image
  &-img{
    width: 50px;
    height: 50px;
    position: relative;
    top:-60px;
    left:40px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
  }
  //smaller container
  &-smbct{
    width: 165px;
    height: 50px;
    position: absolute;
    top: 7px;
    left: 114px;

  //font style for total
  &-total{
    font-family: HN-B;
    color:  #959595;
    font-size: 12px;
    line-height: 24px;/* Approximation due to font substitution */
    text-align: left;
    float: left;
  }
  //font sytle for number
  &-num{
    font-family: HN-B;
    color:  #000000;
    font-size: 24px;
    line-height: 14px;
    text-align: left;
    float: left;
  }
}
//container for smb2
&-smb2{
  border-style: solid;
  border-width: 1px;
  border-color:  #cccccc;
  box-sizing: border-box;
  background-color:  #f2f2f2;
  width: 310px;
  height: 70px;
  position: relative;
  top:-70px;
  left:350px;
}
// left padding
&-lftp2{
  background-color:  #e1e1e1;
  width: 5px;
  height: 68px;
}
//member fontstyle
&-member{
  width: 150px;
  height: 47px;
  margin-left: 158px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
//font style for member
&-memft{
  height: 14px;
  font-family: HN-B;
  color:  #959595;
  font-size: 14px;
  line-height: 10px;/* Approximation due to font substitution */
  text-align: center;
  overflow: hidden;
}
//font syle for the number
&-number{
  height: 26px;
  font-family: HN-B;
  color:  #000000;
  font-size: 28px;
  line-height: 20px;
  text-align: center;
  margin-top: 7px;
}
//conatiner for map image
&-mapct{
  width: 462px;
  height: 352px;
  background-image: url("Icon_US_Map.png");
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: -9px;
}
//complete contianer
&-compct{
  width: 462px;
  height: 400px;
  margin-left: 109px;
  margin-top: 29px;
  overflow: hidden;
}
/* container for the fotter('ft') */
&-fotter{
  width: 680px;
  height: 276px;
  position: relative;
  top: 760px;
}
//searchbox dimensions & styles
&-srchbox{
  width: 680px;
  height: 280px;
  background-image: url("http://www.freebiesgallery.com/wp-content/uploads/2014/02/blurred-background-21.jpg");
  background-position: 680px 280px;
}
&-srcctt{
  width: 665px;
  height: 60px;
  position: relative;
  top:-408px;
  left: 8px;
  float: left;
}
//styles for text
&-srchtxt1{
  color: #ffffff;
  font-size: 35px;
  font-family: HN-B;
  line-height: 30.027px;/* Approximation due to font substitution */
  text-align: center;
  padding-bottom: 5px;
}
&-srchtxt2{
  color:  #ffffff;
  font-size: 18px;
  font-family: HN;
  line-height: 30.027px;/* Approximation due to font substitution */
  text-align: center;
}
//input box
&-inptbox{
  border-radius: 5px;
  background-color:  #ffffff;
  width: 540px;
  height: 40px;
  border: none;
  color:  #505050;
  font-size: 20px;
  font-family: HN-L;
  padding-left: 20px;
  position: relative;
  top: 94px;
  left: -393px;
}
//search button
&-srcbtn{
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #3098ff;
  width: 99px;
  height: 40px;
  border: none;
  float: right;
  position: relative;
  margin-top: -2.8em;
  right: 10.5%;
  top: -327px;
}
//icon on search button
&-srchicon{
  color:  #ffffff;
  font-size: 22px;
  font-weight: 400;
}


}
