/* Author: Ryan Fisher
** Created: 08/03/2015
** Description: .less file for About Exec Page
** Associated Files: copyright_page.html, copyright_page.less

Modified By: Zachary Pearson
Date: 10/13/2015
Modifications: .cpyrt-heading
Additions: .cr_nowread, .cr_discline
*/

@import (reference)"../global_vars.less";
@import (reference)"../modules.less";



.header{
  &-back{
    color:@white;
    background-color: #3098ff;
    width: 54px;
    height: 45px;
    float:left;
  }

  &-wedge{
    float:left;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 16px solid #3098ff;
  }
}

.share {
  background-color: rgba(0, 0, 0, 0.85);
  width: 680px;
  height: 35px;
  color: @white;
  &-title{
    height:inherit;
    float:left;
    border-right-style: solid;
    border-right-color: #363636;
    border-right-width: 1px;
    padding-right:20px;

    &-text{
      font-size: 16px;/* Approximation due to font substitution */
      font-weight: 700;
      line-height: 18px;/* Approximation due to font substitution */
      text-align: right;
      transform: scaleX(1.0018);/* width and height properties ommitted due to transform */
      margin-left:15px;
      margin-top:7px;
    }
  }
  &-save{
    margin-left: 15px;
    margin-top:7px;
    float:left;
    font-size: 14px;
  }
  &-share{
    margin-top:7px;
    font-size: 14px;
    margin-left: 38px;
    float:left;
  }
}

.cpyrt{
  width: 680px;
  margin: 5px;
  background-color: @white;

    &-hdr {
    width: 100%;
    height: 140px;
    background-color: @white;

    //the head box consisting of the white background
    &-head {
      width: 680px;
      height: 140px;
      background-color: @white;
      text-align: left;
      border-bottom: 1px solid @grey-2;
    }
    //image inside the copyright head
    &-head-image {
      width: 100px;
      height: 100px;
      margin: 20px;
      border: solid 2px @grey-3;
      border-radius: 50%;
      float: left;
      background-image: url("");
      background-size: cover !important;
      background-position: center center !important;

      //the symbol above the image
      &-icon {
        height: 35px;
        width: 35px;
        background-color: @blue;
        position: relative;
        bottom: 5px;
        right: 5px;
        border-radius: 50%;
        border: solid 1px @white;
        color: @white;
        line-height: 33px;
        font-size: 15px;
        text-align: center;

        .fa{
          position: relative;
          bottom: 2px;
          right: 1px;
        }
      }
    }
    //share border


    //the text consisting the latest update
    &-text {
      //width: 545px;
      //height: 120px;
      //margin: 0;
      padding: 15px;
      float: left;
      color: @black;
      text-align: left;
      list-style-type: none;
      //the update part
      &-update {
        font-size: 10px;
        color: #959595;
        margin-bottom: 10px;
      }
      //the location
      &-loc {
        font-size: 12px;
      }
      // the name of the person
      &-name {
        font-size: 22px;
        font-family: HN-B;
      }
      // the person description
      &-auth {
        font-size: 22px;
        font-family: HN-L;
      }
    }
  }

  .cr_underline{
    background-color:  #dadada;
    width: 680px;
    height: 1px;
    margin-top: 6%;
  }

  &-heading1{
    color:  #000000;
    font-size: 18px;
    font-family: HN;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
  }
  &-heading2{
    color:  #000000;
    font-size: 18px;
    font-family: HN;
    margin-left: 15px;
    margin-top: -20px;
    float: left;
  }

  .cr_nowread{
    float: right;
    height: 30px;
    background-color: #FFFFFF;
    font-family: HN-L;
    font-size: 12px;
    text-align: right;
    font-weight: 700;
    padding-top: 15px;
    padding-right: 15px;
    select{
      font-family: HN-B;
      border-style: none;
    }
  }

  .cr_discline{
    background-color:  #cccccc;
    width: 650px;
    height: 1px;
    margin-left: 15px;
    margin-top: 10px;
  }

  &-text{
    padding-left: 15px;
    padding-top: 15px;
    width: 100%;
    max-width: 650px;
    text-align: justify;
    font-size: 13.5px;
    overflow: auto;
    margin-bottom: 30px;

    a{
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
    }

    p{
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }

    li{
      color: @blue;
    }

    span{
      color: @black;
    }
  }

  &-underline{
    font-family: HN-L;
    color: @grey-3;
  }
}
