<!--Author: [Sacchin Ranganathan]
Created: [05-06-2015]
Description: [html file for share_this widget]
Associated Files: [share_this.less from /stylesheets/modules/  &
called from share_this.less from /templates/modules/   ->

<!-called from share_this.html to get this template and run it-->


<template name="share_this">

  <div class="module-3 share_this-module_border">  <!--creating the widget in accordance with the size specified-->
    <div class="module-header"><!--creating the widget header-->
      <span class="module-header-line"></span><!--the blue color line on top of the header-->
      <span class="module-header-title">SHARE,FOLLOW & WEIGHT IN</span><!--specifying the title to be displayed inside the header-->
    </div>
    <div class="share_this-widget-wrapper"><!--creating a wrapper for the whole body of the widget-->
      <div class="share_this-panel-left-frame-tile"><!--creating a wrapper inside the main body for the left pannel-->
        <div class="share_this-panel-header"><!--creating the header inside the left pannel wrapper-->
          <div class="share_this-Panel-headline"><!--creating the headline inside the pannel-header to modify text-->
            <span class="share_this-panel-text"><!--text decore inside the pannel headline-->
              <i class="fa fa-circle share_this-blue" ></i> SHARE THIS</span><!--small blue circle which is inside the pannel headline-->
            </div>
          </div>

          <div class="share_this-panel-body-top"><!--Creating a wrapper for the image to be placedh-->
            <div class="share_this-PImage3" style="background-image: url('{{imgURL}}')"></div><!--Creating a circle for the image to be placed inside the "pannel-body-top"-->
          <!--<a class="joyfulhome_web"><!-Link which connects to joyfulhome main page->
              <div class="share_this-view-profile" style="background-image: url('{{imgURL}}')"><!-creating 2nd circle to be displayed on hover->
                <div class="share_this-view-profile_body"><!-Giving the properties for hover->
                  <span class="share_this-view-profile_txt1">View<br></span><!-text properties on hover->
                  <span class="share_this-view-profile_txt2">Profile</span><!-text properties on hover->
                </div>
              </div>
            </a>-->
          </div>

          <div class="share_this-panel-body-bottom"><!--Creating a wrapper for the bottom left pannel-->
            <a class="facebook-link"><!--Sharing link for facebook-->
              <div  class="share_this-PIMfacebook"><!--Creating a button for facebook with border color property-->
                <div class="share_this-dis"><!--creating another circular button to be placed for button -->
                  <i class="fa fa-facebook"></i><!--calling facebook font-awsome inside the small button created -->
                </div>
                <div class="share_this-textinfo">
                  Share on Facebook
                </div>
              </div>
            </a>

            <a class="twitter-link"><!--Sharing link for twitter-->
              <div  class="share_this-PIMtwitter"><!--Creating a button for twitter with border color property-->
                <div class="share_this-dis1"><!--creating another circular button to be placed for button -->
                  <i class="fa fa-twitter"></i><!--calling twitter font-awsome inside the small button created -->
                </div>
                <div class="share_this-textinfo"><!--properties for text inside the main button-->
                  Share on Twitter
                </div>
              </div>
            </a>

            <a class="google-link"><!--Sharing link for google+-->
              <div  class="share_this-PIMgoogle"><!--Creating a button for google+ with border color property-->
                <div class="share_this-dis2"><!--creating another circular button to be placed for button -->
                  <i class="fa fa-google-plus"></i><!--calling google+ font-awsome inside the small button created -->
                </div>
                <div class="share_this-textinfo"><!--properties for text inside the main button-->
                  Share on Google+
                </div>
              </div>
            </a>

            <a class="linkedin-link"><!--Sharing link for Linkedin-->
              <div  class="share_this-PIMlinkedin"><!--Creating a button for linkedin with border color property-->
                <div class="share_this-dis3"><!--creating another circular button to be placed for button -->
                  <i class="fa fa-linkedin"></i><!--calling linkedin font-awsome inside the small button created -->
                </div>
                <div class="share_this-textinfo"><!--properties for text inside the main button-->
                  Share on Linkedin
                </div>
              </div>
            </a>

            <a class="pinterest-link"><!--Sharing link for pinterest-->
              <div  class="share_this-PIMpinterest"><!--Creating a button for pinterest with border color property-->
                <div class="share_this-dis4"><!--creating another circular button to be placed for button -->
                  <i class="fa fa-pinterest"></i><!--calling pinterest font-awsome inside the small button created -->
                </div>
                <div class="share_this-textinfo"><!--properties for text inside the main button-->
                  Share on Pinterest
                </div>
              </div>
            </a>
          </div>
        </div>
        </div>
      </div>

    </template>

<!-- CANNOT USE TILES BELOW DUE TO INSUFFICIENT INFORMATION -->
    <template name="ShareTiles">
      <div class="share_this-panel-right-frame-tile"><!--Creating a wrapper for the right pannel-->
        <div class="module-tile"><!--creating 1st tile-->
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <div class="module-tile-default-icon"><!--contents inside the tile-->
                <i class="fa fa-thumbs-o-up"></i><!--calling thumbs-up font-awsome inside the small button created -->
              </div>
              <div class="module-tile-default-text"><!--properties for text inside the button-->
                Social<br>Activity
              </div>
            </div>
            <div class="share_this-PIMButton1">
              <span class="share_this-textbutton"><!--properties for text inside the button-->
                125k
              </span>
            </div>
          </div>
          <a class="module-tile-link" href="#">
            <div class="module-tile-hover"><!--hover on mouse pointer-->
              <div class="module-tile-name">
                <i class="fa fa-thumbs-o-up"></i><!--calling thumbs-up font-awsome inside the small button created -->
                Social Activity
              </div>
              <div class="module-tile-info">
              </div>
              <button class="module-tile-button"><!--properties for text inside the button-->
                OPEN PAGE
                <i class="fa fa-mail-forward"></i></button>
              </div>
            </a>
          </div>
          <div class="module-tile">
            <div class="module-tile-default">
              <div class="module-tile-default-container">
                <div class="module-tile-default-icon"><!--contents inside the tile-->
                  <i class="fa fa-comments"></i><!--calling comments from font-awsome inside the small button created -->
                </div>
                <div class="module-tile-default-text"><!--properties for text inside the button-->
                  Comments
                </div>
              </div>
              <div class="share_this-PIMButton2">
                <span class="share_this-textbutton"><!--properties for text inside the button-->
                  17.5K
                </span>
              </div>
            </div>
            <a class="module-tile-link" href="#">
              <div class="module-tile-hover"><!--hover on mouse pointer-->
                <div class="module-tile-name">
                  <i class="fa fa-comments"></i><!--calling comments from font-awsome inside the small button created -->
                  Comments
                </div>
                <div class="module-tile-info">
                </div>
                <button class="module-tile-button"><!--properties for text inside the button-->
                  OPEN PAGE
                  <i class="fa fa-mail-forward"></i>
                </button>
              </div>
            </a>
          </div>

          <div class="module-tile">
            <div class="module-tile-default">
              <div class="module-tile-default-container">
                <div class="module-tile-default-icon"><!--contents inside the tile-->
                  <i class="fa fa-users"></i><!--calling users from font-awsome inside the small button created -->
                </div>
                <div class="module-tile-default-text"><!--properties for text inside the button-->
                  Fans
                </div>
              </div>
              <div class="share_this-PIMButton3">
                <span class="share_this-textbutton"><!--properties for text inside the button-->
                  12.5K
                </span>
              </div>
            </div>
            <a class="module-tile-link" href="#">
              <div class="module-tile-hover"><!--hover on mouse pointer-->
                <div class="module-tile-name">
                  <i class="fa fa-users"></i><!--calling users from font-awsome inside the small button created -->
                  Fans
                </div>
                <div class="module-tile-info">
                </div>
                <button class="module-tile-button"><!--properties for text inside the button-->
                  OPEN PAGE
                  <i class="fa fa-mail-forward"></i>
                </button>
              </div>
            </a>
          </div>
        </div>
    </template>
