<template name="ur_next">
  <div class="re_next_small">
    <div class="re_next_small-title1">Find Your Next Investment</div>
    <div class="re_next_small-subtitle">Find the stocks you can invest in right in your neighborhood.</div>
    <form autocomplete="off">
      <div class="re_mainsearch">
        <input type="text" name="keyword" class="re_mainsearch-text" placeholder="">
        <button class="re_searchbtn fa fa-search"></button>
        <ul class="next_recommendations">
          <div class="caret-top"></div>
          <i class="fa fa-times next_recommendations_close"></i>
        </ul>
      </div>
    </form>
  </div>
</template>
