<!--Author:Ramakrishna Vaibhav kasibhatla [Ram]
Created: [06/09/2015]
Description: [Trending Realtors in Chicago,Il]
Associated Files: [Trends.less, Trenders.html, and Router.js]
-->
<!--starting of the html file-->
<template name="latest_news">
  <!-- the module considered: "4"-->
  <div class="module-4"><div class="module-header"><span class="module-header-line"></span><span class="module-header-title">FINANCIAL NEWS: LATEST & TRENDING</span></div>
  <!--wrapping up of the module -->
  <div class="module-wrapper">
    <!--the class for header -->
    <div class="lstnws-header">
      <!--the class for the image beside header -->
      <div class=" lstnws-view-image1">
      </div>
      <!--the class for updates -->
      <div class="lstnws-date">
        LAST UPDATED: 05/15/2015 . 12:36 PM EST
      </div><br>
      <!--the class for profile location -->
      <div class="lstnws-profileloc">
        <i class="fa fa-map-marker">The United States, CA</i></div>
        <!--the class for text heading -->
        <div class="lstnws-profileheading">
          THE LATEST LOCAL NEWS
        </div><br>
        <!--the class for text heading 2 -->
        <div class="lstnws-profileheading2">
          Covering All Local Public Companies in the San Francisco Bay Area
        </div>

      </div>

      <!-- the main class -->
      <div class="lstnws-main">
        <!--the class for buttons -->
        <div class="lstnws-buttons">
          <!--the various button classes that contains the properties-->
          <span class="lstnws-bts">CONSUMER DEFENSIVE</span>
          <span class="lstnws-bts">TECHNOLOGY</span>
          <span class="lstnws-bts">INDUSTRIALS</span>
          <span class="lstnws-miniimage">+5</span>
        </div>
        <!--the class for text heading -->
        <div class="lstnws-textheading">KIK CE0: "Hey internet are you listening?"</div>
        <!--the class for text content -->
        <div class="lstnws-textcontent">It has been an interesting month for messaging apps in the U.S. Around the same time the New York Times penned its zeitgeist procla..</div>
        <!--the class for detail content -->
        <div class="lstnws-detailcontent"><i class="fa fa-newspaper-o"></i> Article Published By: <b><i>SFGATE</i></b> > Written By: <b><i>Alyssa Curran</i></b> > on 01/24/2015 at 8:30am </div>
        <!--the class for viewing the image -->
        <div class=" lstnws-view-imagetweet">
        </div>
      </div>
      <br>
      <!--article1-->
      <!--the main class for the article -->
      <div class="lstnws-article1">
        <!--the image class for the article -->
        <div class=" lstnws-sub-images"></div>
        <!--the button class for the article -->
        <!--the various button classes that contains the properties-->
        <div class="lstnws-buttons1">
          <span class="lstnws-bts1">BUSSINESS FINANCE</span>
          <span class="lstnws-bts1">CONSUMER</span>
          <span class="lstnws-miniimage">+2</span>
        </div>
        <!--the class for text heading -->
        <div class="lstnws-textheading1">Clorox: Not Recommended For Investment (CLX)</div>
        <!--the class for text content -->
        <div class="lstnws-textcontent1">SFGATE > Lauren Dunlap</div>
        <!--the class for the text details-->
        <div class="lstnws-detailcontent1"><i class="fa fa-newspaper-o"></i> article published on 01/25/15 at 10:11pm</div>
      </div>

      <!-- below for the article 2,3,4 the classes are same as from the above article 1
      they do inherit the same attributes of the above classes-->
      <!--article2-->
      <div class="lstnws-article2">
        <div class=" lstnws-sub-images"></div>
        <div class="lstnws-buttons1">
          <span class="lstnws-bts1">BUSSINESS FINANCE</span>
          <span class="lstnws-bts1">LIESURE</span>
          <span class="lstnws-miniimage">+10</span>
        </div>
        <div class="lstnws-textheading2">Pro Cycling Teams May Look to GoPro (GPRO) as Potential Revenue Booster  </div>
        <div class="lstnws-textcontent1">CBC News > Veronica De La Cruz</div>
        <div class="lstnws-detailcontent1"><i class="fa fa-play"></i> article published on 01/25/15 at 10:11pm</div>
      </div>
      <br>

      <!--article3-->
      <div class="lstnws-article3">
        <div class=" lstnws-sub-images"></div>
        <div class="lstnws-buttons1">
          <span class="lstnws-bts1">BUSSINESS FINANCE</span>
          <span class="lstnws-bts1">PHARMACEUTICAL</span>
        </div>
        <div class="lstnws-textheading1">NPS Pharma buys royalities on Vertex Pharma drugs</div>
        <div class="lstnws-textcontent1">SFGATE > Timothy Clabo</div>
        <div class="lstnws-detailcontent1"><i class="fa fa-volume-off"></i> article published on 01/25/15 at 10:11pm</div>
      </div>

      <!--article4-->
      <div class="lstnws-article4">
        <div class=" lstnws-sub-images"></div>
        <div class="lstnws-buttons1">
          <span class="lstnws-bts1">BUSSINESS FINANCE</span>
          <span class="lstnws-bts1">SOFTWARE</span>
          <span class="lstnws-miniimage">+8</span>
        </div>
        <div class="lstnws-textheading2"> Price Cuts for Crucial Microsoft Products Eroded Holidays Season Profit</div>
        <div class="lstnws-textcontent1">NY TIMES > Nick Wingfield</div>
        <div class="lstnws-detailcontent1"> <i class="fa fa-newspaper-o"></i> article published on 01/25/15 at 10:11pm</div>
      </div>

      <!--article5-->
      <div class="lstnws-article5">
        <div class="lstnws-buttons1">
          <span class="lstnws-bts1">BUSSINESS FINANCE</span>
          <span class="lstnws-bts1">CONSUMER</span>
        </div>
      </div>

      <!-- module footer-->
      <div class="module-footer">
        <!-- can be removed if not in template -->
        <button class="module-footer-button">
          <span class="module-footer-button-text">LOAD MORE NEWS</span>
          <span class="module-footer-button-ellipse"><i class="fa fa-mail-forward"></i></span>
        </button>
        <!-- END -->
      </div>

    </div>
  </div>
</template>
