<!-- Author: Sri Sindhusha Kuchipudi
 Created: 09/30/2015
 Description: .less file for career_stats module
 Associated Files: career_stats.html, career_stats.less, career_stats.js
-->
<!--template name-->
<template name="happening_today">
  {{#with news}}
  <!--container for whole module-->
  <div class="hp_td">
    <!--container for header-->
    <div class="hp_td-h">
      <div class="hp_td-h-vln"></div>
      <!--container for text in header-->
      <div class="hp_td-h-tbox">
        <div class="hp_td-h-tbox-t1">What's Happening Near</div>
        <div class="hp_td-h-tbox-t2">{{companyName}}</div>
      </div><!--end of container for text-->
    </div><!--end container for header-->
    <!--container for imageholder-->
    {{#with mention}}
    <div class="hp_td-imgh">
      <!--container for big and small circles-->
      <div class="hp_td-imgh-im" style="background-image:url('{{imageUrl image}}')"></div>
      <div class="hp_td-imgh-im2" style="background-image:url('{{imageUrl exchange}}')"></div>
      <!--container for counter-->
      <div class="hp_td-imgh-im3">
        <div class="hp_td-imgh-im3-txt">#{{counter}}</div>
      </div>
      <!--container for heading in image holder part-->
      <div class="hp_td-imgh-head">
        <i class="fa fa-circle hp_td-imgh-head-fa1"></i>
        <div class="hp_td-imgh-head-txt">MARKET RECAP</div>
      </div>
      <!--container for paragraph text in image place holder-->
      <div class="hp_td-imgh-pbox">
        <div class="hp_td-imgh-pbox-txt">
          <div class="hp_td-imgh-pbox-cnm">{{companyName}}</div>
          is mentioned today with a total of {{mentioned_tickers_count}}. Read about some of the stories below.</div>
          <div class="hp_td-imgh-pbox-dt">{{readData}}</div>
      </div>
      <!-- end of container for paragraph-->
      <div class="hp_td-imgh-cir">
          <div class="hp_td-imgh-cir-aw"><i class="fa fa-angle-right"></i></div>
      </div>
    </div> <!--end of container for image placeholder-->
    {{/with}}
    <!--container for bottom part-->
    <div class="hp_td-b">
      <!--container for circle in bottom part-->
      <!-- <div class="hp_td-b-im"></div> -->
      <!--container for 1st paragraph part-->
      <div class="hp_td-b-p1bx">
          <div class="hp_td-b-im" style="background-image:url('{{lead_image}}')"></div>
        <div class="hp_td-b-p1bx-t">{{title}}</div>
        <div class="hp_td-b-p1bx-faw"><i class="fa fa-pencil"></i></div>
        <div class="hp_td-b-p1bx-wtn">Written By: {{wrtby}}  at 8:17am, Tuesday September 1st, 2015</div>
        <div class="hp_td-b-p1bx-pt"><p>{{description}}</p></div>
           </div>
      </div>
      <!--container for footer-->
      <div class="ftr">
        <!--container for button called from module.less-->
        <a href="{{link}}">
          <div class="module-footer-button ftr-btn hp_td-hcursor">
              <span class="module-footer-button-ellipse ftr-btn-icn"> <i class="fa fa-line-chart"></i></span>
              <!--container for text in button, called from module.less-->
              <span class="module-footer-button-text ftr-btn-txt">Continue Reading</span>
              <span class="ftr-btn-fa"><i class="fa fa-angle-right"></i></span>
          </div>
        </a>
      </div><!--end of container for footer-->
      <!--container for 2nd pparagraph part-->
      <!-- <div class="hp_td-b-p2bx">
        <div class="hp_td-b-p2bx-t1">time of this writing are scheduled to ship as early as Sept. 29, none are actually estimated to arrive this Friday
          as some were still scheduled to as of last Friday.</div>
        <div class="hp_td-b-p2bx-t2">But beyond slipping ship dates, there's more evidence pointing to a robust iPhone launch.
          This new sign comes from the outspoken T-Mobile CEO, John Legere: Preorders for the new iPhone 6s are up 30% compared to the year-ago period, he said on Twitter Tuesday evening.</div>
      </div> </div>-->
  </div><!--end of container for whole module-->
  {{/with}}
</template>
