<!--Author : Harishkumar muddasani
Date Created:07/21/2015
Description: WHAT’S HAPPENING WITH FACEBOOK, INC. TODAY?. Which gives details
about the property its views and the list of all the available properties
Associated files: global_var.less,happening_today.less,module.less,happening_today.html
-->
<template name="happening_today">
  <!--****************** Module heading*************-->
  <!--**************************module-3 starts here******************-->
  <div class="module-3"><div class="module-header"><span class="module-header-line"></span><span class="module-header-title">What’s Happening With Facebook, Inc. Today?</span></div>
  <!--***************************module-wrapper starts here**************-->
  <div class="module-wrapper">
    <!--********************Start of the property lint breakdown details******************************-->
    <!--*************hap_tdy.less style is applied from here***************-->
    <div class="hap_tdy">
      <div class="hap_tdy-Innerbody"> <!--*************Inner body details*************-->
        <div class="hap_tdy-BackGround"><!--*************Rectangular back ground details*************-->
          <!--*****************Address details about he home******-->
          <!--*************Rectangle header starts here**********-->
          <div class="hap_tdy-RectangleHeader"><b class = "hap_tdy-RectangleHeader-headerContern">
            <i class="fa fa-circle hap_tdy-RectangleHeader-headerContern-circle"></i> Market Recap</b></div>   <!--*************Rectangle header ends here************-->

            <!--***********box1 starts here************-->
            <div class="hap_tdy-box1">
              <!--*************line1 in box1 starts here************-->
              <span class="hap_tdy-line1_box1">Facebook, Inc. test “watch later” option.</span><br><!--*************line1 in box1 ends here************-->
              <!--*************line2 in box1 starts here************-->
              <div class="hap_tdy-line2_box1"><i class="fa fa-pencil hap_tdy-fa_box1"></i> Written By: Julie Balise  at 8:17am, Friday July 17th, 2015</div>
              <!--*************line2 in box1 starts here************-->
            </div>
            <!--***********box1 ends here************-->
            <!--***********box2 starts here************-->
            <div class="hap_tdy-box2">
              <div class="hap_tdy-circle_box2"><div class="hap_tdy-facircle_box2"></div></div>

              <span class="hap_tdy-line1_box2">Facebook Inc. (NASDAQ:FB) has recently started to test its "watch later" experimental feature for videos on the online networking website’s desktop feature. Users can opt to view videos later on by making use of the "saved" video tab introduced on the left side.
                The new update brings Facebook into competition with online video-streaming platform, YouTube, which allows similar options...</span><br>
              </div>
              <!--***********box2 ends here************-->
              <!--*************line2 in box2 starts here************-->
              <div class="hap_tdy-line2_box2">Continue Reading Story</div>
              <!--*************line2 in box2 ends here************-->
              <!--********box3 starts here*******-->
              <div class="hap_tdy-box3">
                <i class="fa fa-caret-up fa-2x hap_tdy-caretup_box3"></i>
                <div class="hap_tdy-line1_box3">Did you know, 15 companies are mentioned in this article?</div>
                <!--***********circle2 in box3 starts here***********-->
                <button class="hap_tdy-circle2_box3">
                <span class="hap_tdy-font_circle2_box3">#1</span>
              </button>
                <!--***********circle2 in box3 ends here***********-->
                <!--******************buttons starts here*********************-->
                <div class="hap_tdy-buttons_box3">
                  <button class="hap_tdy-leftbutton_box3">
                    <div class="hap_tdy-icons_box3">
                      <i class="fa fa-angle-left"></i>
                    </div>
                  </button>
                  <!--**********right Button Creation ***********!-->
                  <button class="hap_tdy-rightbutton_box3">
                    <div class="hap_tdy-icons2_box3">
                      <i class="fa fa-angle-right"></i>
                    </div>
                  </button>
                </div>
                <!--******************buttons ends here*********************-->
                <!--***************circlewrapper  in hap_tdy.less starts here ****************************-->
                <div class="hap_tdy-circlewrapper">
                  <div class="hap_tdy-circle3_box3"></div>
                  <div class="hap_tdy-circle1_box3">
                  </div>
                </div>
                <!--***************circlewrapper  in hap_tdy.less ends here ****************************-->
                <div class="hap_tdy-box2_box3">
                  <div class="hap_tdy-textline1_box2_box3">Facebook, Inc.</div>
                  <div class="hap_tdy-textline1_box2_box3">$82.37 +1.46 (+1.80%)</div>
                </div>
                <!--*************list view button starts here******************-->
                <button class="hap_tdy-listbutton_box3">
                  <span class="hap_tdy-fontlistbutton_box3">View The Full List <i class="fa fa-share hap_tdy-falistbutton_box3"></i></span>
                </button>
                <!--*************list view button ends here******************-->
              </div>
              <!--********box3 endss here*******-->
            </div>
          </div>
          <!--**************Right panel starts here************-->
          <div class="hap_tdy-RightPanel">
            <!-- tile1 starts here-->
            <div class="module-tile">
              <div class="module-tile-default">
                <div class="module-tile-default-container">
                  <div class="module-tile-default-icon">
                    <i class="fa fa-line-chart"></i>
                  </div>
                  <div class="module-tile-default-text">
                    Market Recap
                  </div>
                </div>
                <div class="hap_tdy-RightPanel-new_button">
                  <i class="fa fa-mail-forward hap_tdy-RightPanel-forward"></i>
                </div>
              </div>
              <a class="module-tile-link" href="#">
                <div class="module-tile-hover">
                  <div class="module-tile-name">
                    <i class="fa fa-line-chart"></i>Market Recap
                  </div>
                  <div class="module-tile-info"></div>
                  <button class="module-tile-button">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
                </div>
              </a>
            </div>
            <!-- tile1 ends here -->

            <!-- tile2 starts here-->

            <div class="module-tile">
              <div class="module-tile-default">
                <div class="module-tile-default-container">
                  <div class="module-tile-default-icon">
                    <i class="fa fa-trophy"></i>
                  </div>
                  <div class="module-tile-default-text">
                    Featured Top 100 Lists
                  </div>
                </div>
              </div>
              <a class="module-tile-link" href="#">
                <div class="module-tile-hover">
                  <div class="module-tile-name">
                    <i class="fa fa-trophy"></i>Featured Top 100 Lists
                  </div>
                  <div class="module-tile-info">
                  </div>
                  <button class="module-tile-button module-tile-button-align">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
                </div>
              </a>
            </div>

            <!-- tile2 ends here -->

            <!-- tile3 starts here -->
            <div class="module-tile">
              <div class="module-tile-default">
                <div class="module-tile-default-container">
                  <div class="module-tile-default-icon">
                    <i class="fa fa-briefcase"></i>
                  </div>
                  <div class="module-tile-default-text">
                    Create Your Portfolio
                  </div>
                </div>
                <button class="hap_tdy-RightPanel-FullList_new">
                  <span class="hap_tdy-RightPanel-this_txtbtn"><!--properties for text inside the button-->
                    NEW
                  </span>
                </button>
              </div>
              <a class="module-tile-link" href="#">
                <div class="module-tile-hover">
                  <div class="module-tile-name">
                    <i class="fa fa-briefcase"></i>Create Your Portfolio
                  </div>
                  <div class="module-tile-info">
                  </div>
                  <button class="module-tile-button module-tile-button-align">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
                </div>
              </a>
            </div>
            <!-- tile 3 ends here-->
          </div>
          <!-- Right panel ends here -->
        </div>
        <!--*************hap_tdy.less style is ends here***************-->
      </div>
      <!--***************************module-wrapper ends here**************-->
    </div>
    <!--module-3 ends here-->
  </template>
