<!--Author: [Sacchin Ranganathan]
Created: [06-15-2015]
Description: [html file for trending_stories_today module]
Associated Files: [trending_stories_today.less from /stylesheets/modules/
<!-called for template and run it-->


<template name="trending_stories_today">

  <div class="module-1 trd_str-module_border">  <!--creating the widget in accordance with the size specified-->
    <div class="module-header"><!--creating the widget header-->
      <span class="module-header-line"></span><!--the blue color line on top of the header-->
      <span class="module-header-title">trending stories today</span><!--specifying the title to be displayed inside the header-->
    </div>

    <div class="trd_str-module_whole_body"><!--Creating a whole body for the module-->
      <a href="">
        <div class="trd_str-left-nav-button"><!--creating the left navigation button-->
          <i class="fa fa-angle-left"></i><!--left arrow on the navigator-->
        </div>
      </a>

      <a href="">
        <div class="trd_str-right-nav-button"><!--creating the right navigation button-->
          <i class="fa fa-angle-right"></i><!--right arrow on the navigator-->
        </div>
      </a>
      <div class="trd_str-module_bottom_body"><!--Creating a wrapper for the lower body-->
        <div class="trd_str-leftcolumn"><!--selecting a space for the left lower body part-->
          <div class="trd_str-whiteround"><!--creating a circle on the left lower body-->
          </div>
          <a href="trd_str_WebsiteURL">
            <div class="trd_str-view-profile"><!--creating 2nd circle to be displayed on hover-->
              <div class="trd_str-view-profile_body"><!--Giving the properties for hover-->
                <span class="trd_str-view-profile_txt1">View<br></span><!--text properties on hover-->
                <span class="trd_str-view-profile_txt2">Profile</span><!--text properties on hover-->
              </div>
            </div>
          </a>
        </div>

        <div class="trd_str-rightcolumn"><!--selecting a space for the right lower body part-->
          <div class="trd_str-word"><!--text properties-->
            Top 2014 Gainers and Loosers in the<br>
            {{trd_str_Location}},{{trd_str_State}} Area.
          </div>
          <div class="trd_str-wordless"><!--text properties-->
            By: Tommy Lofgren | Updated at <time>8:17</time>AM EST on 05/25/2015
          </div>
          <a href="">
            <div class="trd_str-round-1"><!--creating 1st small circle on the left lower body-->
            </div>  </a>
            <a href="">
              <div class="trd_str-round-2"><!--creating 2nd small circle on the left lower body-->
              </div>  </a>

              <a href="">
                <div class="trd_str-round-3"><!--creating 3rd small circle on the left lower body-->
                </div>  </a>
                <a href="">
                  <div class="trd_str-profile_view"><!--creating a button for View Profile-->
                    <b>VIEW THE PROFILE</b>
                    &nbsp;<!--leaving space inbetween the share link and text-->
                    <i class="fa fa-share"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

      </template>
