<!-- Author: Ryan Fisher
**** Created: [09/16/2015]
**** Description: Footer template
**** Associated Files: footer.html, footer.less, footer.js
-->

<template name="footer">
  <div class="footer-standard" ><!--This class is the main container for all sub-container -->
    <div class ="footer-header"><!--This class corresponds -->
      {{#if notPartner}}
      <div class="footer-investkit_logo"></div>
      {{/if}}

      <ul class="footer-btn">
        <li>
          <a class="facebook_foot" rel="nofollow">
            <div class="footer-right_button">
              <i class="fa fa-pinterest-p"></i>
            </div>
          </a>
        </li>
        <li>
          <a class="facebook_foot1" rel="nofollow">
            <div  class="footer-right_button1">
              <i class="fa fa-google-plus"></i>
            </div>
          </a>
        </li>
        <li>
          <a class="facebook_foot2" rel="nofollow">
            <div  class="footer-right_button2">
              <i class="fa fa-linkedin"></i>
            </div>
          </a>
        </li>
        <li>
          <a class="facebook_foot3" rel="nofollow">
          <div  class="footer-right_button3">
            <i class="fa fa-twitter"></i>
          </div>
          </a>
        </li>
        <li>
          <a class="facebook_foot4" rel="nofollow">
            <div  class="footer-right_button4">
              <i class="fa fa-facebook "></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-content">
      <div class="footer-home-sec_body" >

      <!-- <div class="footer-title">National Real Estate</div> -->

      <div class="footer-company">
        <p>Company Listings |
          <a href="{{pathFor 'content.finance.directory' type='company' pageNum='1'}}"> # </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=A' pageNum='1'}}"> A </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=B' pageNum='1'}}"> B </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=C' pageNum='1'}}"> C </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=D' pageNum='1'}}"> D </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=E' pageNum='1'}}"> E </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=F' pageNum='1'}}"> F </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=G' pageNum='1'}}"> G </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=H' pageNum='1'}}"> H </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=I' pageNum='1'}}"> I </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=J' pageNum='1'}}"> J </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=K' pageNum='1'}}"> K </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=L' pageNum='1'}}"> L </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=M' pageNum='1'}}"> M </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=N' pageNum='1'}}"> N </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=O' pageNum='1'}}"> O </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=P' pageNum='1'}}"> P </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=Q' pageNum='1'}}"> Q </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=R' pageNum='1'}}"> R </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=S' pageNum='1'}}"> S </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=T' pageNum='1'}}"> T </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=U' pageNum='1'}}"> U </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=V' pageNum='1'}}"> V </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=W' pageNum='1'}}"> W </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=X' pageNum='1'}}"> X </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=Y' pageNum='1'}}"> Y </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='sort=Z' pageNum='1'}}"> Z </a>
        </p>
      </div>
      <div class="footer-people">
        <p>People Listings |
          <a href="{{pathFor 'content.finance.directory' type='officer' pageNum='1'}}"> # </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=A' pageNum='1'}}"> A </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=B' pageNum='1'}}"> B </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=C' pageNum='1'}}"> C </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=D' pageNum='1'}}"> D </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=E' pageNum='1'}}"> E </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=F' pageNum='1'}}"> F </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=G' pageNum='1'}}"> G </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=H' pageNum='1'}}"> H </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=I' pageNum='1'}}"> I </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=J' pageNum='1'}}"> J </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=K' pageNum='1'}}"> K </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=L' pageNum='1'}}"> L </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=M' pageNum='1'}}"> M </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=N' pageNum='1'}}"> N </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=O' pageNum='1'}}"> O </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=P' pageNum='1'}}"> P </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=Q' pageNum='1'}}"> Q </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=R' pageNum='1'}}"> R </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=S' pageNum='1'}}"> S </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=T' pageNum='1'}}"> T </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=U' pageNum='1'}}"> U </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=V' pageNum='1'}}"> V </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=W' pageNum='1'}}"> W </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=X' pageNum='1'}}"> X </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=Y' pageNum='1'}}"> Y </a> |
          <a href="{{pathFor 'content.finance.directory' type='officer' query='sort=Z' pageNum='1'}}"> Z </a>
        </p>
      </div>
        <hr class="footer-separator"/>

        <p>States |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=AL' pageNum='1'}}"> Alabama </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=AK' pageNum='1'}}"> Alaska </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=AZ' pageNum='1'}}"> Arizona </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=AR' pageNum='1'}}"> Arkansas </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=CA' pageNum='1'}}"> California </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=CO' pageNum='1'}}"> Colorado </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=CT' pageNum='1'}}"> Connecticut </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=DE' pageNum='1'}}"> Delaware </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=FL' pageNum='1'}}"> Florida </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=GA' pageNum='1'}}"> Georgia </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=HI' pageNum='1'}}"> Hawaii </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=ID' pageNum='1'}}"> Idaho </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=IL' pageNum='1'}}"> Illinois </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=IN' pageNum='1'}}"> Indiana </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=IA' pageNum='1'}}"> Iowa </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=KS' pageNum='1'}}"> Kansas </a> |
        </p>

        <p>
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=KY' pageNum='1'}}"> Kentucky </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=LA' pageNum='1'}}"> Louisiana </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=ME' pageNum='1'}}"> Maine </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=MD' pageNum='1'}}"> Maryland </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=MA' pageNum='1'}}"> Massachusetts </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=MI' pageNum='1'}}"> Michigan </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=MN' pageNum='1'}}"> Minnesota </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=MS' pageNum='1'}}"> Mississippi </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=MO' pageNum='1'}}"> Missouri </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=MT' pageNum='1'}}"> Montana </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=NE' pageNum='1'}}"> Nebraska </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=NV' pageNum='1'}}"> Nevada </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=NH' pageNum='1'}}"> New Hampshire </a> |
        </p>

        <p>
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=NJ' pageNum='1'}}"> New Jersey </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=NM' pageNum='1'}}"> New Mexico </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=NY' pageNum='1'}}"> New York </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=NC' pageNum='1'}}"> North Carolina </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=ND' pageNum='1'}}"> North Dakota </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=OH' pageNum='1'}}"> Ohio </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=OK' pageNum='1'}}"> Oklahoma </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=OR' pageNum='1'}}"> Oregon </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=PA' pageNum='1'}}"> Pennsylvania </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=RI' pageNum='1'}}"> Rhode Island </a> |
            <a href="{{pathFor 'content.finance.directory' type='company' query='state=SC' pageNum='1'}}"> South Carolina </a> |
        </p>

        <p>
          <a href="{{pathFor 'content.finance.directory' type='company' query='state=SD' pageNum='1'}}"> South Dakota </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='state=TN' pageNum='1'}}"> Tennessee </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='state=TX' pageNum='1'}}"> Texas </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='state=UT' pageNum='1'}}"> Utah </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='state=VT' pageNum='1'}}"> Vermont </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='state=VA' pageNum='1'}}"> Virginia </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='state=DC' pageNum='1'}}"> Washington, D.C. </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='state=WA' pageNum='1'}}"> Washington </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='state=WV' pageNum='1'}}"> West Virginia </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='state=WI' pageNum='1'}}"> Wisconsin </a> |
          <a href="{{pathFor 'content.finance.directory' type='company' query='state=WY' pageNum='1'}}"> Wyoming </a> |
        </p>

        <hr class="footer-separator"/>

        <p>
          You Might Like:&nbsp;&nbsp;<span class="footer-b_blue"><a href="{{pathFor 'content.finance.listoflists'}}">Trending Lists</a></span>
            <i class="fa fa-caret-right"></i><span class="footer-b_blue"><a href="{{pathFor 'content.finance.listview' partner_id=navLink.partnerId list_name=navLink.list1 state_id=navLink.userState city_id=navLink.userCity}}"> Who is Gaining Today? </a></span>
            <i class="fa fa-caret-right"></i><span class="footer-b_blue"><a href="{{pathFor 'content.finance.listview' partner_id=navLink.partnerId list_name=navLink.list2 state_id=navLink.userState city_id=navLink.userCity}}"> Who is Losing Today? </a></span>
            <i class="fa fa-caret-right"></i><span class="footer-b_blue"><a href="{{pathFor 'content.finance.listview' partner_id=navLink.partnerId list_name=navLink.list3 state_id=navLink.userState city_id=navLink.userCity}}"> Today's Market Movers </a></span>
        </p>
                <hr class="footer-separator"/>
        <p>     <span class="footer-b_blue"><a href="{{pathFor 'content.finance.home'}}">InvestKit.com </a></span>
                <i class="fa fa-caret-right"></i><a href="{{pathFor 'content.finance.contactus'}}"> Advertise with InvestKit</a> <i class="fa fa-caret-right">
                </i><a href="{{pathFor 'content.finance.contactus'}}"> Contact us</a>
                <i class="fa fa-caret-right"></i> <a href="#"> Company News</a>
        </p>
        <p>
          <a href="{{pathFor 'content.finance.disclaimer'}}"> Terms of Use</a>
          <i class="fa fa-caret-right"></i><a href="#"> Privacy Policy </a>
          <i class="fa fa-caret-right"></i><a href="#"> Sitemap</a>
          <i class="fa fa-caret-right"></i><a href="{{pathFor 'content.finance.contactus'}}"> General Feedback</a>
        </p>
      </div>
    </div>
</div>
</template>
