<!--
Author: Kyle Toom
Date: 8/10/2015
Decription: A page for showing what has happened with a company over a period of time
Associated Files: co_fin_overview.html, co_fin_overview.less, co_fin_overview.js
-->

<template name="co_fin_overview">
    {{#with companyData}} <!--object used throughout the page for things like the company name-->
        <div class="cfo-page"> <!--container for whole page-->
          <a href="{{backToComp}}">
            <div class="excmp-return">
              <div class="excmp-return-button">
                <i class="fa fa-mail-reply"></i>
              </div>
              <div class="excmp-return-triangle"></div>
              Go Back To <span class="excmp-b">{{c_name}}'s</span> Company Profile
            </div>
          </a>
            <div class="cfo-pr cfo-top"> <!--container for white background area at top-->
                <div class="cfo-pr cfo-top-circle" style="background-image: url('{{imageUrl c_logo}}')"> <!--back arrow in top-->
                </div>
                <i class="cfo-pa cfo-n cfo-top-txt1">
                    Last Updated: {{c_tr_last_updated}}
                </i>
                <a href="{{locurl}}">
                  <i class="cfo-pa cfo-n cfo-top-txt2">
                      <i class="fa fa-map-marker"></i> {{location}}
                  </i>
                </a>
                <i class="cfo-pa cfo-b cfo-top-txt3">
                    Financial Overview
                </i>
                <i class="cfo-pa cfo-l cfo-top-txt4">
                    for {{c_name}}
                </i>
            </div>
            <div class="cfo-pr cfo-mid"> <!--the black-grey-black section in the middle-ish-->
              <div class="cfo-pa cfo-mid-top"> <!--the black header of the middle-->
                  <div class="cfo-b cfo-mid-top-txt1"> <!--the left part of the header-->
                      {{c_name}}'s Financial Overview
                  </div>
                  <!--<div class="cfo-l cfo-mid-top-txt2">
                      <i class="fa fa-heart"></i>
                      Save
                  </div>
                  <a href="{{share_company_fin_overview_url}}">
                    <div class="cfo-l cfo-mid-top-txt2">
                        <i class="fa fa-share-alt"></i>
                        Share
                    </div>
                  </a>-->
              </div>
              <div class="cfo-pa cfo-mid-mid"> <!--the grey section in the middle-->
                <div class="cfo-pa cfo-mid-mid-circle" style="background-image: url('{{imageUrl c_logo}}')">
                </div>
                <div class="cfo-pa cfo-mid-mid-building">
                    <i class="fa fa-building-o fa-lg"></i>
                </div>
                <i class="cfo-pa cfo-b cfo-mid-mid-txt1">
                    {{c_name}}
                </i>
                <!--<i class="cfo-pa cfo-l cfo-mid-mid-txt2">
                    <i class="fa fa-heart"></i>
                    Save
                </i>-->
                <!--<a href="{{share_company_url}}">
                  <i class="cfo-pa cfo-l cfo-mid-mid-txt3">
                      <i class="fa fa-share-alt"></i>
                      Share
                  </i>
                </a>-->
                <div class="cfo-pa cfo-l cfo-mid-mid-txtbox"> <!--the part of the middle-middle that has the important and long text-->
                  <i class="cfo-mid-mid-txtbox-txt">
                      <i class="cfo-b">{{c_name}}</i>'s overall annual financials are <i class="cfo-b cfo-i">{{percent_year_type}}
                      {{percent_year_value}}%</i> from this time last year. With a <i class="cfo-b cfo-i">${{amount_year_value}} {{percent_year_text}}</i> in stock
                      price bringing individual <i class="cfo-b cfo-i">share price to ${{csi_price}}.</i>
                      <br>
                  </i>
                  <i class="cfo-mid-mid-txtbox-btm1">
                      <i class="cfo-b">{{c_name}}</i> is currently priced at:<br>
                  </i>
                  <i class="cfo-pr cfo-mid-mid-txtbox-btm2">
                      <i class="cfo-b">${{csi_price}} </i> <span style="color: {{changeColor csi_price_last_operator}}"><i class="fa {{changeIcon csi_price_last_operator}}"></i> {{csi_price_change_since_last}} ({{csi_percent_change_since_last}})</span>
                  </i>
                </div>
              </div>
              <div class="cfo-pa cfo-mid-btm"> <!--the footer of the middle area-->
                  <div class="cfo-pa cfo-l cfo-mid-btm-txt1">
                      Want more information about {{c_name}}?
                  </div>
                  <div class="cfo-pa cfo-l cfo-mid-btm-txt2">
                      Profile Last Updated On: <i class="cfo-b"></i> {{c_tr_last_updated}}
                  </div>
                  <a href="{{backToComp}}">
                    <div class="cfo-pa cfo-mid-btm-btn">
                        View Profile <i class="fa fa-angle-right"></i>
                    </div>
                  </a>
              </div>
            </div>
            <div class="cfo-pr cfo-btm"> <!--holds anything but the search module below the middle area-->
                <!-- Currently unused:
                <div class="cfo-b cfo-btm-txt1">
                    Sort by: <i class="cfo-l">Annual Financials </i><i class="fa fa-angle-down cfo-btm-txt1-blue"></i>
                </div> -->
                <div class="cfo-btm-what"> <!--a box that looks like it can be closed-->
                    <div class="cfo-b cfo-btm-what-top">
                        What is this page?
                        <i class="fa fa-times cfo-pr cfo-btm-what-top-x"></i>
                    </div>
                    <div class="cfo-btm-what-txt">
                        This page features a glance at {{c_name}}'s annual financials, including stock graph, market
                        cap and more.
                    </div>
                </div>
                <div class="cfo-pr cfo-btm-data"> <!--a divide to seperate data from the box above-->
                    <div class="cfo-pr cfo-btm-data-title">
                        Stock Graph <i class="cfo-l">for {{c_name}}:</i>
                    </div>
                    <div class="cfo-pr cfo-btm-data-date">
                        <i class="fa fa-calendar"></i>
                        Updated {{csi_price_last_updated}}
                    </div>
                    <div class="cfo-pr cfo-btm-data-graph" id="cfoGraph">
                      <!--Put graph here-->
                      {{> highchartsHelper chartId="cfoGraph" chartWidth="650px" chartHeight="221px" chartObject=getGraphObject}}
                    </div>
                    <div class="cfo-btm-data-period"> <!--this holds the buttons that change the x scale of the graph-->
                      <div class="cfo-btm-data-period-btn {{isRangeSelected 'cfoBtn0'}}" id="cfoBtn0">1D</div>
                      <div class="cfo-btm-data-period-btn {{isRangeSelected 'cfoBtn1'}}" id="cfoBtn1">5D</div>
                      <div class="cfo-btm-data-period-btn {{isRangeSelected 'cfoBtn2'}}" id="cfoBtn2">10D</div>
                      <div class="cfo-btm-data-period-btn {{isRangeSelected 'cfoBtn3'}}" id="cfoBtn3">1M</div>
                      <div class="cfo-btm-data-period-btn {{isRangeSelected 'cfoBtn4'}}" id="cfoBtn4">3M</div>
                      <div class="cfo-btm-data-period-btn {{isRangeSelected 'cfoBtn5'}}" id="cfoBtn5">6M</div>
                      <div class="cfo-btm-data-period-btn {{isRangeSelected 'cfoBtn6'}}" id="cfoBtn6">9M</div>
                      <div class="cfo-btm-data-period-btn {{isRangeSelected 'cfoBtn7'}}" id="cfoBtn7">1Y</div>
                      <div class="cfo-btm-data-period-btn {{isRangeSelected 'cfoBtn8'}}" id="cfoBtn8">3Y</div>
                      <div class="cfo-btm-data-period-btn {{isRangeSelected 'cfoBtn9'}}" id="cfoBtn9">5Y</div>
                      <div class="cfo-btm-data-period-btn {{isRangeSelected 'cfoBtn10'}}" id="cfoBtn10">10Y</div>
                    </div>
                    <div class="cfo-pr cfo-btm-data-list"> <!--List various figures but is not a tile-->
                        <div class="cfo-pr cfo-btm-data-list-l">
                            <div class="cfo-btm-data-list-i">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    Current Price
                                </i>
                                <i class="cfo-b cfo-btm-data-list-i-r">
                                    ${{csi_price}}
                                </i>
                            </div>
                            <div class="cfo-btm-data-list-i">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    Open Price
                                </i>
                                <i class="cfo-b cfo-btm-data-list-i-r">
                                    ${{csi_opening_price}}
                                </i>
                            </div>
                            <div class="cfo-btm-data-list-i">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    Close Price
                                </i>
                                <i class="cfo-b cfo-btm-data-list-i-r">
                                    ${{csi_closing_price}}
                                </i>
                            </div>
                            <div class="cfo-btm-data-list-i">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    Day Change $-%
                                </i>
                                <span class="cfo-btm-data-list-i-r" style="color: {{changeColor csi_price_last_operator}}">
                                    <i class="fa {{changeIcon csi_price_last_operator}}"></i> {{csi_price_change_since_last}} <i class="cfo-black">|</i> {{csi_percent_change_since_last}}%
                                </span>
                            </div>
                            <div class="cfo-btm-data-list-i-b">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    Day Range
                                </i>
                                <i class="cfo-b cfo-btm-data-list-i-r">
                                    ${{csi_low}} - ${{csi_high}}
                                </i>
                            </div>
                        </div>
                        <div class="cfo-pr cfo-btm-data-list-r">
                            <div class="cfo-btm-data-list-i">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    52 Weeks Range
                                </i>
                                <i class="cfo-b cfo-btm-data-list-i-r">
                                    ${{min_range}} - ${{start_range}}
                                </i>
                            </div>
                            <div class="cfo-btm-data-list-i">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    Vol/Avg.
                                </i>
                                <i class="cfo-b cfo-btm-data-list-i-r">
                                    {{csi_trading_vol}}/{{avg_volume}}
                                </i>
                            </div>
                            <!--<div class="cfo-btm-data-list-e">
                                <div class="cfo-btm-data-list-e-title cfo-l">
                                    <i class="cfo-b">Learn why </i>{{c_name}} is <span style="color: {{changeColor csi_price_last_operator}}"><i class="fa {{changeIcon csi_price_last_operator}}"></i> {{csi_percent_change_since_last}}%</span> today:
                                </div>
                                <div class="cfo-pr cfo-btm-data-list-e-circle" style="background-image: url('{{imageUrl c_logo}}')">
                                </div>
                                <div class="cfo-pr cfo-btm-data-list-e-txt">-->
                                    <!--{{c_name}} ({{c_ticker}}) stock is currently priced
                                    at ${{csi_price}} per share. Yesterday, <i class="cfo-blue">3 articles</i>
                                    were written about {{c_ticker}}: 100% are positive.
                                    <i class="cfo-blue">Click here</i> to read more about {{c_name}} in the news.-->
                                    <!--{{AIcontent}}
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="cfo-pr cfo-btm-data-tile-grey">
                      <div class="cfo-pr cfo-btm-data-tile-l" id="cfoTileL1">
                        <div class="cfo-pa cfo-btm-data-tile-circle">
                          <i class="fa fa-pie-chart"></i>
                        </div>
                      <div class="cfo-b cfo-pa cfo-btm-data-tile-title">
                        P.E. - Price to Earnings
                      </div>

                      <div class="cfo-btm-data-tile-stat">
                        <div class="cfo-btm-data-tile-stat-l">
                          P.E. Ratio
                        </div>
                        <div class="cfo-b cfo-btm-data-tile-stat-r">
                          {{csi_pe_ratio}}
                        </div>
                      </div>
                    </div>

                    <div class="cfo-pr cfo-btm-data-tile-r" id="cfoTileR1">
                      <div class="cfo-pa cfo-btm-data-tile-circle">
                          <i class="fa fa-calculator"></i>
                      </div>
                      <div class="cfo-b cfo-pa cfo-btm-data-tile-title">
                        E.P.S - Earnings Per Share
                      </div>

                      <div class="cfo-btm-data-tile-stat">
                        <div class="cfo-btm-data-tile-stat-l">
                          E.P.S.
                        </div>
                        <div class="cfo-b cfo-btm-data-tile-stat-r">
                          {{csi_earnings_per_share}}
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="cfo-pr cfo-btm-data-tile">

                    <div class="cfo-pr cfo-btm-data-tile-l" id="cfoTileL2">
                      <div class="cfo-pa cfo-btm-data-tile-circle">
                        <i class="fa fa-line-chart"></i>
                      </div>
                      <div class="cfo-b cfo-pa cfo-btm-data-tile-title">
                        Today's Volume vs Average
                      </div>

                      <div class="cfo-btm-data-tile-stat">
                        <div class="cfo-btm-data-tile-stat-l">
                          Today vs Average
                        </div>
                        <div class="cfo-b cfo-btm-data-tile-stat-r">
                          {{csi_trading_vol}} vs {{avg_volume}}
                        </div>
                      </div>
                    </div>

                    <div class="cfo-pr cfo-btm-data-tile-r" id="cfoTileR2">
                      <div class="cfo-pa cfo-btm-data-tile-circle">
                        <i class="fa fa-bar-chart"></i>
                      </div>
                      <div class="cfo-b cfo-pa cfo-btm-data-tile-title">
                        Market Cap
                      </div>

                      <div class="cfo-btm-data-tile-stat">
                        <div class="cfo-btm-data-tile-stat-l">
                          Market Cap
                        </div>
                        <div class="cfo-b cfo-btm-data-tile-stat-r">
                          {{csi_market_cap}}
                        </div>
                      </div>
                    </div>

                  </div>

                  <!--<div class="cfo-pr cfo-btm-data-tile-grey">
                    <div class="cfo-pr cfo-btm-data-tile-l" id="cfoTileL3">
                      <div class="cfo-pa cfo-btm-data-tile-circle">
                        <i class="fa fa-question"></i>
                      </div>
                      <div class="cfo-b cfo-pa cfo-btm-data-tile-title">
                        Dividend Yield
                      </div>

                      <div class="cfo-btm-data-tile-stat">
                          <div class="cfo-btm-data-tile-stat-l">
                            Yield
                          </div>
                          <div class="cfo-b cfo-btm-data-tile-stat-r">
                            0
                          </div>
                      </div>
                    </div>

                    <div class="cfo-pr cfo-btm-data-tile-r" id="cfoTileR3">
                      <div class="cfo-pa cfo-btm-data-tile-circle">
                        <i class="fa fa-question"></i>
                      </div>
                      <div class="cfo-b cfo-pa cfo-btm-data-tile-title">
                        Alpha &amp; Beta
                      </div>

                      <div class="cfo-btm-data-tile-stat">
                        <div class="cfo-btm-data-tile-stat-l">
                          Alpha
                        </div>
                        <div class="cfo-b cfo-btm-data-tile-stat-r">
                          N/A
                        </div>
                      </div>

                      <div class="cfo-btm-data-tile-stat">
                        <div class="cfo-btm-data-tile-stat-l">
                          Beta
                        </div>
                        <div class="cfo-b cfo-btm-data-tile-stat-r">
                          N/A
                        </div>
                      </div>

                    </div>

                  </div>-->

                </div>
            </div>
            {{> search_module}}
        </div>
    {{/with}}
</template>
