<!--
Author: Kyle Toom
Date: 8/10/2015
Decription: A page for showing what has happened with a company over a period of time
Associated Files: co_fin_overview.html, co_fin_overview.less, co_fin_overview.js
-->

<template name="co_fin_overview">
    {{#with company}} <!--object used throughout the page for things like the company name-->
        <div class="cfo-page"> <!--container for whole page-->
          <a href="#" onclick="history.go(-1)">
            <div class="dp_head-hdtl">
             <div class="dp_head-hdtl-or">
               <div class="dp_head-hdtl-mailrep" >
                 <i class="dp_head-mailrep fa fa-reply"></i>
               </div>
               <div class="dp_head-hdtl-rta">
               </div>
             </div>
             <!-- for the text contianer!-->
             <div class="dp_head-hdtl-txtctt">
               <div class="dp_head-hdtl-gb">
                 Go Back To
                 <div class="dp_head-hdtl-bar-title">
                 <div class="dp_head-hdtl-bar-helper">
                   {{c_name}}'s
                 </div>
                   <div class="dp_head-hdtl-bar-side">Profile </div>
                 </div>
               </div>
             </div>
           </div>
          </a>
            <div class="cfo-pr cfo-top"> <!--container for white background area at top-->
                <div class="cfo-pr cfo-top-circle"> <!--back arrow in top-->
                </div>
                <i class="cfo-pa cfo-n cfo-top-txt1">
                    LAST UPDATED: 06/25/2015, 8:00 AM EST
                </i>
                <i class="cfo-pa cfo-n cfo-top-txt2">
                    <i class="fa fa-map-marker"></i>
                    United States
                </i>
                <i class="cfo-pa cfo-b cfo-top-txt3">
                    Financial Overview
                </i>
                <i class="cfo-pa cfo-l cfo-top-txt4">
                    for {{formalName}}
                </i>
            </div>
            <div class="cfo-pr cfo-mid"> <!--the black-grey-black section in the middle-ish-->
              <div class="cfo-pa cfo-mid-top"> <!--the black header of the middle-->
                  <div class="cfo-b cfo-mid-top-txt1"> <!--the left part of the header-->
                      {{formalName}}'s Financial Overview
                  </div>
                  <div class="cfo-l cfo-mid-top-txt2"> <!--the first right part of the header-->
                      <i class="fa fa-heart"></i>
                      Save
                  </div>
                  <div class="cfo-l cfo-mid-top-txt2"> <!--the second right part of the header-->
                      <i class="fa fa-share-alt"></i>
                      Share
                  </div>
              </div>
              <div class="cfo-pa cfo-mid-mid"> <!--the grey section in the middle-->
                <div class="cfo-pa cfo-mid-mid-circle">
                </div>
                <div class="cfo-pa cfo-mid-mid-building">
                    <i class="fa fa-building-o fa-lg"></i>
                </div>
                <i class="cfo-pa cfo-b cfo-mid-mid-txt1">
                    {{formalName}}
                </i>
                <i class="cfo-pa cfo-l cfo-mid-mid-txt2">
                    <i class="fa fa-heart"></i>
                    Save
                </i>
                <i class="cfo-pa cfo-l cfo-mid-mid-txt3">
                    <i class="fa fa-share-alt"></i>
                    Share
                </i>
                <div class="cfo-pa cfo-l cfo-mid-mid-txtbox"> <!--the part of the middle-middle that has the important and long text-->
                  <i class="cfo-mid-mid-txtbox-txt">
                      <i class="cfo-b">{{formalName}}</i>'s overall annual financials are <i class="cfo-b cfo-i">up
                      10%</i> from 2014. With an <i class="cfo-b cfo-i">$20 increase</i> in stock
                      price bringing individual <i class="cfo-b cfo-i">share price to $94.01.</i>
                      <br>
                  </i>
                  <i class="cfo-mid-mid-txtbox-btm1">
                      <i class="cfo-b">{{formalName}}</i> is currently priced at:<br>
                  </i>
                  <i class="cfo-pr cfo-mid-mid-txtbox-btm2">
                      <i class="cfo-b">$94.31 </i> <i class="cfo-grn"><i class="fa fa-arrow-up"></i> +0.22 (+0.23%)</i>
                  </i>
                </div>
              </div>
              <div class="cfo-pa cfo-mid-btm"> <!--the footer of the middle area-->
                  <div class="cfo-pa cfo-l cfo-mid-btm-txt1">
                      Want more information about {{informalName}}'s stock?
                  </div>
                  <div class="cfo-pa cfo-l cfo-mid-btm-txt2">
                      Profile Last Updated On: <i class="cfo-b">07/29/2015</i>
                  </div>
                  <div class="cfo-pa cfo-mid-btm-btn">
                      Open Stock Graph <i class="fa fa-angle-right"></i>
                  </div>
              </div>
            </div>
            <div class="cfo-pr cfo-btm"> <!--holds anything but the search module below the middle area-->
                <div class="cfo-b cfo-btm-txt1">
                    Sort by: <i class="cfo-l">Annual Financials </i><i class="fa fa-angle-down cfo-btm-txt1-blue"></i>
                </div>
                <div class="cfo-btm-what"> <!--a box that looks like it can be closed-->
                    <div class="cfo-b cfo-btm-what-top">
                        What is this page?
                        <i class="fa fa-times cfo-pr cfo-btm-what-top-x"></i>
                    </div>
                    <div class="cfo-btm-what-txt">
                        This page features a glance at {{formalName}}'s annual financials, including stock graph, market
                        cap and more.
                    </div>
                </div>
                <div class="cfo-pr cfo-btm-data"> <!--a divide to seperate data from the box above-->
                    <div class="cfo-pr cfo-btm-data-title">
                        Stock Graph <i class="cfo-l">for {{formalName}}:</i>
                    </div>
                    <div class="cfo-pr cfo-btm-data-date">
                        <i class="fa fa-calendar"></i>
                        Updated 08/03/2015 at 4PM EST
                    </div>
                    <div class="cfo-pr cfo-btm-data-graph" id="cfoGraph">
                        <!--Put graph here-->
                        {{> highchartsHelper chartId="cfoChart" chartWidth="650px" chartHeight="221px" chartObject=getGraphObject}}
                    </div>
                    <div class="cfo-btm-data-period"> <!--this holds the buttons that change the x scale of the graph-->
                        {{#each btns}}
                            <div class="cfo-btm-data-period-btn{{isInitial num}}" id="cfoBtn{{num}}" onclick="cfoBtns({{num}})">
                                {{text}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="cfo-pr cfo-btm-data-list"> <!--List various figures but is not a tile-->
                        <div class="cfo-pr cfo-btm-data-list-l">
                            <div class="cfo-btm-data-list-i">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    Current Price
                                </i>
                                <i class="cfo-b cfo-btm-data-list-i-r">
                                    $94.31
                                </i>
                            </div>
                            <div class="cfo-btm-data-list-i">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    Open Price
                                </i>
                                <i class="cfo-b cfo-btm-data-list-i-r">
                                    $93.53
                                </i>
                            </div>
                            <div class="cfo-btm-data-list-i">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    Close Price
                                </i>
                                <i class="cfo-b cfo-btm-data-list-i-r">
                                    $95.21
                                </i>
                            </div>
                            <div class="cfo-btm-data-list-i">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    Day Change $-%
                                </i>
                                <i class="cfo-grn cfo-btm-data-list-i-r">
                                    <i class="fa fa-arrow-up"></i> +0.52 <i class="cfo-black">|</i> +0.57%
                                </i>
                            </div>
                            <div class="cfo-btm-data-list-i-b">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    Day Range
                                </i>
                                <i class="cfo-b cfo-btm-data-list-i-r">
                                    $93.53 - $93.21
                                </i>
                            </div>
                        </div>
                        <div class="cfo-pr cfo-btm-data-list-r">
                            <div class="cfo-btm-data-list-i">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    52 Week Range
                                </i>
                                <i class="cfo-b cfo-btm-data-list-i-r">
                                    $99.24 - $70.32
                                </i>
                            </div>
                            <div class="cfo-btm-data-list-i">
                                <i class="cfo-l cfo-btm-data-list-i-l">
                                    Vol/Avg.
                                </i>
                                <i class="cfo-b cfo-btm-data-list-i-r">
                                    4M/10M
                                </i>
                            </div>
                            <div class="cfo-btm-data-list-e"> <!--the abnormal list item-->
                                <div class="cfo-btm-data-list-e-title cfo-l">
                                    <i class="cfo-b">Learn why </i>{{formalName}} is <i class="cfo-grn"><i class="fa fa-arrow-up"></i> +0.52%</i> today:
                                </div>
                                <div class="cfo-pr cfo-btm-data-list-e-circle">
                                </div>
                                <div class="cfo-pr cfo-btm-data-list-e-txt">
                                    {{formalName}} ({{ticker}}) stock is currently priced
                                    at $94.31 per share. Yesterday, <i class="cfo-blue">3 articles</i>
                                    were written about {{ticker}}: 100% are positive.
                                    <i class="cfo-blue">Click here</i> to read more about {{formalName}} in the news.
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#each tiles}} <!--tiles are the alternating grey-white spaces at the bottom which have a left and right side-->
                        <div class="cfo-pr {{getTileColor}}">
                            {{#with left}}
                                <div class="cfo-pr cfo-btm-data-tile-l" id="cfoTileL{{num}}">
                                    <div class="cfo-pa cfo-btm-data-tile-circle">
                                        <i class="fa fa-question"></i>
                                    </div>
                                    <div class="cfo-b cfo-pa cfo-btm-data-tile-title">
                                        {{title}}
                                    </div>
                                    {{#each item}}
                                        <div class="cfo-btm-data-tile-stat">
                                            <div class="cfo-btm-data-tile-stat-l">
                                                {{text}}
                                            </div>
                                            <div class="cfo-b cfo-btm-data-tile-stat-r">
                                                {{value}}
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            {{/with}}
                            {{#with right}}
                                <div class="cfo-pr cfo-btm-data-tile-r" id="cfoTileR{{num}}">
                                    <div class="cfo-pa cfo-btm-data-tile-circle">
                                        <i class="fa fa-question"></i>
                                    </div>
                                    <div class="cfo-b cfo-pa cfo-btm-data-tile-title">
                                        {{title}}
                                    </div>
                                    {{#each item}}
                                        <div class="cfo-btm-data-tile-stat">
                                            <div class="cfo-btm-data-tile-stat-l">
                                                {{text}}
                                            </div>
                                            <div class="cfo-b cfo-btm-data-tile-stat-r">
                                                {{value}}
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            {{/with}}
                        </div>
                    {{/each}}
                </div>
            </div>
            {{> search_module}}
        </div>
    {{/with}}
</template>
