<!-- Author: Ryan Fisher
**** Created: [10/06/2015]
**** Description: Office Location Page
**** Associated Files: c_hq_page.html, c_hq_page.less, c_hq_page_logic.js
-->

<template name="c_hq_page">
  {{#with compInfo}}
  <div class="chq">
    <!--Page header-->
    <div class="chq-hdr">
      <a href="{{url}}">
        <div class="chq-hdr-hdtl">
          <div class="chq-hdr-hdtl-or">
            <div class="chq-hdr-hdtl-mailrep" >
              <i class="chq-hdr-mailrep fa fa-reply"></i>
            </div>
            <div class="chq-hdr-hdtl-rta">
            </div>
          </div>
          <!-- for the text contianer!-->
          <div class="chq-hdr-hdtl-txtctt">
            <div class="chq-hdr-hdtl-gb">
              Go Back To
              <div class="chq-hdr-hdtl-bar-title">
                <div class="chq-hdr-hdtl-bar-helper">
                  {{c_name}}
                </div>
                <div class="chq-hdr-hdtl-bar-side">Profile </div>
              </div>
            </div>
          </div>
          <!-- for the circle on the right to navigate!
          <div class="chq-hdr-hdtl-indcir">
              <i class="fa fa-angle-right"></i>
            </div>
          -->
        </div>
      </a>
      <!-- the header box -->
      <div class="chq-hdr-head-box">
        <!-- image inside the header box-->
        <div class="chq-hdr-head-image" style="background-image:url('{{imageUrl compImage}}')">
          <!-- he add green symbol above the image-->
          <!-- <button class="chq-hdr-head-image-icon"><i class="fa fa-reply"></i></button> -->
        </div>
        <!-- the text inside the header box-->
        <div class="chq-hdr-text">
            <!-- the latest update-->
            <div class="chq-hdr-text-update">
              Last Updated {{c_tr_last_updated}} EST
            </div>
            <!-- location of the article-->
            <a href="{{locurl}}">
              <div class="chq-hdr-text-loc">
                <i class="fa fa-map-marker"></i> {{location}}
              </div>
            </a>
            <!-- the name of the article-->
            <div class="chq-hdr-text-name">
              Office Location
            </div>
            <!-- the person the page is about-->
            <div class="chq-hdr-text-auth">
              For {{c_name}}
            </div>
        </div>
      </div>
    </div>
    <!--End Page header-->

    <!--What is this page? box-->
    <!-- <div class="chq-about">
      <div class="chq-about-hdr">
        <div class="chq-about-hdr-txt">What is this page?</div>
        <button class="chq-about-hdr-icon"><i class="fa fa-close"></i></button>
      </div>
      <div class="chq-about-txt">
        This page features an in-depth map of {{company}}'s office location, along with the address
        and numbers associated with the office.
      </div>
    </div> -->
    <!--End What is this page? box-->

    <!--Map container-->
    <div class="chq-map">
      <div class="chq-map-container" id="mainmap"></div>
      <div class="chq-map-bar">
        <div class="chq-map-bar-title"><i class="fa fa-building-o"></i>{{c_name}}'s Office Location</div>
        <!-- <div class="chq-map-bar-button"><i class="fa fa-heart"></i>Save</div> -->
        <a href="{{shareUrl}}" target="_blank">
          <div class="chq-map-bar-button">
            <!--<i class="fa fa-share-alt"></i>Share-->
          </div>
        </a>
      </div>
    </div>
    <!--End Map container-->

    <!--Sort by bar
    <div class="chq-sort">
      <span style="font-family:HN-B">Sort by: </span>
      <span>Company's Office Location </span>
      <i class="fa fa-angle-down"></i>
    </div>-->
    <!--End sort by bar-->

    <!--Main page info-->
    <div class="chq-main">
      <div class="chq-main-hdr"><span class="chq-main-bold">Office</span> for {{c_name}}:</div>
      <div class="chq-main-upd"><i class="fa fa-calendar"></i>Last Updated {{c_tr_last_updated}}</div>
      {{#each dataHQ}}
      <div class="chq-main-detail">
        <div class="chq-main-detail-title">{{title}}</div>
        <div class="chq-main-detail-info">
          <ul>
            {{#each line}}
              {{#if isLink}}
                <li><a href="{{text}}">{{text}}</a></li>
              {{else}}
                <li>{{text}}</li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
      {{/each}}
    </div>
    <!--End Main page info-->

    <!-- {{> recommend}} -->
  </div>
  {{/with}}
</template>
