<!--
Author: David Wibowo
Created: [10-15-2015]
Description:conatct us webpage
Associated Files: disclaimer_page.html, disclaimer_page_logic.js, about_us_page.less
-->
<template name="disclaimer_page">
  <div class="abus">
    <a href="#" onclick="history.go(-1)">
      <div class="abus-bkbx">
        <div class="abus-bkbx-bx"><i class="fa fa-reply"></i></div>
        <div class="abus-bkbx-tgl"></div>
        <div class="abus-bkbx-txt">Go Back</div>
      </div>
    </a>
    <div class="abus-about">
        <div class="abus-about-image" style="background-image: url('{{image_url}}');"></div>
      <div class="abus-about-head">
        <div class="abus-about-head-update">Last Updated: {{Update}}</div>
        <div class="abus-about-head-country"><i class="fa fa-map-marker"></i> &nbsp;{{Country}}</div>
        <h1>{{Title}}</h1>
        <h2>{{Statement}}</h2>
      </div>
    </div>
    <div class="abus-kit">
      <div class="abus-kit-left">{{About}}</div>
      <div class="abus-kit-right">
        <!--
        <a href="#"><i class="fa fa-heart"></i><span>Save</span></a>
        <a href="#"><i class="fa fa-share-alt"></i><span class="abt_us-bar-text">Share</span></a>
      -->
      </div>
    </div>

    <div class="abus-cnt">

      <div class="abus-cnt-top">
        <div class="abus-cnt-top-left">Disclaimer</div>
        <div class = "abus-cnt-dropdown">
          Now Reading:
          <select id="sort_by" style = "margin-top: 1px;">
            <option value="About">About Us</option>
            <option value="Contact">Contact Us</option>
            <option value="Copyright">Copyright Infringement</option>
            <option value="Disclaimer">Disclaimer</option>
            <option value="Privacy">Privacy Policy</option>
            <option value="Stock">Stock Disclaimer</option>
            <option value="Terms">Terms of Service</option>
          </select>
        </div>
      </div>

      <div class="abus-cnt-article">
        <h7><i class="fa fa-calendar"></i> Dated June 24,2015</h7>

        <p>In addition to this disclaimer there is a <a href={{privacyPolicy}}>Privacy Policy</a>, <a href="{{termsOfService}}">Terms of Service</a>,<a href="{{copyRight}}"> Digital Millennium Copyright Act</a>, and a<a href="{{stockDisclaimer}}"> Stock Disclaimer</a>.</p>
        <p>©Thomson Reuters 2015. All rights reserved. Republication or redistribution of Thomson Reuters content, including by framing or similar means,
    	is prohibited without the prior written consent of Thomson Reuters. Thomson Reuters is not liable for any errors or delays in Thomson Reuters content,
    	or for any actions taken in reliance on such content. ‘Thomson Reuters’ and the Thomson Reuters logo are trademarks of Thomson Reuters and its affiliated companies.</p>
        <p>For additional information on other Thomson Reuters Services please visit the Thomson Reuters public web site.</p>
        <p>OTC Data provided by OTC Markets Group Inc.</p>
        <p>Financial Data provided by Morningstar. © 2015 Morningstar. All Rights Reserved. The information contained herein: (1) is proprietary to Morningstar and/or its content
    	providers; (2) may not be copied or distributed; and (3) is not warranted to be accurate, complete or timely. Neither Morningstar nor its content providers are responsible
    	for any damages or losses arising from any use of this information. Past performance is no guarantee of future results.</p>

        <p>TERMS AND CONDITIONS OF USE OF S&P DOW JONES INDICES DATA</p>

        <p>BY ACCESSING AND USING THE DATA RELATED TO THE INDICES (THE “INDICES”) PUBLISHED BY S&P DOW JONES INDICES LLC AND/OR ITS AFFILIATES (INCLUDING, WITHOUT LIMITATION,
    	THE INDEX VALUES, HEREAFTER COLLECTIVELY, THE “INDEX DATA") ON THIS WEB SITE, YOU ARE AGREEING TO BE LEGALLY BOUND BY THESE TERMS AND CONDITIONS, INCLUDING ALL AMENDMENTS
    	MADE AFTER JULY 2012. IF ANY OF THESE TERMS AND CONDITIONS ARE UNACCEPTABLE TO YOU, YOU MAY NOT ACCESS OR USE THE INDEX DATA.</p>
        <p>GENERAL TERMS AND CONDITIONS OF USE</p>

        <p>The Indices (including, without limitation, the Dow Jones Averages, Dow Jones Global Indices, Dow Jones Titans Indices, Dow Jones Islamic Market Indices, Dow Jones
    	Sustainability Indices and Dow Jones-UBS Commodity Indices) are proprietary to S&P Dow Jones Indices LLC, its affiliates and/or its licensors (collectively, “S&P Dow
    	Jones Indices”). By accessing and using the Index Data, you are indicating that you are at least 18 years old, and you agree to be bound by all these Terms and Conditions
    	of Use. You may print and keep a copy of these Terms and Conditions of Use, but S&P Dow Jones Indices may change any of these terms at any time. When the terms are changed,
    	the changes will appear in this document. Your use of the Index Data after any changes have been posted will constitute your agreement to the modified Terms and Conditions
    	of Use. Therefore, you should read these Terms and Conditions of Use from time to time. If you do not agree to be bound by these Terms and Conditions of Use or any changes
    	thereto, you should not use the Index Data again.</p>

        <p>PROPRIETARY RIGHTS AND LIMITATIONS ON USE</p>

        <p>The Indices and Index Data are protected by copyright and other intellectual property laws. The Index Data may be used only for your personal, non-commercial purposes.
    	You agree not to modify, copy, reproduce, retransmit, distribute, sell, publish, broadcast, create derivative works from or store the the Index Data (or any portion thereof),
    	without the express prior consent of S&P Dow Jones Indices. You may not use the Index Data for any unlawful purpose.</p>
        <p>All trade names, trademarks, service marks associated with the Indices (whether registered or unregistered) (the "Marks") are proprietary to S&P Dow Jones Indices and/or its
    	licensors and are protected by applicable trademark laws. Nothing contained in this web site should be construed as granting any license or right to use any of the Marks displayed
    	here without the express written permission of S&P Dow Jones Indices or its applicable licensors. Any unauthorized use of the Marks is strictly prohibited.</p>

        <p>Also, you may not use any of the Index Data or the Marks in connection with the issuance, trading, marketing or promotion of investment products (e.g., derivatives, structured
    	products, investment funds, investment portfolios, etc. where the price, return and/or performance of the investment product is based on or related to the Indices) without a separate
    	written agreement with S&P Dow Jones Indices. Further, S&P Dow Jones Indices is not giving investment advice, tax advice, legal advice, or other professional advice by providing the
    	Indices or Index Data, and S&P Dow Jones Indices does not sponsor, recommend or endorse the purchase or sale of any security or investment.</p>

        <p>If you violate any of these terms and conditions, S&P Dow Jones Indices has the right to terminate your access to all or any portion of the Index Data immediately without notice.
    	Your right to use the Index Data is subject to any limits established by S&P Dow Jones Indices in its sole discretion.</p>
        <p>DISCLAIMER OF WARRANTIES AND LIABILITY</p>

        <p>THE INDEX DATA ARE PROVIDED TO YOU "AS IS". NEITHER S&P DOW JONES INDICES, DOW JONES & COMPANY, INC. (“DOW JONES”) NOR ANY OF THEIR RESPECTIVE AFFILIATES, AGENTS OR LICENSORS
    	WARRANTS THE ACCURACY, COMPLETENESS, CURRENTNESS, NONINFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OF THE INDICES OR INDEX DATA. ALTHOUGH S&P DOW JONES INDICES
    	MAKES REASONABLE EFFORTS TO COMPLY WITH ITS GUIDELINES REGARDING THE SELECTION OF COMPONENTS IN THE DOW JONES ISLAMIC MARKET INDICES, S&P DOW JONES INDICES CANNOT GUARANTEE OR
    	WARRANT THAT THOSE INDICES OR THE DATA RELATED THERETO WILL COMPLY WITH SHARIAH LAW OR OTHER ISLAMIC PRINCIPLES AND S&P DOW JONES INDICES EXPRESSLY DISCLAIMS ANY SUCH WARRANTY.
    	NEITHER S&P DOW JONES INDICES NOR ANY OF ITS AFFILIATES, AGENTS OR LICENSORS SHALL BE LIABLE TO YOU OR ANYONE ELSE FOR ANY LOSS OR INJURY RESULTING DIRECTLY FROM USE OF THE INDICES
    	OR INDEX DATA CAUSED IN WHOLE OR PART BY S&P DOW JONES INDICES’ NEGLIGENCE OR CONTINGENCIES BEYOND ITS CONTROL IN PROCURING, COMPILING, INTERPRETING, REPORTING OR DELIVERING THE INDICES
    	OR INDEX DATA. IN NO EVENT WILL S&P DOW JONES INDICES, DOW JONES OR ANY OF THEIR RESPECTIVE AFFILIATES, AGENTS OR LICENSORS BE LIABLE TO YOU OR ANYONE ELSE FOR ANY DECISION MADE OR
    	ACTION TAKEN BY YOU IN RELIANCE ON THE INDICES. NEITHER S&P DOW JONES INDICES, DOW JONES NOR ANY OF THEIR RESPECTIVE AFFILIATES, AGENTS OR LICENSORS SHALL BE LIABLE TO YOU OR ANYONE
    	ELSE FOR ANY DAMAGES (INCLUDING, WITHOUT LIMITATION, CONSEQUENTIAL, SPECIAL, INCIDENTAL, INDIRECT, OR SIMILAR DAMAGES) EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. ADDITIONAL TERMS</p>
        <p>S&P Dow Jones Indices may discontinue or change the Indices and/or Index Data, or their availability to you, at any time without notice. If any provision in these Terms and
    	Conditions of Use is invalid or unenforceable under applicable law, the remaining provisions will continue in full force and effect. These Terms and Conditions of Use, your rights
    	and obligations, and all actions contemplated by this agreement shall be governed by the laws of the State of New York, as if these Terms are a contract wholly entered into and wholly
    	performed within the State of New York. These Terms and Conditions of Use constitute the entire agreement between you and S&P Dow Jones Indices relating to the Indices and Index Data,
    	and they supersede any and all other agreements, oral or in writing, with respect to the indices. The failure of S&P Dow Jones Indices to insist upon strict compliance with any term or
    	provision shall not be construed as a waiver with regard to any subsequent failure to comply with such term or provision. Certain market data is provided by Thomson Reuters for use in
    	calculating the Indices and Index Data. Thomson Reuters shall not be liable for any errors or delays in content, or for any actions taken in reliance thereon.</p>

        <p>The Indices are proprietary to and distributed by S&P Dow Jones Indices and have been licensed for use. "S&P® is a registered trademark of Standard & Poor's Financial Services LLC
    	("S&P") and Dow Jones® is a registered trademark of Dow Jones Trademark Holdings LLC ("Dow Jones"). These trademarks have been licensed for use by S&P Dow Jones Indices LLC and sublicensed
    	for certain purposes.</p>
        <p>For More Information:<a href="http://www.djindexes.com/mdsidx/downloads/crc/DJ_Indexes_Terms_Conditions.pdf" target="_blank"> http://www.djindexes.com/mdsidx/downloads/crc/DJ_Indexes_Terms_Conditions.pdf</a></p>

        <p>If you recommend a video or story by email to a friend/associate, you will need to provide us with your friend/associate's email address. We will not use these email addresses for any other purpose.</p>
        <p>We collect IP addresses for site security and to help us understand how people use the site. We use cookies which contain bits of information that websites transfer to your computer's hard drive for record-keeping purposes. We may give your browser a cookie; however, the cookie does not tell us who you are.</p>
        <p>In addition to cookies, we may use web beacons which allow us to count users who have visited specific pages or access certain cookies. We may use web beacons to count and recognize users, conduct research on behalf of some partners on their websites, and for auditing purposes. In addition, we may use this method to aggregate information about users, including demographic and usage information. Our advertising networks that serve ads on our site may also use web beacons in their advertisements. Any image viewed as part of a website, including an ad banner, can act as a beacon.</p>
        <p>Video provided by MARKETNEWSVIDEO.COM.</p>
        <p>We use IP addresses for working on technology problems, maintaining security, displaying advertising or content to particular users, analyzing the ways in which people use the site and how we can improve it, and for reporting to advertisers about aggregate information from IP addresses.</p>

        <p>We use cookies to gauge our audience size and patterns. We use cookies to target content and ads based upon user interests. Our advertising networks may place or use a unique cookie on your browser.</p>

        <p>We may use third-party networks to serve advertisements on the site and in our emails. These third-parties may use cookies, and/or similar technologies. InvestKit does not control or access these cookies. Use of their tracking technology is subject to their own privacy policies.</p>

        <p>Disclosure of personal information: In the event you sign up for a special offer from an advertiser, we will provide your individual contact information so that the advertiser can deliver the offer. In the event you do not want an advertiser to have your personal information, then do not sign up for that advertiser's offer.</p>

        <p>If you provide us with a physical address we may provide that information to advertisers so that they can send you mail about their own products and services.</p>
        <p>We may disclose your personal information as required by applicable law, or in response to legal process to defend the rights or property of InvestKit.</p>

        <p>The ads appearing on this Website are delivered to you by third parties. Information about your visits to the site, such as the number of times you have viewed an ad is used to serve ads to you.</p>
        <p>Use of the site is not intended for children under the age of 13. We are in compliance with the Children's Online Privacy Protection Act and will not knowingly collect or use personally identifiable information from anyone under 13.</p>

      </div>
    </div>
<!--
    <div class="abus-invhead">Because you like <b>InvestKit</b>, we recommend: <b>The InvestKit Magazine</b></div>

    <div class="abus-rdr">
      <div class="abus-rdr-container">
        <div class="abus-rdr-container-icon"></div>
        <div class="abus-rdr-container-dr">Digital Reader</div>
        <div class="abus-rdr-container-explore">Explore InvestKit</div>
        <div class="abus-rdr-container-line"></div>
        <a href="{{profile_ulr}}">
          <div class="abus-rdr-container-circle"><i class="fa fa-angle-right"></i></div>
        </a>
        <div class="abus-rdr-container-left">{{Profile}}</div>
        <div class="abus-rdr-container-text">Get an in–depth, visual look at today’s stock price,
the compeition, executive compensation
and much more.
        </div>
      </div>
    </div>
-->
  </div>
</template>
