
<!--
Author: Naveen
Created: [07/17/2015]
Description: This file includes html code for the module Earnings_Page
Associated Files: [The Earnings.less, Earnings.html for the module]
!-->
<template name="Earnings">

  <div class="module-3">   <!-- Widget 3 of height of 654px and width of 680px !-->
    <div class="module-header">
      <span class="module-header-line"></span> <!-- for blue line in the header!-->
      <span class="module-header-title">WHAT'S HAPPENNING WITH EARNINGS TODAY?</span> <!-- Header Title !-->
    </div>

    <div class="earning_body">   <!-- created a class name called earning_body and kept all the syling of this widget in those paranthesis !-->
      <div class="earning_body-home_left_column">  <!-- created a class name right_column which has all the other classes inside this and applies all the right styling of "content bg" !-->
        <div class="earning_body-header"> <!--top grey portion with given spec's -->
          <div class="earning_body-headerinside">
            <i class="fa fa-circle"></i><div class="earning_body-headerinsidetext">&nbsp;EARNINGS RELEASE CALANDAR</div>
          </div> <!-- the small blue circle and with text inside the "class of header" !-->
        </div>
        <div class="earning_body-content_rectangle"><!-- created a class of the content with date and text, circle and text !-->
          <div class="earning_body-month_text">Jun
            <div class="earning_body-date_text">08</div>  <!-- class is with specs of date and month !-->
            <div class="earning_body-small_circle"> <!-- creates a circle with given specs !-->
              <div class="home_images1">
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#"> <!-- link class in module.less !-->
            <div class="earning_body-rect_boxtext" > <!-- this div with class rect_boxtext is to keep the text bounded  !-->
              <div class="earning_body-neib_name">Facebook,Inc.
                <div class="earning_body-listing_name">2014
                  <span class="earning_body-available_name">Fiscal Earnings Report </span>   <!-- text with bold and aligned (inline-block) with given specs !-->
                </div>  <!-- text with regular and aligned with given specs !-->
              </div> <!-- the text is listed with given specs !-->
            </div>
          </a>
        </div>

        <!--  created same specs as above for the rest of the Different content classes!-->
        <div class="earning_body-content_rectangle"> <!-- created a class of the content with date and text, circle and text !-->
          <div class="earning_body-month_text">Jul
            <div class="earning_body-date_text">09</div> <!-- class is with specs of date and month !-->
            <div class="earning_body-small_circle"> <!-- creates a circle with given specs !-->
              <div class="home_images2">
              </div> <!-- gives circular image inside the circle with location given in "src"  !-->
            </div>
          </div>
          <a class="module-tile-link" href="#">  <!-- link class in module.less !-->
            <div class="earning_body-rect_boxtext" > <!-- this div with class rect_boxtext is to keep the text bounded  !-->
              <div class="earning_body-neib_name">Facebook, Inc.
                <div class="earning_body-listing_name">2015
                  <div class="earning_body-available_name"> Fiscal Earning Reports </div> <!-- text with bold and aligned (inline-block) with given specs !-->
                </div>   <!-- text with regular and aligned with given specs !-->
              </div> <!-- the text is listed with given specs !-->
            </div>
          </a>
        </div>

        <div class="earning_body-content_rectangle"> <!-- created a class of the content with date and text, circle and text !-->
          <div class="earning_body-month_text">Aug
            <div class="earning_body-date_text">10</div> <!-- class is with specs of date and month !-->
            <div class="earning_body-small_circle">  <!-- creates a circle with given specs !-->
              <div class="home_images4"> <!-- gives circular image the circle with location given in "src"  !-->
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#"> <!-- link class in module.less !-->
            <div class="earning_body-rect_boxtext" > <!-- this div with class rect_boxtext is to keep the text bounded  !-->
              <div class="earning_body-neib_name">Facebook, Inc.
                <div class="earning_body-listing_name">2014
                  <div class="earning_body-available_name"> Q1 Earning Reports </div> <!-- text with bold and aligned (inline-block) with given specs !-->
                </div> <!-- text with regular and aligned with given specs !-->

              </div> <!-- the text is listed with given specs !-->
            </div>
          </a>
        </div>
        <div class="earning_body-content_rectangle"> <!-- created a class of the content with date and text, circle and text !-->

          <div class="earning_body-month_text">Sep
            <div class="earning_body-date_text">29</div> <!-- class is with specs of date and month !-->
            <div class="earning_body-small_circle">  <!-- creates a circle with given specs !-->
              <div class="home_images5"> <!-- gives circular image the circle with location given in "src"  !-->
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#"> <!-- link class in module.less !-->
            <div class="earning_body-rect_boxtext" > <!-- this div with class rect_boxtext is to keep the text bounded  !-->
              <div class="earning_body-neib_name">Facebook, Inc.
                <div class="earning_body-listing_name"> 2015
                  <div class="earning_body-available_name">Q2 Earning Report </div> <!-- text with bold and aligned (inline-block) with given specs !-->
                </div> <!-- text with regular and aligned with given specs !-->
              </div> <!-- the text is listed with given specs !-->
            </div>
          </a>
        </div>
        <div class="earning_body-content_rectangle"> <!-- created a class of the content with date and text, circle and text !-->
          <div class="earning_body-month_text">Jul
            <div class="earning_body-date_text">12</div>  <!-- class is with specs of date and month !-->
            <div class="earning_body-small_circle"> <!-- creates a circle with given specs !-->
              <div class="home_images6"> <!-- gives circular image the circle with location given in "src"  !-->
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#">  <!-- link class in module.less !-->
            <div class="earning_body-rect_boxtext" > <!-- this div with class rect_boxtext is to keep the text bounded  !-->
              <div class="earning_body-neib_name"> Facebook, Inc.
                <div class="earning_body-listing_name"> 2014
                  <div class="earning_body-available_name"> Q4 Earning Report </div> <!-- text with bold and aligned (inline-block) with given specs !-->
                </div> <!-- text with regular and aligned with given specs !-->
              </div> <!-- the text is listed with given specs !-->
            </div>
          </a>
        </div>
        <div class="earning_body-content_rectangle"> <!-- created a class of the content with date and text, circle and text !-->
          <div class="earning_body-month_text">Jun
            <div class="earning_body-date_text">07</div>  <!-- class is with specs of date and month !-->
            <div class="earning_body-small_circle"> <!-- creates a circle with given specs !-->
              <div class="home_images6"> <!-- gives circular image the circle with location given in "src"  !-->
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#">  <!-- link class in module.less !-->
            <div class="earning_body-rect_boxtext" > <!-- this div with class rect_boxtext is to keep the text bounded  !-->
              <div class="earning_body-neib_name"> Facebook, Inc.

                <div class="earning_body-listing_name"> 2015
                  <div class="earning_body-available_name"> Q3 Earning Report </div> <!-- text with bold and aligned (inline-block) with given specs !-->
                </div> <!-- text with regular and aligned with given specs !-->

              </div> <!-- the text is listed with given specs !-->
            </div>
          </a>
        </div>
        <div class="earning_body-content_rectangle"> <!-- created a class of the content with date and text, circle and text !-->
          <div class="earning_body-month_text">Jun
            <div class="earning_body-date_text">25</div> <!-- class is with specs of date and month !-->
            <div class="earning_body-small_circle"> <!-- creates a circle with given specs !-->
              <div class="home_images7"> </div> <!-- gives circular image the circle with location given in "src"  !-->
            </div>
          </div>
          <a class="module-tile-link" href="#">  <!-- link class in module.less !-->
            <div class="earning_body-rect_boxtext" >  <!-- this div with class rect_boxtext is to keep the text bounded  !-->
              <div class="earning_body-neib_name">Facebook, Inc.
                <div class="earning_body-listing_name"> 2013
                  <div class="earning_body-available_name"> Q4 Earning Report</div> <!-- text with bold and aligned (inline-block) with given specs !-->
                </div> <!-- text with regular and aligned with given specs !-->
              </div> <!-- the text is listed with given specs !-->
            </div>
          </a>
        </div>
        <div class="earning_body-content_rectangle"> <!-- created a class of the content with date and text, circle and text !-->
          <div class="earning_body-month_text">Oct
            <div class="earning_body-date_text">07</div> <!-- class is with specs of date and month !-->
            <div class="earning_body-small_circle">  <!-- creates a circle with given specs !-->
              <div class="home_images8">  </div> <!-- gives circular image the circle with location given in "src"  !-->
            </div>
          </div>
          <a class="module-tile-link" href="#">  <!-- link class in module.less !-->
            <div class="earning_body-rect_boxtext" > <!-- this div with class rect_boxtext is to keep the text bounded  !-->
              <div class="earning_body-neib_name">Facebook,Inc.
                <div class="earning_body-listing_name">2015
                  <div class="earning_body-available_name">Q1 Earnings Report</div> <!-- text with bold and aligned (inline-block) with given specs !-->
                </div>  <!-- text with regular and aligned with given specs !-->
              </div> <!-- the text is listed with given specs !-->
            </div>
          </a>
        </div>
      </div>
      <div class="earning_body-home_right_column"> <!-- created a left column for tiles !-->
        <div class="module-tile"> <!-- global class from module.less !-->
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <div class="module-tile-default-icon">
                <i class="fa fa-file-text-o"></i>   <!-- list icon !-->
              </div>
              <div class="module-tile-default-text">
                Prev.Released Earnings   <!-- text for the tile !-->
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#">  <!-- link class in module.less !-->
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa fa-file-text-o"></i>Prev.Released Earnings
              </div>
              <div class="module-tile-info">  </div>
              <div class="earning_body-height">
                <button class="module-tile-button">OPEN PAGE <i class="fa fa-mail-forward"></i></button> <!-- button to open the page !-->
              </div>
            </div>
          </a>
        </div>
        <div class="module-tile"> <!-- global class from module.less !-->
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <div class="module-tile-default-icon">
                <i class="fa fa-search"></i>
              </div>
              <div class="module-tile-default-text">
                Find Earning Releases   <!-- text for the tile !-->
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#">  <!-- link class in module.less !-->
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa fa-search"></i>
                Find Earning Releases
              </div>
              <div class="module-tile-info">  </div>
              <div class="earning_body-height">
                <button class="module-tile-button">OPEN PAGE <i class="fa fa-mail-forward"></i></button> <!-- button to open the page !-->
              </div>
            </div>
          </a>
        </div>
        <div class="module-tile"> <!-- global class from module.less !-->
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <div class="module-tile-default-icon">
                <i class="fa fa-calendar"></i> <!-- large icon !-->
              </div>
              <div class="earning_body-redbutton">
                <span class="earning_body-reddedtext"> NEW </span><!--properties for text inside the button-->
              </div>
              <div class="module-tile-default-text">
                Earnings Calendar  <!-- text for the tile !-->
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#">  <!-- link class in module.less !-->
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa fa-calendar"></i>
                Earnings Calendar
              </div>
              <div class="module-tile-info"></div>
              <button class="module-tile-button module-tile-button-align">OPEN PAGE <i class="fa fa-mail-forward"></i></button> <!-- button to open the page !-->
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="earning_body-home_footer">  <!-- created a external fotter class to make correct alignment !-->
      <div class="module-footer">
        <button class="module-footer-button">
          <span class="module-footer-button-text">SEE WHOLE LIST</span>
          <span class="module-footer-button-ellipse"><i class="fa fa-mail-forward"></i></span>
        </button>
        <!-- END -->
      </div>
    </div>
  </div>
</template>
