<!-- Author: Navya Eetaram
Created: [06/16/2015]
Description: Nearby Amenities Frame
Associated Files: nearby_amenities.html,nearby_amenities.less-->
<template name= "amenities">

  <div class="amenities-module" >

    <div class="module-header">
      <span class="module-header-line"></span>
      <!--widget title-->
      <span class="module-header-title">Amenities withiin 5 miles of this listing</span>
      </div>

    <div class="module_wrapper">
      <!-- Begin Panel-->
      <div class ="amenities-list-panel">
        <div class="amenities-list-panel_title">
          <!--Panel Title-->
          <i class="fa fa-circle blueicons"></i>Amenities near this listing
        </div>
        <div class="image-panel ">
          <!--Linen pattern rectangle -->
          <div class="image-panel_title">What’s the highest rated restaurant?</div>
          <div class="image-panel_location"> <i class="fa fa-map-marker blueicons"></i>{{location}}</div>
          <!--Navugation button and profile image-->
          <div class="image-panel_middlecontainer">
            <a class="image-panel_nav-left" href="#"><i class="fa fa-angle-left"></i></a>
            <a class="image-panel_profile-image" href="{{MainURL}}" style="background-image: url('{{MainImg}}')">
              <!--image hover-->
              <div class="amenities-view-profile">
                <div class="amenities-view-profile_txt1">VIEW</div>
                <div class="amenities-view-profile_txt2">PROFILE</div>
              </div></a>
              <a class="image-panel_nav-right" href="#"><i class="fa fa-angle-right"></i></a>
            </div>
            <!-- Name of the Amenity-->
            <div class="image-panel_amenity-name"> {{name}}</div>
            <!--Address-->
            <div class=" image-panel_amenity-addr"> {{address}}</div>
            <!-- button for linen pattern rectangle-->
            <a href="{{AmenitiesURL}}">
              <div class="image-panel_button">SEE ALL AMENITIES
                <i class="fa fa-mail-forward" style="padding-left:5px">  </i>
              </div>
            </a>
            <!--Down arrow-->
            <span class="image-panel_down-arrow"> </span>
          </div>

          <!-- Amenity lists at the bottom of the panel-->
          <div class="amenities-types">
            <!--Restaurants-->
            <a href="{{RestaurantsURL}}" id="SeeRestaurants">
              <div class="amenities-types_lists">
                <span class="amenities-types_lists_list-image amenities-type_lists_images">
                  <!--SVG code for restaurants icon-->

                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34" height="32"
                  viewBox="0 0 75 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
                  <path d="M36.1,24.5c0,2.4-2.2,5-5.1,5v41.1c0,5.9-8,5.9-8,0V29.5c-2.8,0-5.2-2.2-5.2-5.4V1.5c0-2,2.8-2,2.9,0.1v16.7H23V1.4
                  c0-1.8,2.7-1.9,2.7,0.1v16.8h2.4V1.4c0-1.9,2.7-2,2.7,0.1v16.8h2.4V1.4c0-1.9,2.8-2,2.8,0.1V24.5z"/>
                  <path d="M57.3,6.7v63.9c0,5.7-8,5.6-8,0V45.2h-4.2V6.7C45-2.2,57.3-2.2,57.3,6.7z"/>
                </svg>


              </span>
              <i class="amenities-types_lists_angle-right fa fa-angle-right"></i>
              <div class="amenities-types_lists_line-1">Restaurants
                <span class="amenities-types_lists_seeall">See All</span>
              </div>
            </div>
          </a>
          <!--second Row in the list-->
          <a href="{{GroceryURL}}">
            <div class="amenities-types_lists">
              <span class="amenities-types_lists_list-image">
                <!--SVG code for Groceries icon-->
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34" height="32"
                viewBox="0 0 75 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
                <polygon points="55.6,12.8 19.5,12.8 14.2,15.1 14.2,22.5 60,22.5 60,15.1 "/>
                <path d="M65,42l-7.3-18.8h-4.4L58.8,42h0c0,0,0,0.3,0,0.3c-0.2,1.5-1.5,2.6-3,2.6c-1.6,0-2.9-1.4-3-2.9l-4.1-18.8h-4.4L46.7,42
                c-0.1,1.5-1.4,2.9-3,2.9c-1.7,0-3.1-1.4-3.1-2.9l-0.8-18.8h-4.4L34.5,42h0c-0.1,1.5-1.4,2.9-3.1,2.9c-1.7,0-3.1-1.4-3.1-2.9
                l2.4-18.8h-4.4L22.2,42c-0.1,1.5-1.4,3-3,3c-1.6,0-2.8-1.2-3-2.7c0-0.1,0-0.3,0-0.3h0l5.6-18.8h-4.5L10,42c0,1.5,1.2,3.1,2.8,3.1
                c0.6,0,1.4-0.1,1.4-0.4v17.5H60V44.8c1.5,0.3,1.2,0.3,1.7,0.3C63.4,45.1,65,43.5,65,42z"/>
              </svg>
            </span>
            <i class="amenities-types_lists_angle-right fa fa-angle-right"></i>
            <div class="amenities-types_lists_line-1">Grocery Store
              <span class="amenities-types_lists_seeall">See All</span>
            </div>
          </div>
        </a>
        <!--third Row in the list-->
        <a href="{{BanksURL}}">
          <div class="amenities-types_lists">
            <span class="amenities-types_lists_list-image">
              <!--SVG code for bank icon-->
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="34" height="32"
              viewBox="0 0 75 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
              <path d="M58.6,54.3c-3.5,4.4-8.2,7.5-13.5,9.1l1.9,6.5c6.6-2,12.5-5.9,16.8-11.3L58.6,54.3z M39.1,40.3l0.1,0c1.7,0.5,3,1.2,3.9,2
              c0.9,0.8,1.3,1.9,1.3,3.3c0,1.3-0.5,2.5-1.4,3.5c-0.9,1-2.2,1.7-3.9,2c0,0-0.1,0-0.1,0V40.3z M4.7,29.6
              c-4.1,16.8,5.4,34.3,22.1,39.9c4.8,1.6,9.8,2.1,14.6,1.5l-0.8-6.7c-3.8,0.4-7.8,0.1-11.6-1.2C15.6,58.6,8,44.7,11.2,31.2L4.7,29.6z
              M36,23.5V33c-1.5-0.5-2.6-1.2-3.3-1.8c-0.7-0.7-1.1-1.6-1.1-3c0-1.4,0.4-2.4,1.2-3.1C33.6,24.4,34.9,23.6,36,23.5z M37.5,13.6
              c-0.8,0-1.5,0.7-1.5,1.5v3.6c-3,0.3-5.9,1.2-7.8,3.1c-1.8,1.8-2.7,4.1-2.7,7c0,2.2,0.5,4,1.4,5.3s2.1,2.5,3.6,3.2
              c1.5,0.7,3.3,1.4,5.5,2V51c0,0,0,0,0,0c-1.1-0.3-1.9-0.8-2.6-1.4c-0.7-0.6-1.2-1.2-1.5-2c-0.3-0.7-0.7-1.7-1.2-3.1
              c-0.2-0.6-0.5-1.1-1.1-1.5c-0.5-0.3-1.1-0.5-1.9-0.5c-0.9,0-1.7,0.3-2.3,1c-0.6,0.6-0.9,1.3-0.9,2.1c0,1.1,0.2,2.2,0.7,3.3
              c0.5,1.1,1.2,2.2,2.1,3.2c1,1,2.2,1.9,3.6,2.6c1.5,0.7,3.2,1.1,5,1.3v3.6c0,0.8,0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5v-3.6
              c2.2-0.2,4.4-0.8,6.2-1.8c1.7-1,3-2.4,3.9-4c0.9-1.6,1.3-3.4,1.3-5.3c0-1.5-0.3-2.9-0.8-4.1c-0.6-1.3-1.3-2.4-2.4-3.3
              c-1-0.9-2-1.6-3.3-2c-1.2-0.5-2.9-1-4.9-1.5l-0.1,0V23.5c0,0,0.1,0,0.1,0c2.1,0.7,3.4,2.1,3.9,4.1c0.5,1.8,1.5,2.6,3.1,2.6
              c0.9,0,1.6-0.3,2.2-0.9c0.6-0.6,0.9-1.3,0.9-2.1c0-0.7-0.2-1.6-0.6-2.5c-0.4-0.9-1-1.7-1.7-2.6c-0.9-1.1-2-1.9-3.3-2.5
              c-1.4-0.6-3-0.9-4.7-1.1v-3.6C39.1,14.3,38.4,13.6,37.5,13.6z M50.9,6.5l-2.7,6.2C61,18.3,67.6,32.7,63.1,46.1
              c-0.5,1.5-1.1,3-1.9,4.3l5.9,3.2c0.9-1.7,1.7-3.5,2.3-5.4C75.1,31.5,66.8,13.4,50.9,6.5z M37.9,3.8C24.6,3.6,12,11.4,6.5,24.1
              l6.2,2.7c5.2-12,18.3-18.6,31.1-15.5l1.6-6.6C42.9,4.1,40.4,3.8,37.9,3.8z"/>
            </svg>

          </span>
          <i class="amenities-types_lists_angle-right fa fa-angle-right"></i>
          <div class="amenities-types_lists_line-1">Banks
            <span class="amenities-types_lists_seeall">See All</span>
          </div>
        </div>
      </a>
      <!--Fourth Row in the list-->
      <!--<a href="">
        <div class="amenities-types_lists">
          <span class="amenities-types_lists_list-image">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <i class="amenities-types_lists_angle-right fa fa-angle-right"></i>
          <div class="amenities-types_lists_line-1">Other amenities
            <span class="amenities-types_lists_seeall">See All</span>
          </div>
          <div class="amenities-types_lists_line-2">212 near this listing
          </div>
        </div>
      </a>-->
    </div>

    <!--<div class="amenities-list-panel_footer">
      <!- See whole list Button
      <button class="module-footer-button">
        <span class="module-footer-button-text">SEE WHOLE LIST</span>
        <span class="module-footer-button-ellipse"><i class="fa fa-mail-forward"></i></span>
      </button>
      END ->
    </div>-->
  </div>

  <!-- Begin: Module Tiles of Nearby amenities frame-->
  <!--First Tile-->
  <div class="tile-container">
    <div class="module-tile">
      <div class="module-tile-default">
        <div class="module-tile-default-container">
          <span class="module-footer-button-ellipse amenities-list-panel_tile-ellipse"><i class="fa fa-mail-forward"></i></span>
          <div class="tileicon-spec">
            <!--SVG code for Restaurant icon inside tile-->
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60"
            viewBox="0 0 50 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
            <style type="text/css">
            .st0{fill:#FFFFFF;}
            </style>
            <path class="st0" d="M36.1,24.5c0,2.4-2.2,5-5.1,5v41.1c0,5.9-8,5.9-8,0V29.5c-2.8,0-5.2-2.2-5.2-5.4V1.5c0-2,2.8-2,2.9,0.1v16.7H23
            V1.4c0-1.8,2.7-1.9,2.7,0.1v16.8h2.4V1.4c0-1.9,2.7-2,2.7,0.1v16.8h2.4V1.4c0-1.9,2.8-2,2.8,0.1V24.5z"/>
            <path class="st0" d="M57.3,6.7v63.9c0,5.7-8,5.6-8,0V45.2h-4.2V6.7C45-2.2,57.3-2.2,57.3,6.7z"/>
          </svg>
        </div>
        <div class="module-tile-default-text">Nearby Restaurants
        </div>
      </div>
    </div>

    <!--Hover effects for the tiles-->
    <a class="module-tile-link" href="{{RestaurantsURL}}">
      <div class="module-tile-hover">
        <div class="module-tile-name">
          <!--SVG code for Restaurant icon inside tile hover-->
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20"
          viewBox="0 0 50 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
          <style type="text/css">
          .st0{fill:#FFFFFF;}
          </style>
          <path class="st0" d="M36.1,24.5c0,2.4-2.2,5-5.1,5v41.1c0,5.9-8,5.9-8,0V29.5c-2.8,0-5.2-2.2-5.2-5.4V1.5c0-2,2.8-2,2.9,0.1v16.7H23
          V1.4c0-1.8,2.7-1.9,2.7,0.1v16.8h2.4V1.4c0-1.9,2.7-2,2.7,0.1v16.8h2.4V1.4c0-1.9,2.8-2,2.8,0.1V24.5z"/>
          <path class="st0" d="M57.3,6.7v63.9c0,5.7-8,5.6-8,0V45.2h-4.2V6.7C45-2.2,57.3-2.2,57.3,6.7z"/>
        </svg>

        Nearby Restaurants
      </div>
      <div class="module-tile-info" >
      </div>
      <!--Tile Button -->
      <button class="module-tile-button module-tile-button-align">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
      </div>
    </a>
</div>
<!--Second Tile-->
<div class="module-tile">
  <div class="module-tile-default">
    <div class="module-tile-default-container">
      <span class="module-footer-button-ellipse amenities-list-panel_tile-ellipse"><i class="fa fa-mail-forward"></i></span>

      <div class="tileicon-spec">
        <!--SVG code for Groceries icon inside tile -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60"
        viewBox="0 0 70 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
        <style type="text/css">
        .st0{fill:#FFFFFF;}
        </style>
        <polygon class="st0" points="55.6,12.8 19.5,12.8 14.2,15.1 14.2,22.5 60,22.5 60,15.1 "/>
        <path class="st0" d="M65,42l-7.3-18.8h-4.4L58.8,42h0c0,0,0,0.3,0,0.3c-0.2,1.5-1.5,2.6-3,2.6c-1.6,0-2.9-1.4-3-2.9l-4.1-18.8h-4.4
        L46.7,42c-0.1,1.5-1.4,2.9-3,2.9c-1.7,0-3.1-1.4-3.1-2.9l-0.8-18.8h-4.4L34.5,42h0c-0.1,1.5-1.4,2.9-3.1,2.9c-1.7,0-3.1-1.4-3.1-2.9
        l2.4-18.8h-4.4L22.2,42c-0.1,1.5-1.4,3-3,3c-1.6,0-2.8-1.2-3-2.7c0-0.1,0-0.3,0-0.3h0l5.6-18.8h-4.5L10,42c0,1.5,1.2,3.1,2.8,3.1
        c0.6,0,1.4-0.1,1.4-0.4v17.5H60V44.8c1.5,0.3,1.2,0.3,1.7,0.3C63.4,45.1,65,43.5,65,42z"/>
      </svg>

    </div>
    <div class="module-tile-default-text">Nearby Groceries
    </div>
  </div>
</div>
<a class="module-tile-link" href="{{GroceryURL}}">
  <div class="module-tile-hover">
    <div class="module-tile-name">
      <!--SVG code for Groceries icon inside tile hover -->
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20"
      viewBox="0 0 70 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
      <style type="text/css">
      .st0{fill:#FFFFFF;}
      </style>
      <polygon class="st0" points="55.6,12.8 19.5,12.8 14.2,15.1 14.2,22.5 60,22.5 60,15.1 "/>
      <path class="st0" d="M65,42l-7.3-18.8h-4.4L58.8,42h0c0,0,0,0.3,0,0.3c-0.2,1.5-1.5,2.6-3,2.6c-1.6,0-2.9-1.4-3-2.9l-4.1-18.8h-4.4
      L46.7,42c-0.1,1.5-1.4,2.9-3,2.9c-1.7,0-3.1-1.4-3.1-2.9l-0.8-18.8h-4.4L34.5,42h0c-0.1,1.5-1.4,2.9-3.1,2.9c-1.7,0-3.1-1.4-3.1-2.9
      l2.4-18.8h-4.4L22.2,42c-0.1,1.5-1.4,3-3,3c-1.6,0-2.8-1.2-3-2.7c0-0.1,0-0.3,0-0.3h0l5.6-18.8h-4.5L10,42c0,1.5,1.2,3.1,2.8,3.1
      c0.6,0,1.4-0.1,1.4-0.4v17.5H60V44.8c1.5,0.3,1.2,0.3,1.7,0.3C63.4,45.1,65,43.5,65,42z"/>
    </svg>
    Nearby Groceries
  </div>
  <div class="module-tile-info" >
  </div>
  <button class="module-tile-button module-tile-button-align">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
</div>
</a>
</div>
<!--Third Tile-->
<div class="module-tile">
  <div class="module-tile-default">
    <div class="module-tile-default-container">
      <span class="module-footer-button-ellipse amenities-list-panel_tile-ellipse"><i class="fa fa-mail-forward"></i></span>
      <div class="tileicon-spec">
        <!--SVG code for bank icon inside tile -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60"
        viewBox="0 0 75 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
        <style type="text/css">
        .st0{fill:#FFFFFF;}
        </style>
        <path class="st0" d="M58.6,54.3c-3.5,4.4-8.2,7.5-13.5,9.1l1.9,6.5c6.6-2,12.5-5.9,16.8-11.3L58.6,54.3z M39.1,40.3l0.1,0
        c1.7,0.5,3,1.2,3.9,2c0.9,0.8,1.3,1.9,1.3,3.3c0,1.3-0.5,2.5-1.4,3.5c-0.9,1-2.2,1.7-3.9,2c0,0-0.1,0-0.1,0V40.3z M4.7,29.6
        c-4.1,16.8,5.4,34.3,22.1,39.9c4.8,1.6,9.8,2.1,14.6,1.5l-0.8-6.7c-3.8,0.4-7.8,0.1-11.6-1.2C15.6,58.6,8,44.7,11.2,31.2L4.7,29.6z
        M36,23.5V33c-1.5-0.5-2.6-1.2-3.3-1.8c-0.7-0.7-1.1-1.6-1.1-3c0-1.4,0.4-2.4,1.2-3.1C33.6,24.4,34.9,23.6,36,23.5z M37.5,13.6
        c-0.8,0-1.5,0.7-1.5,1.5v3.6c-3,0.3-5.9,1.2-7.8,3.1c-1.8,1.8-2.7,4.1-2.7,7c0,2.2,0.5,4,1.4,5.3s2.1,2.5,3.6,3.2
        c1.5,0.7,3.3,1.4,5.5,2V51c0,0,0,0,0,0c-1.1-0.3-1.9-0.8-2.6-1.4c-0.7-0.6-1.2-1.2-1.5-2c-0.3-0.7-0.7-1.7-1.2-3.1
        c-0.2-0.6-0.5-1.1-1.1-1.5c-0.5-0.3-1.1-0.5-1.9-0.5c-0.9,0-1.7,0.3-2.3,1c-0.6,0.6-0.9,1.3-0.9,2.1c0,1.1,0.2,2.2,0.7,3.3
        c0.5,1.1,1.2,2.2,2.1,3.2c1,1,2.2,1.9,3.6,2.6c1.5,0.7,3.2,1.1,5,1.3v3.6c0,0.8,0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5v-3.6
        c2.2-0.2,4.4-0.8,6.2-1.8c1.7-1,3-2.4,3.9-4c0.9-1.6,1.3-3.4,1.3-5.3c0-1.5-0.3-2.9-0.8-4.1c-0.6-1.3-1.3-2.4-2.4-3.3
        c-1-0.9-2-1.6-3.3-2c-1.2-0.5-2.9-1-4.9-1.5l-0.1,0V23.5c0,0,0.1,0,0.1,0c2.1,0.7,3.4,2.1,3.9,4.1c0.5,1.8,1.5,2.6,3.1,2.6
        c0.9,0,1.6-0.3,2.2-0.9c0.6-0.6,0.9-1.3,0.9-2.1c0-0.7-0.2-1.6-0.6-2.5c-0.4-0.9-1-1.7-1.7-2.6c-0.9-1.1-2-1.9-3.3-2.5
        c-1.4-0.6-3-0.9-4.7-1.1v-3.6C39.1,14.3,38.4,13.6,37.5,13.6z M50.9,6.5l-2.7,6.2C61,18.3,67.6,32.7,63.1,46.1
        c-0.5,1.5-1.1,3-1.9,4.3l5.9,3.2c0.9-1.7,1.7-3.5,2.3-5.4C75.1,31.5,66.8,13.4,50.9,6.5z M37.9,3.8C24.6,3.6,12,11.4,6.5,24.1
        l6.2,2.7c5.2-12,18.3-18.6,31.1-15.5l1.6-6.6C42.9,4.1,40.4,3.8,37.9,3.8z"/>
      </svg>
    </div>
    <div class="module-tile-default-text">Nearby Banks
    </div>
  </div>
</div>

<a class="module-tile-link" href="{{BanksURL}}">
  <div class="module-tile-hover" >
    <div class="module-tile-name">
      <!--SVG code for bank icon inside tile hover-->
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20"
      viewBox="0 0 75 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
      <style type="text/css">
      .st0{fill:#FFFFFF;}
      </style>
      <path class="st0" d="M58.6,54.3c-3.5,4.4-8.2,7.5-13.5,9.1l1.9,6.5c6.6-2,12.5-5.9,16.8-11.3L58.6,54.3z M39.1,40.3l0.1,0
      c1.7,0.5,3,1.2,3.9,2c0.9,0.8,1.3,1.9,1.3,3.3c0,1.3-0.5,2.5-1.4,3.5c-0.9,1-2.2,1.7-3.9,2c0,0-0.1,0-0.1,0V40.3z M4.7,29.6
      c-4.1,16.8,5.4,34.3,22.1,39.9c4.8,1.6,9.8,2.1,14.6,1.5l-0.8-6.7c-3.8,0.4-7.8,0.1-11.6-1.2C15.6,58.6,8,44.7,11.2,31.2L4.7,29.6z
      M36,23.5V33c-1.5-0.5-2.6-1.2-3.3-1.8c-0.7-0.7-1.1-1.6-1.1-3c0-1.4,0.4-2.4,1.2-3.1C33.6,24.4,34.9,23.6,36,23.5z M37.5,13.6
      c-0.8,0-1.5,0.7-1.5,1.5v3.6c-3,0.3-5.9,1.2-7.8,3.1c-1.8,1.8-2.7,4.1-2.7,7c0,2.2,0.5,4,1.4,5.3s2.1,2.5,3.6,3.2
      c1.5,0.7,3.3,1.4,5.5,2V51c0,0,0,0,0,0c-1.1-0.3-1.9-0.8-2.6-1.4c-0.7-0.6-1.2-1.2-1.5-2c-0.3-0.7-0.7-1.7-1.2-3.1
      c-0.2-0.6-0.5-1.1-1.1-1.5c-0.5-0.3-1.1-0.5-1.9-0.5c-0.9,0-1.7,0.3-2.3,1c-0.6,0.6-0.9,1.3-0.9,2.1c0,1.1,0.2,2.2,0.7,3.3
      c0.5,1.1,1.2,2.2,2.1,3.2c1,1,2.2,1.9,3.6,2.6c1.5,0.7,3.2,1.1,5,1.3v3.6c0,0.8,0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5v-3.6
      c2.2-0.2,4.4-0.8,6.2-1.8c1.7-1,3-2.4,3.9-4c0.9-1.6,1.3-3.4,1.3-5.3c0-1.5-0.3-2.9-0.8-4.1c-0.6-1.3-1.3-2.4-2.4-3.3
      c-1-0.9-2-1.6-3.3-2c-1.2-0.5-2.9-1-4.9-1.5l-0.1,0V23.5c0,0,0.1,0,0.1,0c2.1,0.7,3.4,2.1,3.9,4.1c0.5,1.8,1.5,2.6,3.1,2.6
      c0.9,0,1.6-0.3,2.2-0.9c0.6-0.6,0.9-1.3,0.9-2.1c0-0.7-0.2-1.6-0.6-2.5c-0.4-0.9-1-1.7-1.7-2.6c-0.9-1.1-2-1.9-3.3-2.5
      c-1.4-0.6-3-0.9-4.7-1.1v-3.6C39.1,14.3,38.4,13.6,37.5,13.6z M50.9,6.5l-2.7,6.2C61,18.3,67.6,32.7,63.1,46.1
      c-0.5,1.5-1.1,3-1.9,4.3l5.9,3.2c0.9-1.7,1.7-3.5,2.3-5.4C75.1,31.5,66.8,13.4,50.9,6.5z M37.9,3.8C24.6,3.6,12,11.4,6.5,24.1
      l6.2,2.7c5.2-12,18.3-18.6,31.1-15.5l1.6-6.6C42.9,4.1,40.4,3.8,37.9,3.8z"/>
    </svg>
    Nearby Banks
  </div>
  <div class="module-tile-info" >
  </div>
  <button class="module-tile-button">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
</div>
</a>
</div>

<!--Bottom tile : Load More
<a href="#">
  <div class="load-more-tile">
    <div class="module-tile-default-container">
      <div class="module-tile-default-text">Load More...  </div>
    </div>

  </div>
</a>
End of Module tiles -->
</div>
</div>
</div>
</template>
