<template name="didnt_find">
  <div class="re_discover_small">
    <div class="re_discover_small-title1">DIDN'T FIND THE CONTENT YOU WERE LOOKING FOR?</div>
    <div class="re_discover_small-subtitle">Search our database for all public companies in the United States.</div>
    <form autocomplete="off">
      <div class="re_mainsearch">
        <input type="text" name="keyword" class="re_mainsearch-text" placeholder="Search...">
        <button class="re_searchbtn fa fa-search"></button>
        <ul class="discover_recommendations">
          <div class="caret-top"></div>
          <i class="fa fa-times discover_recommendations_close"></i>
        </ul>
      </div>
    </form>
  </div>
</template>
