<template name="directory_layout">
  <!-- <div class="directory_page">

    {{> directory_list_button}}

    <!-Clickable links on directory page drop down links END->
  </div> -->
  {{> navbar}}

</template>

<template name="directory_list_button">
  <div class="dir-dropdown-block">
    <span class="dropdown-button">INVESTKIT > TRENDING LISTS</span>
    <div class="dropdown-container" style="display: none">
      <ul class="ul-list">
        {{#each dirList}}
          <a href="{{pathFor 'content.finance.directory' list=linkVal pageNum=pageNum}}">
            <li class="dir-list-item" title={{name}}>
              <i class="fa fa-angle-right"></i>{{name}}
            </li>
          </a>
        {{/each}}
      </ul>
    </div>
    <span class="dropdown-button2">Directories</span>
    <div class="dropdown-container" style="display: none">
      <ul class="ul-list">
        {{#each dirList}}
          <a href="{{pathFor 'content.finance.directory' list=linkVal pageNum=pageNum}}">
            <li class="dir-list-item" title={{name}}>
              <i class="fa fa-angle-right"></i>{{name}}
            </li>
          </a>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
