<!-- Header template -->
<template name="finance_layout">
  <div id="partner" style="height:{{partner_height}}">
    {{{partner_header}}}
  </div>
  <div class="leaderboard_ad">
    <div class="leaderboard_space" >
      <iframe id="leaderboard_iframe" frameborder="0" scrolling="no" style="display: block; height: 110px; width: 900px; margin: 0px; border: 0px; overflow: hidden;"></iframe>
      <!-- <a href="">
      <img src="/ads/728x90.jpg" />
    </a> -->
  </div>
</div>
  <div class="finance-content">
    {{> yield "header"}}
    {{> header_nav}}

    <table class="finance_body">
      <tr>
        <td class="finance_body_left"></td>
        <td class="finance_body_skyscraper">{{> left_ad_zone}}</td>
        <td class="finance_body_center">
          {{> yield}}
        </td>
        <td class="finance_body_faq">{{> ad_zone}}</td>
        <td class="finance_body_right"></td>
      </tr>
    </table>
    {{> footer}}
  </div>
</template>
<!-- END Header template -->

<!-- Header template -->
<template name="finance_layout_loading">
  <div id="partner" style="height:{{partner_height}}">
    {{{partner_header}}}
  </div>
  <div class="finance-content">
    {{> yield "header"}}
    {{> header_nav}}

    <table class="finance_body">
      <tr>
        <td class="finance_body_left"></td>
        <td class="finance_body_center">
          {{> yield}}
        </td>
        <td class="finance_body_right"></td>
      </tr>
    </table>
    {{> footer}}
  </div>
</template>

<template name="finance_layout_home">
  <div id="partner" style="height:{{partner_height}}">
    {{{partner_header}}}
  </div>
  <div class="finance-content">
    {{> yield "header"}}
    <div class="directory_page" style="width: 100%; font-size: 2vw; height:auto;"></div>
    {{#unless myinvestkit}}
      {{> header_nav}}
    {{/unless}}

    {{> yield}}
  {{> footer}}
  </div>
</template>
<!-- END Header template -->
