<!--Author: [Praveen Kumar]
Created: [07/17/2015]
Description: [Finance : Who's Who Page Module]-->

<template name="new_whos_who">
  <div class="whos_who">
    <div class="module-header">
      <span class="module-header-line"></span><span class="module-header-title">{TITLE HERE}</span>
    </div>
    <!--Top Carousel-->
    <div class="ww_top">
      <div class="ww_top-image">
        <div class="ww_top-image-counter">#1</div>
        <div class="ww_top-image-subimage"></div>
      </div>
      <div class="ww_top-content">
        <div class="ww_top-content-title">
          <i class="fa fa-circle" style="color:#3098ff"></i>
          FACEBOOK EXECUTIVES
        </div>
        <div class="ww_top-content-desc">
          <b>Mark Zuckerberg</b> is the Chief Executive Officer for <b>Facebook, Inc.</b>
        </div>
        <div class="ww_top-content-date">
          Last Updated: {date}
        </div>
      </div>
      <div class="ww_top-button">
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
    <!--Top Carousel END-->
    <!--TAGS-->
    <div class="ww_tags">
      <div class="ww_tags-1">EXECUTIVE</div>
      <div class="ww_tags-2">COMPANY</div>
      <div class="ww_tags-3">POSITION</div>
    </div>
    <!--TAGS END-->
    <!--List-->
    <div class="ww_list">
      <div class="ww_list-items">
        <div class="ww_list-items-content1">
          <div class="ww_list-items-index">1.</div>
          <div class="ww_list-items-image"></div>
          <div class="ww_list-items-item1">Sheryl Sandberg</div>
        </div>
        <div class="ww_list-items-content2">
          <div class="ww_list-items-item2">Facebook, Inc.</div>
        </div>
        <div class="ww_list-items-content3">
          <div class="ww_list-items-item3">Chief Opperating Officer & Chief of the Board</div>
        </div>
      </div>
      <!--mod footer -->
      <div class="module-footer1" >
        <a href="{{WholeListURL}}"><button class="module-footer-button-2">
          <div class="module-footer-button-logo"></div>
          <div class="module-footer-button-text"><span style="padding-right:10px">See The List</span><i class="fa fa-angle-right"></i></div>
        </button></a>
      </div>
      <!--mod footer END -->
    </div>
    <!--List END-->
  </div>
</template>
























<!--template begins-->
<template name="whos_who">
  {{#with checkdata}}
  <!-- Html and CSS implementation-->
  <div class="module-who-layout">
    <div class="module-header">
      <span class="module-header-line"></span><span class="module-header-title">Who's Who At {{companyName}}</span>
    </div>
    <!--wrapper to hold both left and right panels-->
    <div class="module-who-outer-wrapper">
      <!--wrapper for left panel-->
      <div class="module-who-inner-left-wrapper">
        <!--                 tile 1                  -->
        {{#each wtile}}
        <div class="module-tile">
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <div class="module-tile-default-icon">
                <i class="fa {{fnt}}"></i>
              </div>
              <div class="module-tile-default-text">
                {{name}}
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="{{url}}">
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa {{fnt}}"></i>{{name}}
              </div>
              <div class="module-tile-info">
              </div>
              <button class="module-tile-button module-tile-button-align">OPEN PAGE <i class="fa fa-mail-forward"></i></button>
            </div>
          </a>
        </div>
        {{/each}}

      </div>
      <!--end of left panel-->

      <!--wrapper for right panel-->
      <div class="module-who-inner-right-wrapper">
        <div class="module-who-rightpanel-layout">
          <div class="module-who-rightpanel-titlebar">
            <span class="module-who-title-line"><i class="fa fa-circle module-who-title-align"></i>People Who Work For {{companyName}}</span>
          </div>
          <!--Top Component-->
          <div class="module-who-rightpanel-layout-component1">
            <div class="module-who-panel-topbackground">
              <div class="module-who-rpanel-line1">
                Who's trending at {{companyName}}?
              </div>
              <div class="module-who-line2-container">
                <!--
                <i class="fa fa-map-marker" style="color:#3098ff">
                </i>&nbsp;
                <span class="module-who-rpanel-line2">
                  {{loc_bwn}}
                </span>
              -->
              </div>
              <div class="module-who-image-wrapper">
                <div class="module-who-button-left">
                  <i class="fa fa-angle-left"></i>
                </div>
                <div class="module-who-button-right">
                  <i class="fa fa-angle-right"></i>
                </div>
                <div class="module-who-image-fix">
                  <div class="module-who-profile-image1" style="background-image:url('{{imageUrl execImage}}')">
                    <a href="{{execURL}}">
                      <div class="module-who-profile-image2">
                        <div class="module-who-view-profile_txt1">VIEW</div>
                        <div class="module-who-view-profile_txt2">PROFILE</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="module-who-rpanel-line3">
                {{author_name}}
              </div>
              <div class="module-who-line4-container">
                <span class="module-who-rpanel-line4">
                  {{companyName}}&nbsp;|&nbsp; {{titles}}
                </span>
              </div>
              <div class="module-who-VA-wrap">
                <a href="{{connectionsURL}}">
                  <button type="button" class="module-who-btn-VA">
                    <span class="module-who-ellipcir">
                    <i class="fa fa-line-chart"></i>
                  </span>
                    <span class="module-who-txtv"> View All Connections </span>
                    <span class="module-who-rt"> <i class="fa fa-angle-right"> </i> </span>
                  </button>
                </a>
              </div>
              <div class="module-who-panel-fix">
              </div>
            </div>
          </div>

          <!--Bottom component begins-->
          <div class="module-who-rightpanel-layout-component2">
            <!--sub-component 1-->
            {{#each everyech}}
            <a href="{{url}}">
              <div class="module-who-bcontent-wrap">
                <div class="module-who-bcontent-subwrap1">
                  <div class="module-who-scircle" style="background-image:url('{{imageUrl exec_image}}')">
                    <div class="module-who-scircle2"></div>
                  </div>
                </div>
                <div class="module-who-bcontent-subwrap2">
                  <div class="module-who-bcontent-text1">{{pnames}}</div>
                  <div class="module-who-bcontent-text2">{{company}}</div>&nbsp;
                  <div class="module-who-bcontent-text3">&nbsp;-&nbsp; {{ptitle}}</div>
                </div>
                <div class="module-who-bcontent-subwrap3">
                  <i class="fa fa-angle-right fa-2x"></i>
                </div>
              </div>
            </a>
            {{/each}}

          </div>
        </div>
      </div>
      <!--end of right panel-->
    </div>
    <!--end of outer wrapper-->
  </div>
  {{/with}}
</template>
<!--end of template-->
