<!--Author: [Thanush Subramanian Elango]
Created: [07/15/2015]
Description: [trnding_news]
Associated Files:[trnding_news.less]!-->

<template name="trending_news">
  <div class="news_trndnews">
    <div class="module-header">
      <span class="module-header-linenew"></span><span class="module-header-title">TRENDING STORIES TODAY</span>
    </div>
    <!--************Widget Background Image  ************!-->
    <div class="news_trndnews-news_main_body">
      <!--*************The wrpr for the left and right Buttons  ***************!-->
      <div class="news_trndnews-news_center_wrpr">
        <!--***********Left Button Creation ************!-->
        <button class="news_trndnews-news_left_button">
          <div class="news_trndnews-news_icons">
            <i class="fa fa-angle-left"></i>
          </div>
        </button>
        <!--**********right Button Creation ***********!-->
        <button class="news_trndnews-news_right_button">
          <div class="news_trndnews-news_icons2">
            <i class="fa fa-angle-right"></i>
          </div>
        </button>
      </div>
      <!--************wrpr for the bottom bar************!-->
      <div class="news_trndnews-my_frame_bottom">
        <!--********wrpr for the Text at the bottom of the page ***********!-->
        <div class="news_trndnews-news_textwrpr">
          <!--***********Font Awesome for the Text at the bottom of the page *************!-->
          <div class="news_trndnews-news_font_icon">
            <i class="fa fa-pencil"></i>
            <span class="news_trndnews-news_font_text">
              &nbsp;Written By: {{trnd_writtenby}} at {{trnd_timestamp}}
            </span>
          </div>
          <!--***********Text at the bottom of the page ***********!-->
          <!--***********Text at the bottom of the page for the trndnews name ***********!-->
          <div class="news_trndnews-news_text1">{{trnd_name}}
          </div>
        </div>
        <!--********Button at the bottom of the page ***********!-->
        <!--***********View airtcle button***********!-->
        <button class="news_trndnews-news_button-wrpr">
          <span class="news_trndnews-news_button-text">
            View Article
          </span>
          <!--********Share icon at the bottom of the page inside the button ***********!-->
          <span class="news_trndnews-news_button-text">
            &nbsp;<i class="fa fa-share"></i>
          </span>
        </button>
      </div>
      <!--Profile Image at the bottom of the page!-->
      <div class="news_trndnews-news_circle1">
        <div class="news_trndnews-news_circle2">
        </div>
      </div>
      <!--Profile Image Hover at the bottom of the page!-->
      <div class="news_trndnews-news_viewprof">
        <span class="news_trndnews-news_viewprof_txt1">View</span>
        <span class="news_trndnews-news_viewprof_txt2">Profile</span>
      </div>
    </div>
  </div>
</template>
