
<template name="property_history">
  <!-- Replaced widget with module-->
  <div class="module-3">

    <div class="module-header">
      <span class="module-header-line"></span>
      <span class="module-header-title">PROPERTY HISTORY</span>
    </div>
    <div class="module-wrapper">
      <div class="propertyhistory-leftpanel">

        <!-- left panel .Updated tiles according to ../client/stylesheets/synapsis/modules.less -->
        <!-- left panel tiles start here -->

        <div class="module-tile">
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <div class="module-tile-default-icon">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="module-tile-default-text">
                Trends
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#">
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa fa-calendar"></i>Trends
              </div>
              <div class="module-tile-info"></div>
              <button class="module-tile-button">OPEN PAGE <i class="fa fa-calendar"></i></button>
            </div>
          </a>
        </div>

        <div class="module-tile">
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <div class="module-tile-default-icon">
                <i class="fa fa-dollar"></i>
              </div>
              <div class="module-tile-default-text">
                Affordability
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#">
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa fa-dollar"></i>Affordability
              </div>
              <div class="module-tile-info"></div>
              <button class="module-tile-button ">OPEN PAGE <i class="fa fa-dollar"></i></button>
            </div>
          </a>
        </div>
        <div class="module-tile">
          <div class="module-tile-default">
            <div class="module-tile-default-container">
              <div class="module-tile-default-icon">
                <i class="fa fa-home"></i>
              </div>
              <div class="module-tile-default-text propertyhistory-leading">
                Home Surrounding
              </div>
            </div>
          </div>
          <a class="module-tile-link" href="#">
            <div class="module-tile-hover">
              <div class="module-tile-name">
                <i class="fa fa-home"></i>Home Surrounding
              </div>
              <div class="module-tile-info"></div>
              <button class="module-tile-button  module-tile-button-align">OPEN PAGE <i class="fa fa-home"></i></button>
            </div>
          </a>
        </div>
      </div>
      <!-- left panel tiles start here -->
      <!-- right panel .Updated according to ../client/stylesheets/modules/property_history.less -->
      <!-- right panel container starts here -->
      <div class="propertyhistory-pacontainer">

        <!-- right panel header starts here -->
        <div class="propertyhistory-pacontainer-RectangleHeader"><b class = "propertyhistory-pacontainer-RectangleHeader-headerContern">
          <i class="fa fa-circle propertyhistory-pacontainer-RectangleHeader-headerContern-circle"></i> home comparison in the lincoln park area  </b></div>
          <!--right panel header starts here-->
          <!-- right panel Home comparison key bar starts here -->
          <div class="propertyhistory-pacontainer-pabar">

            <!-- Home bar has Home value, Home text, Dropdown Rectangle and ellipse included starts here -->
            <div class="propertyhistory-pacontainer-pabar-valuebg">
              <div class="propertyhistory-pph4">
                <div class="propertyhistory-pacontainer-pabar-valuebg-valuetext">$730,239
                </div>
                <div class="propertyhistory-pacontainer-pabar-valuebg-hometext">This Home
                </div>
              </div>
              <div class="propertyhistory-pacontainer-pabar-valuebg-pellipsis propertyhistory-pph5">
                <span class="propertyhistory-pacontainer-pabar-valuebg-pellipsis-vs">VS
                </span>
              </div>
              <div class="propertyhistory-pacontainer-pabar-ddrect">
                <div class="propertyhistory-pacontainer-pabar-ddrect-ddtext">Sold Price
                </div>

                <ul class="propertyhistory-ddicon">

                  <li> <i class="fa fa-angle-up"></i> </li>
                  <li> <i class="fa fa-angle-down"></i></li>
                </ul>

              </div>
            </div><!-- Home bar has Home value, Home text, Dropdown Rectangle and ellipse included starts here  -->
            <!-- Key price and key area starts here -->
            <div class="propertyhistory-propertyhistory-keycontent propertyhistory-di propertyhistory-pph3">
              <div class="propertyhistory-keycontent-roundrectangle propertyhistory-rrblue">
              </div>
              <div class="propertyhistory-keycontent-rightcol">
                <div class="propertyhistory-keycontent-rightcol-valuetext">$356,000
                </div>
                <div class="propertyhistory-keycontent-rightcol-hometext">Lincoln Park
                </div>
              </div>
            </div>
            <div class="propertyhistory-keycontent propertyhistory-di propertyhistory-pph1">
              <div class="propertyhistory-keycontent-roundrectangle propertyhistory-rrorange">
              </div>
              <div class="propertyhistory-keycontent-rightcol">
                <div class="propertyhistory-keycontent-rightcol-valuetext">$450,000
                </div>
                <div class="propertyhistory-keycontent-rightcol-hometext">Zip 60614
                </div>
              </div>
            </div>
            <div class="propertyhistory-keycontent propertyhistory-di propertyhistory-pph2">
              <div class="propertyhistory-keycontent-roundrectangle propertyhistory-rrred">
              </div>
              <div class="propertyhistory-keycontent-rightcol">
                <div class="propertyhistory-keycontent-rightcol-valuetext">$230,000
                </div>
                <div class="propertyhistory-keycontent-rightcol-hometext">Chicago,IL
                </div>
              </div>
            </div> <!-- Key price and key area ends here -->
          </div> <!-- right panel Home comparison key bar ends here -->
          <div id='propertyGraphId' style="height: 204px; width: 452px">
            <!--{{propertyGraph}}-->
          </div>


          <!-- Filter bar which filters graph content based upon days, months and years starts here -->
          <div class="propertyhistory-filterbar">
            <!-- <div class="propertyhistory-filterbar-phfb"> -->
              <!-- <div class="propertyhistory-filterbar-unseldates propertyhistory-filterbar-pdleft">5D</div> -->

              <div class="propertyhistory-filterbar-buttonsbar">

              <span class="propertyhistory-filterbar-unseldates" data-dir="10D">10D</span>
              <span class="propertyhistory-filterbar-unseldates" data-dir="1M">1M</span>
              <span class="propertyhistory-filterbar-unseldates" data-dir="3M">3M</span>
              <span class="propertyhistory-filterbar-unseldates" data-dir="6M">6M</span>
              <span class="propertyhistory-filterbar-unseldates" data-dir="1Y">1Y</span>
              <span id='5Y' class="propertyhistory-filterbar-unseldates" data-dir="5Y">5Y</span>
              <span class="propertyhistory-filterbar-unseldates" data-dir="10Y">10Y</span>

            </div>
          </div>  <!-- Filter bar which filters graph content based upon days, months and years end here -->
          <!-- content rectangle starts here -->
          <div class="propertyhistory-contentrectangle">
            <div class="propertyhistory-contentrectangle-contentMH"></div>

            <div class="propertyhistory-contentrectangle-iconrectangle">

              <a href><div class="propertyhistory-contentrectangle-iconrectangle-icontext"><i class="fa fa-globe propertyhistory-phcr4"></i></div></a></div>
              <div class="propertyhistory-contectrectangle-line">
                <div class="propertyhistory-phcr4">
                  <a href>
                  <span class="propertyhistory-other">
                    <span class="propertyhistory-contentrectangle-line-line1text" >$730,239
                      <div class="propertyhistory-contentrectangle-line-line2text">Avg. Listing Price</div></span>
                    </span></a>
                    <a href>
                    <span class="propertyhistory-other-right">
                      <span><i class="fa fa-angle-right propertyhistory-contentrectangle-line-openbutton"></i></span>
                      <span class="propertyhistory-contentrectangle-line-pricevalue" style="color:#ca1010">3%
                        <div class="propertyhistory-contentrectangle-line-pricedescription">Below Listing Price</div></span>

                      </span></a>
                    </div>
                  </div>

                </div>  <!-- content rectangle ends here -->
                <!-- content rectangle starts here -->
                <div class="propertyhistory-contentrectangle propertyhistory-contentrectangle-phcr2">
                  <div class="propertyhistory-contentrectangle-contentMH"></div>
                  <div class="propertyhistory-contentrectangle-iconrectangle">

                  <a href><div class="propertyhistory-contentrectangle-iconrectangle-icontext"><i class="fa fa-map-marker propertyhistory-phcr4"></i></div></a></div>
                    <div class="propertyhistory-contectrectangle-line">
                      <div class="propertyhistory-phcr4">
                        <a href><span class="propertyhistory-other">
                          <span class="propertyhistory-contentrectangle-line-line1text" >$1,087,307
                            <div class="propertyhistory-contentrectangle-line-line2text">Avg. Listing Price</div></span>
                          </span></a>

                          <a href><span class="propertyhistory-other-right">
                            <span><i class="fa fa-angle-right propertyhistory-contentrectangle-line-openbutton"></i></span>
                            <span class="propertyhistory-contentrectangle-line-pricevalue" style="color:#44b224">31%
                              <div class="propertyhistory-contentrectangle-line-pricedescription">Above Listing Price</div></span>

                            </span></a>
                          </div>
                        </div>

                      </div> <!-- content rectangle ends here -->
                      <!-- content rectangle starts here -->
                      <div class="propertyhistory-contentrectangle propertyhistory-contentrectangle-phcr3">
                        <div class="propertyhistory-contentrectangle-contentMH"></div>
                        <div class="propertyhistory-contentrectangle-iconrectangle">

                          <a href><div class="propertyhistory-contentrectangle-iconrectangle-icontext"><i class="fa fa-usd propertyhistory-phcr4"></i></div></a></div>
                          <div class="propertyhistory-contectrectangle-line">
                            <div class="propertyhistory-phcr4">
                              <a href><span class="propertyhistory-other">
                                <span class="propertyhistory-contentrectangle-line-line1text" >$450,000
                                  <div class="propertyhistory-contentrectangle-line-line2text">Avg. Listing Price</div></span>
                                </span></a>

                              <a href><span class="propertyhistory-other-right">
                                  <span><i class="fa fa-angle-right propertyhistory-contentrectangle-line-openbutton"></i></span>
                                  <span class="propertyhistory-contentrectangle-line-pricevalue" style="color:#ca1010">40%
                                    <div class="propertyhistory-contentrectangle-line-pricedescription">Below Listing Price</div></span>

                                  </span></a>
                                </div>
                              </div>

                            </div> <!-- content rectangle starts here -->


                          </div> <!-- right panel container ends here -->
                        </div>
                      </div>
                    </template>
