<!-- Name :snehalatha pappu
date created: 06/11/15
description:html file for the homes for sale
attached files:homes_for_sale_.html , homes_for_sale.less
-->

<template name= "homes_for_sale">
  <div class="module homesforsale">
    <div class="module-header">
      <span class="module-header-line"></span>
      <span class="module-header-title">HOMES FOR SALE IN {{ModuleLocation}}</span>
    </div>
    <div class="module-wrapper">
      <!--to create a separate column -->
      {{#each ListingList}}
      <div class="{{Class}}">
        <a href="{{ListURL}}"><div class="homesforsale_image" style="background-image: url('{{ImageURL}}')">
          <div class="homesforsale_number">#{{Number}}</div>
        </div></a>
        <div class="homesforsale_location"><div class="left">{{Location}} > {{Neighborhood}}</div><div class="right">Listing price as of <b>{{TimeSinceChange}}</b></div></div>
        <div class="homesforsale_address"><div class="left">{{Address}}</div><div class="right">${{ListPrice}}</div></div>
        <div class="homesforsale_dayonmarket"><div class="left"><b>{{DaysOnMarket}}</b> on the market</div><div class="right"><b>{{Views}}</b> Views</div></div>
        <div class="homesforsale_moreinfo">
          <div class="left">Want more information about this listing?</div>
          <a href="{{ListURL}}"><div class="homesforsale_viewprofile">VIEW PROFILE <i class="fa fa-mail-forward"></i></div></a>
        </div>
      </div>
      {{/each}}
      <div class="module-footer" >
        <!-- can be removed if not in template -->
        <a href="{{WholeListURL}}"><button class="module-footer-button" id="homesforsale_wholelist">
          <span class="module-footer-button-text">SEE WHOLE LIST</span>
          <span class="module-footer-button-ellipse"><i class="fa fa-mail-forward" ></i></span>
        </button></a>
        <!-- END -->
      </div>
    </div>
  </div>
</template>
