<!--Author: [Larry Pham]
Created: [07-10-2015]
Description: [html file for property_features module]
Associated Files: [property_features.less from /stylesheets/modules/  &
called from property_features.html from /templates/modules/  -->



<template name="property_features">
  <div class="prop_feat">
    <!--header area to display listing being featured-->
    <div class="prop_feat-header">
      <div class="prop_feat-headerimagebox">
        <div class="prop_feat-headerimage" style="background-image: url('{{headerimage}}')">
          <div class="prop_feat-bluebutton">
            <i class="fa fa-mail-reply"></i>
          </div>
        </div>
      </div>
      <!--header with basic listing info-->
      <div class="prop_feat-listingtitle">
        <div class="prop_feat-date">
          last updated {{lastupdated}}
        </div>
        <div class="prop_feat-location">
          <i class="fa fa-map-marker"></i>
          {{location}}
        </div>
        <div class="prop_feat-headertitle">
          Property Features
        </div>
        <div class="prop_feat-headeraddress">
          for  {{address}} - {{status}}
        </div>
      </div>
    </div>
    <!--header with basic listing info END-->
    <!--image box to display all listing images-->
    <!--image box header-->
    <div class="prop_feat-image" style="background-image: url('{{mainimage}}')">
      <div class="prop_feat-image-header">
        <div class="prop_feat-image-address">
          <i class="fa fa-map-marker"></i>
          {{address}}
        </div>
        <!--
        <div class="prop_feat-image-saved">
          <i class="fa fa-heart"></i>
          Saved
        </div>
        <div class="prop_feat-image-share">
          <i class="fa fa-share-alt"></i>
          Share
        </div>
      -->
      </div>
      <!--image box buttons-->
      <div class="prop_feat-buttonleft">
        <i class="fa fa-angle-left btnleft"></i>
      </div>
      <div class="prop_feat-buttonright">
        <i class="fa fa-angle-right btnright"></i>
      </div>
      <!--image box buttons END-->
    </div>
    <!--image box header END-->
    <!--image lists-->
    <div class="prop_feat-imagelists">
      {{#each subimages}}
      <div class="prop_feat-imagelists-li" id="{{index}}" style="background-image: url('{{photos}}')"></div>
      {{/each}}
    </div>
    <!--image lists END-->
    <!--what is this page-->
    <div class="prop_feat-thispage">
      <div class="prop_feat-thispage-title">
        What is this page?
      </div>
      <div class="prop_feat-thispage-info">
        This page shows the most current images, virtual tours, videos, summary and property features for {{address}}.
      </div>
    </div>
    <!--what is this page END-->
    <!--breakdown description-->
    <div class="prop_feat-breakdown">
      <div class="prop_feat-breakdown-title">
        Breakdown
        <span class="prop_feat-breakdown-titleaddress">
          for {{address}}
        </span>
      </div>
    </div>
    <div class="prop_feat-breakdown-info2">
      <div class="prop_feat-breakdown-info2-date">
        <i class="fa fa-pencil"></i> Listed since {{listeddate}} ({{currenttolisted}} days ago)
      </div>
      <div class="prop_feat-breakdown-info2-views">
        <!--<i class="fa fa-eye"></i>1,578 Views-->
      </div>
    </div>
    <div class="prop_feat-breakdown-desc">
      <span class="prop_feat-breakdown-desc-address">{{address}}</span>
      {{propertydesc}}
    </div>
    <!--breakdown description END-->
    <!--feature description-->
    <div class="prop_feat-feature">
      <div class="prop_feat-feature-title">
        Features
        <span class="prop_feat-feature-titleaddress">
          for {{address}}
        </span>
      </div>
    </div>
    <div class="prop_feat-feature-info2">
      <div class="prop_feat-feature-info2-date">
        <i class="fa fa-pencil"></i> Information last updated on {{lastupdated}}
      </div>
    </div>
    <div class="prop_feat-feature-lists">
      <table style="width:100%">
        <tr>
          <td class="prop_feat-feature-lists-1">
            <ul>
              <li title="{{price}}"><div>{{price}}</div></li>
              {{#each FeaturesList1}}
              <li title="{{Data}}"><div>{{Data}}</div></li>
              {{/each}}
            </ul>
          </td>
          <td class="prop_feat-feature-lists-2">
            <ul>
              {{#each FeaturesList2}}
              <li title="{{Data}}"><div>{{Data}}</div></li>
              {{/each}}
            </ul>
          </td>
          <!--<td class="prop_feat-feature-lists-3">
            <ul>
              <li>bedroom</li>
            </ul>
          </td>-->
        </tr>
      </table>
    </div>
    <!--feature description END-->
    <!--Search Area-->

    <!--Search Area End-->
    <!--image box to display all listing images END-->
    <!--header area to display listing being featured END-->


  </div>
  {{> search_module}}
</template>
