<template name="realestate_disclaimer">
  <div class="disclaimer">
    <div>Our servers are locked down very heavily by the unix ufw firewall. We use RSA cryptography to secure login credentials so that dictionary attacks are a statistical impossibility. We have portsentry running as a daemon to 'tripwire' certain ports to trick would be hackers into a ban. The data is backed up and stored under root privileges, so that we have a backup plan against corruption.</div>
    <h1>De-Duplication Policy</h1>
    <div>Every time we do our daily update we check if there is already a listing with the same address. If there is a listing with the same address, we replace that listing with the new listing that we just got in the daily update.</div>
  </div>
</template>
