
<template name="dummy_module_1">
  <div class="module-1"><div class="module-header"><span class="module-header-line"></span><span class="module-header-title">module 1</span></div>
    <div class="module-wrapper">

      <!-- Put your code here! -->


      <div class="module-footer">
        <!-- can be removed if not in template -->
        <button class="module-footer-button">
          <span class="module-footer-button-text">SEE WHOLE LIST</span>
          <span class="module-footer-button-ellipse"><i class="fa fa-mail-forward"></i></span>
        </button>
        <!-- END -->
      </div>
    </div>
  </div>
</template>

<template name="dummy_module_2">
  <div class="module-2"><div class="module-header"><span class="module-header-line"></span><span class="module-header-title">module 2</span></div>
    <div class="module-wrapper">

      <!-- Put your code here! -->


      <div class="module-footer">
        <!-- can be removed if not in template -->
        <button class="module-footer-button">
          <span class="module-footer-button-text">SEE WHOLE LIST</span>
          <span class="module-footer-button-ellipse"><i class="fa fa-mail-forward"></i></span>
        </button>
        <!-- END -->
      </div>
    </div>
  </div>
  <div class="module-3"><div class="module-header"><span class="module-header-line"></span><span class="module-header-title">module 3</span></div>
    <div class="module-wrapper">

      <!-- Put your code here! -->


      <div class="module-footer">
        <!-- can be removed if not in template -->
        <button class="module-footer-button">
          <span class="module-footer-button-text">SEE WHOLE LIST</span>
          <span class="module-footer-button-ellipse"><i class="fa fa-mail-forward"></i></span>
        </button>
        <!-- END -->
      </div>
    </div>
  </div>
</template>

<template name="dummy_module_4">
  <div class="module-4"><div class="module-header"><span class="module-header-line"></span><span class="module-header-title">module 4</span></div>
    <div class="module-wrapper">

      <!-- Put your code here! -->


      <div class="module-footer">
        <!-- can be removed if not in template -->
        <button class="module-footer-button">
          <span class="module-footer-button-text">SEE WHOLE LIST</span>
          <span class="module-footer-button-ellipse"><i class="fa fa-mail-forward"></i></span>
        </button>
        <!-- END -->
      </div>
    </div>
  </div>
</template>

<template name="dummy_module_5">
  <div class="module-5"><div class="module-header"><span class="module-header-line"></span><span class="module-header-title">module 5</span></div>
    <div class="module-wrapper">

      <!-- Put your code here! -->


      <div class="module-footer">
        <!-- can be removed if not in template -->
        <button class="module-footer-button">
          <span class="module-footer-button-text">SEE WHOLE LIST</span>
          <span class="module-footer-button-ellipse"><i class="fa fa-mail-forward"></i></span>
        </button>
        <!-- END -->
      </div>
    </div>
  </div>
</template>
