<!-- Author: Ryan Fisher
**** Created: [09/09/2015]
**** Description: Company Executive Page - Money Memory
**** Associated Files: money_memory_page.html, money_memory_page.less, money_memory_page_logic.js
-->

<template name="money_memory_page">
  <div class="mmpg">
    {{#with companyData}}
    <a href="{{backToComp}}">
      <div class="excmp-return">
        <div class="excmp-return-button">
          <i class="fa fa-mail-reply"></i>
        </div>
        <div class="excmp-return-triangle"></div>


        Go Back To <span class="excmp-b">{{c_name}}'s</span> Company Profile
      </div>
    </a>
    <!--Page header-->
    <div class="mmpg-hdr">
      <!-- the header box -->
      <div class="mmpg-hdr-head-box">
        <!-- image inside the header box-->
        <div class="mmpg-hdr-head-image" style="background-image: url('{{imageUrl c_logo}}')">
        </div>
        <!-- the text inside the header box-->
        <div class="mmpg-hdr-text">
          <!-- the latest update-->
          <div class="mmpg-hdr-text-update">
            Last Updated: {{lcsi_price_last_updated}}
          </div>
          <!-- location of the executive-->
          <a href="{{locurl}}">
            <div class="mmpg-hdr-text-loc">
              <i class="fa fa-map-marker"></i> {{location}}
            </div>
          </a>
          <!-- the name of the page-->
          <div class="mmpg-hdr-text-name">
            Money Memory
          </div>
          <!-- the name of the company-->
          <div class="mmpg-hdr-text-auth">
            at {{c_name}}
          </div>
        </div>
      </div>
    </div>

    <!--What is this page? box-->
    <div class="mmpg-about">
      <div class="mmpg-about-hdr">
        <div class="mmpg-about-hdr-txt">Help with this page?</div>
        <button class="mmpg-about-hdr-icon"><i class="fa fa-close"></i></button>
      </div>
      <div class="mmpg-about-txt">
        Money memory allows you to see how much you could have made if you invested in {{c_name}}
        at a certain point in time.  To get started 1.) Input your desired investment, 2.) Select
        your start & end dates and lastly 3.) Click "Submit" and discover the outcome.
      </div>
    </div>
    <!--End What is this page? box-->

    <!--Money Memory section -->
    <div class="mmpg-secthdr">
      <div class="mmpg-secthdr-above">
        <span style="font-family:HN-B">Money Memory</span> for {{c_name}}:
      </div>
    </div>

    <div class="mmpg-monmem">
      <form id="investment-form">
        <div class="mmpg-monmem-lbls">
          <div class="mmpg-monmem-lbl">Initial Investment</div>
          <div class="mmpg-monmem-lbl">Start Date</div>
          <div class="mmpg-monmem-lbl">End Date</div>
        </div>
        <div class="mmpg-monmem-inputs">
          <div class="mmpg-monmem-input">
            <input type="text" name="amount" class="mmpg-monmem-amt" placeholder="Amount here..." value={{initialInvestmentDisplay}}>
            <i class="fa fa-money"></i>
          </div>
          <div id="mm_page_start_div" class="mmpg-monmem-input">
            {{> mm_page_start_date}}
            {{startDateDisplay}}
            <i id="mm_page_start_container" class="fa fa-caret-down"></i><i class="fa fa-calendar"></i>
          </div>
          <div id="mm_page_end_div" class="mmpg-monmem-input">
            {{> mm_page_end_date}}
            {{endDateDisplay}}
            <i id="mm_page_end_container" class="fa fa-caret-down"></i><i class="fa fa-calendar"></i>
          </div>
        </div>
        <div class="mmpg-monmem-result">
          {{#if resultExists}}
            {{#with moneyMemoryResult}}
              <div class="mmpg-monmem-result-lbl">you would have {{earn_lose}}</div>
                <div class="mmpg-monmem-result-amt" style="color: {{colorIndicator}}">${{roi}}</div>
            {{/with}}
          {{else}}
            <div class="mmpg-monmem-result-error">
              No data for this time period.<br>Please try a different time range.
            </div>
          {{/if}}
          <div class="mmpg-monmem-result-bot">
            <button class="mmpg-monmem-result-submit" type="submit">Submit <i class="fa fa-angle-right"></i></button>
          </div>
        </div>
      </form>
    </div>
    <!-- End Money Memory Section-->

    <!--Stock Graph section -->
    <div class="mmpg-secthdr">
      <div class="mmpg-secthdr-above">
        <span style="font-family:HN-B">Stock Graph</span> for {{c_name}}:
      </div>
      <div class="mmpg-secthdr-below">
        <i class="fa fa-calendar"></i> Updated {{lcsi_price_last_updated}}
      </div>
    </div>

    <!--graph container-->
    <div class="mmpg-graph">
      {{> highchartsHelper chartId="monmemChart" chartWidth="650px" chartHeight="200px" chartObject=getMonMemChart}}
    </div>

    <!--sort bar-->
    <div class="mmpg-stock-sort">
      <div class="mmpg-stock-sort-bbl {{isRangeSelected 'mmbbl-0'}}" id="mmbbl-0">1D</div>
      <div class="mmpg-stock-sort-bbl {{isRangeSelected 'mmbbl-1'}}" id="mmbbl-1">5D</div>
      <div class="mmpg-stock-sort-bbl {{isRangeSelected 'mmbbl-2'}}" id="mmbbl-2">10D</div>
      <div class="mmpg-stock-sort-bbl {{isRangeSelected 'mmbbl-3'}}" id="mmbbl-3">1M</div>
      <div class="mmpg-stock-sort-bbl {{isRangeSelected 'mmbbl-4'}}" id="mmbbl-4">3M</div>
      <div class="mmpg-stock-sort-bbl {{isRangeSelected 'mmbbl-5'}}" id="mmbbl-5">6M</div>
      <div class="mmpg-stock-sort-bbl {{isRangeSelected 'mmbbl-6'}}" id="mmbbl-6">9M</div>
      <div class="mmpg-stock-sort-bbl {{isRangeSelected 'mmbbl-7'}}" id="mmbbl-7">1Y</div>
      <div class="mmpg-stock-sort-bbl {{isRangeSelected 'mmbbl-8'}}" id="mmbbl-8">3Y</div>
      <div class="mmpg-stock-sort-bbl {{isRangeSelected 'mmbbl-9'}}" id="mmbbl-9">5Y</div>
      <div class="mmpg-stock-sort-bbl {{isRangeSelected 'mmbbl-10'}}" id="mmbbl-10">10Y</div>
    </div>

    <div class="mmpg-stock-stats">
      <div class="mmpg-stock-stats-left">
        <div class="mmpg-stock-stats-data">
          <div class="mmpg-stock-stats-data-lbl">Current Price</div>
          <div class="mmpg-stock-stats-data-amt">${{csi_price}}</div>
        </div>
        <div class="mmpg-stock-stats-data">
          <div class="mmpg-stock-stats-data-lbl">Open Price</div>
          <div class="mmpg-stock-stats-data-amt">${{csi_opening_price}}</div>
        </div>
        <div class="mmpg-stock-stats-data">
          <div class="mmpg-stock-stats-data-lbl">Close Price</div>
          <div class="mmpg-stock-stats-data-amt">${{csi_closing_price}}</div>
        </div>
        <div class="mmpg-stock-stats-data" style="border:none">
          <div class="mmpg-stock-stats-data-lbl">Day Change $-%</div>
          <div class="mmpg-stock-stats-data-amt" style="color: {{changeColor lcsi_price_last_operator}}">
            <span><i class="fa {{changeIcon lcsi_price_last_operator}}"></i>{{csi_price_change_since_last}}</span>
             |
            <span style="margin-right:0px">{{csi_percent_change_since_last}}</span>
          </div>
        </div>
      </div>
      <div class="mmpg-stock-stats-right">
        <div class="mmpg-stock-stats-data">
          <div class="mmpg-stock-stats-data-lbl">Day Range</div>
          <div class="mmpg-stock-stats-data-amt">${{csi_low}} - ${{csi_high}}</div>
        </div>
        <div class="mmpg-stock-stats-data">
          <div class="mmpg-stock-stats-data-lbl">52 Week Range</div>
          <div class="mmpg-stock-stats-data-amt">${{min_range}} - ${{max_range}}</div>
        </div>
        <div class="mmpg-stock-stats-data" style="border:none">
          <div class="mmpg-stock-stats-data-lbl">Vol<!--/Avg.--></div>
          <div class="mmpg-stock-stats-data-amt">{{csi_trading_vol}}<!--/{{avg_volume}}--></div>
        </div>
      </div>
    </div>
    <!-- End Stock Graph Section-->
    {{/with}}


    {{> search_module}}
  </div>
</template>

<template name="mm_page_start_date">
  <input id="mm-page-start-date" style="display: none">
</template>

<template name="mm_page_end_date">
  <input id="mm-page-end-date" style="display: none">
</template>
