<!--Name: Venkatesh
Created:7/21/2015
Description: Top lists Facebook
Associated Files: list_of_lists.html, list_of_lists_logic.js and list_of_lists.less
-->
<!-- The program starts here-->
<template name="list_of_lists">
  <div class="module-listoflists">
    <div class="list_header"><div class='list_header-line'></div>Top Lists That Feature [Profile Name]{{headerInfo}}
    </div>
    {{#each listsData}}
    <div class="list_ol" style="background-color:{{index_color}}">
      <div class="list_ol-top">
        <div class="list_ol-top-img1" style="background-image:url('/{{c_logo}}')">
          <div class="list_ol-top-img2">#{{tle_ranking}}</div>
        </div>
        <div class="list_ol-top-content">
          {{#each top_list_list}}
          <div class="list_ol-top-content-textbox">
            <div class="list_ol-top-content-textbox-txt1">
              <i class="fa fa-map-marker" style="color:#3098ff"></i>
              United States
            </div>
            <div class="list_ol-top-content-textbox-txt2">
                {{list_of_lists_title}}
            </div>
          </div>
          <div class="list_ol-top-content-compbox">
            {{#each list_of_lists_data}}
            <a href="">
              <div class="list_ol-top-content-compbox-subimages" style="background-image:url('/{{c_logo}}')"></div>
            </a>
            {{/each}}
          </div>
          {{/each}}
          <button class="list_ol-top-content-button">
            <div class="fin_icon"></div>
            <div class="fin_text">See The List <i class="fa fa-angle-right"></i></div>
          </button>
        </div>
      </div>
      <div class="list_ol-bottom">
        <a href=""><div class="list_ol-bottom-share"><i class="fa fa-heart"></i> Save</div></a>
        <a href=""><div class="list_ol-bottom-share"><i class="fa fa-share-alt"></i> Share</div></a>
        <a href=""><div class="list_ol-bottom-feedback"><i class="fa fa-flag"></i> Feedback</div></a>
      </div>
    </div>
    {{/each}}
  </div>
  <!-- End of Template-->
</template>
